# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Dec 13 2022 3:13PM,253030,10,MSP216750,"Methapharm, Inc.",Released
1,Dec 13 2022 3:13PM,253030,10,MSP216755,"Methapharm, Inc.",Released
2,Dec 13 2022 3:13PM,253030,10,MSP216756,"Methapharm, Inc.",Released
3,Dec 13 2022 3:08PM,253029,16,8898094,Sartorius Bioprocess Solutions,Released
4,Dec 13 2022 3:08PM,253028,10,0086246456,ISDIN Corporation,Released
5,Dec 13 2022 3:08PM,253028,10,0086246459,ISDIN Corporation,Released
6,Dec 13 2022 3:08PM,253028,10,0086246562,ISDIN Corporation,Released
7,Dec 13 2022 3:08PM,253028,10,0086246565,ISDIN Corporation,Released
8,Dec 13 2022 3:07PM,253027,10,SNAP2000031833,"Snap Medical Industries, LLC",Released
9,Dec 13 2022 3:07PM,253027,10,SNAPF2560678,"Snap Medical Industries, LLC",Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
39  253025       Released          1
40  253027       Released          2
41  253028       Released          4
42  253029       Released          1
43  253030       Released          3

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
253025                NaN        NaN       1.0
253027                NaN        NaN       2.0
253028                NaN        NaN       4.0
253029                NaN        NaN       1.0
253030                NaN        NaN       3.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
252899                0.0        1.0       0.0
252932               24.0       20.0      36.0
252933               42.0       20.0       1.0
252934               13.0        0.0       7.0
252958                0.0        0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
252899                  0          1         0
252932                 24         20        36
252933                 42         20         1
252934                 13          0         7
252958                  0          0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               252899          0          1         0
1               252932         24         20        36
2               252933         42         20         1
3               252934         13          0         7
4               252958          0          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               252899                   1
1               252932        24        20       36
2               252933        42        20        1
3               252934        13                  7
4               252958                            1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                        Customer
0   Dec 13 2022  3:13PM  253030        10                Methapharm, Inc.
3   Dec 13 2022  3:08PM  253029        16  Sartorius Bioprocess Solutions
4   Dec 13 2022  3:08PM  253028        10               ISDIN Corporation
8   Dec 13 2022  3:07PM  253027        10    Snap Medical Industries, LLC
10  Dec 13 2022  2:46PM  253025        19           ACG North America LLC
11  Dec 13 2022  1:59PM  252994        10                         Bio-PRF
12  Dec 13 2022  1:52PM  253019        21               NBTY Global, Inc.
13  Dec 13 2022  1:45PM  253017        19         GUSA Granules USA, Inc.
14  Dec 13 2022  1:29PM  253015        19         GUSA Granules USA, Inc.
15  Dec 13 2022  1:27PM  253014        10                     Emerginnova

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Dec 13 2022 3:13PM,253030,10,"Methapharm, Inc.",,,3
1,Dec 13 2022 3:08PM,253029,16,Sartorius Bioprocess Solutions,,,1
2,Dec 13 2022 3:08PM,253028,10,ISDIN Corporation,,,4
3,Dec 13 2022 3:07PM,253027,10,"Snap Medical Industries, LLC",,,2
4,Dec 13 2022 2:46PM,253025,19,ACG North America LLC,,,1
5,Dec 13 2022 1:59PM,252994,10,Bio-PRF,,,1
6,Dec 13 2022 1:52PM,253019,21,"NBTY Global, Inc.",,1,
7,Dec 13 2022 1:45PM,253017,19,"GUSA Granules USA, Inc.",,,1
8,Dec 13 2022 1:29PM,253015,19,"GUSA Granules USA, Inc.",,,1
9,Dec 13 2022 1:27PM,253014,10,Emerginnova,,,2

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Dec 13 2022 3:13PM,253030,10,"Methapharm, Inc.",3,,
1,Dec 13 2022 3:08PM,253029,16,Sartorius Bioprocess Solutions,1,,
2,Dec 13 2022 3:08PM,253028,10,ISDIN Corporation,4,,
3,Dec 13 2022 3:07PM,253027,10,"Snap Medical Industries, LLC",2,,
4,Dec 13 2022 2:46PM,253025,19,ACG North America LLC,1,,
5,Dec 13 2022 1:59PM,252994,10,Bio-PRF,1,,
6,Dec 13 2022 1:52PM,253019,21,"NBTY Global, Inc.",,1,
7,Dec 13 2022 1:45PM,253017,19,"GUSA Granules USA, Inc.",1,,
8,Dec 13 2022 1:29PM,253015,19,"GUSA Granules USA, Inc.",1,,
9,Dec 13 2022 1:27PM,253014,10,Emerginnova,2,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Dec 13 2022 3:13PM,253030,10,"Methapharm, Inc.",3,,
1,Dec 13 2022 3:08PM,253029,16,Sartorius Bioprocess Solutions,1,,
2,Dec 13 2022 3:08PM,253028,10,ISDIN Corporation,4,,
3,Dec 13 2022 3:07PM,253027,10,"Snap Medical Industries, LLC",2,,
4,Dec 13 2022 2:46PM,253025,19,ACG North America LLC,1,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Dec 13 2022 3:13PM,253030,10,"Methapharm, Inc.",3.0,NaN,NaN
1,Dec 13 2022 3:08PM,253029,16,Sartorius Bioprocess Solutions,1.0,NaN,NaN
2,Dec 13 2022 3:08PM,253028,10,ISDIN Corporation,4.0,NaN,NaN
3,Dec 13 2022 3:07PM,253027,10,"Snap Medical Industries, LLC",2.0,NaN,NaN
4,Dec 13 2022 2:46PM,253025,19,ACG North America LLC,1.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Dec 13 2022 3:13PM,253030,10,"Methapharm, Inc.",3.0,0.0,0.0
1,Dec 13 2022 3:08PM,253029,16,Sartorius Bioprocess Solutions,1.0,0.0,0.0
2,Dec 13 2022 3:08PM,253028,10,ISDIN Corporation,4.0,0.0,0.0
3,Dec 13 2022 3:07PM,253027,10,"Snap Medical Industries, LLC",2.0,0.0,0.0
4,Dec 13 2022 2:46PM,253025,19,ACG North America LLC,1.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         5565949      90.0       18.0        1.0
12          252958       1.0        0.0        0.0
15          758799      44.0       40.0       79.0
16          505928       1.0        1.0        0.0
17          252964       1.0        0.0        0.0
19          759057       3.0        0.0        0.0
20          505947       2.0        0.0        0.0
21          506005       1.0        1.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  5565949      90.0       18.0        1.0
1        12   252958       1.0        0.0        0.0
2        15   758799      44.0       40.0       79.0
3        16   505928       1.0        1.0        0.0
4        17   252964       1.0        0.0        0.0
5        19   759057       3.0        0.0        0.0
6        20   505947       2.0        0.0        0.0
7        21   506005       1.0        1.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      90.0       18.0        1.0
1        12       1.0        0.0        0.0
2        15      44.0       40.0       79.0
3        16       1.0        1.0        0.0
4        17       1.0        0.0        0.0
5        19       3.0        0.0        0.0
6        20       2.0        0.0        0.0
7        21       1.0        1.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   90.0
1        12  Released    1.0
2        15  Released   44.0
3        16  Released    1.0
4        17  Released    1.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10   12    15   16   17   19   20   21
Status
Completed   1.0  0.0  79.0  0.0  0.0  0.0  0.0  0.0
Executing  18.0  0.0  40.0  1.0  0.0  0.0  0.0  1.0
Released   90.0  1.0  44.0  1.0  1.0  3.0  2.0  1.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10   12    15   16   17   19   20   21
0          Completed   1.0  0.0  79.0  0.0  0.0  0.0  0.0  0.0
1          Executing  18.0  0.0  40.0  1.0  0.0  0.0  0.0  1.0
2           Released  90.0  1.0  44.0  1.0  1.0  3.0  2.0  1.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10   12    15   16   17   19   20   21
0  Completed   1.0  0.0  79.0  0.0  0.0  0.0  0.0  0.0
1  Executing  18.0  0.0  40.0  1.0  0.0  0.0  0.0  1.0
2   Released  90.0  1.0  44.0  1.0  1.0  3.0  2.0  1.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()