# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Jun 22 2022 1:44PM,240217,12,U0942,"Uniderm USA, Inc",Released
1,Jun 22 2022 1:37PM,240214,10,Enova-10192,Emerginnova,Released
2,Jun 22 2022 1:22PM,240213,10,0085795307,ISDIN Corporation,Released
3,Jun 22 2022 1:22PM,240213,10,0085795302,ISDIN Corporation,Released
4,Jun 22 2022 1:22PM,240213,10,0085795303,ISDIN Corporation,Released
5,Jun 22 2022 1:22PM,240213,10,0085795308,ISDIN Corporation,Released
6,Jun 22 2022 1:22PM,240213,10,0085795306,ISDIN Corporation,Released
7,Jun 22 2022 1:22PM,240213,10,0085795309,ISDIN Corporation,Released
8,Jun 22 2022 1:22PM,240213,10,0085795310,ISDIN Corporation,Released
9,Jun 22 2022 1:22PM,240213,10,0085795315,ISDIN Corporation,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
41  240211       Released          1
42  240212       Released          5
43  240213       Released         33
44  240214       Released          1
45  240217       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
240211                NaN        NaN       1.0
240212                NaN        NaN       5.0
240213                NaN        NaN      33.0
240214                NaN        NaN       1.0
240217                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
240124                0.0        1.0       0.0
240133                7.0       17.0      14.0
240134                0.0        0.0       1.0
240135                0.0        0.0       1.0
240137                7.0       10.0      15.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
240124                  0          1         0
240133                  7         17        14
240134                  0          0         1
240135                  0          0         1
240137                  7         10        15

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               240124          0          1         0
1               240133          7         17        14
2               240134          0          0         1
3               240135          0          0         1
4               240137          7         10        15

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               240124                   1
1               240133         7        17       14
2               240134                            1
3               240135                            1
4               240137         7        10       15

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

,Date,id,Warehouse,Customer
0,Jun 22 2022 1:44PM,240217,12,"Uniderm USA, Inc"
1,Jun 22 2022 1:37PM,240214,10,Emerginnova
2,Jun 22 2022 1:22PM,240213,10,ISDIN Corporation
35,Jun 22 2022 1:20PM,240207,12,Hush Hush
38,Jun 22 2022 1:20PM,240205,15,FUJIFILM Diosynth Biotechnologies Texas LLC
39,Jun 22 2022 1:16PM,240212,10,"Methapharm, Inc."
44,Jun 22 2022 1:15PM,240210,10,"Methapharm, Inc."
46,Jun 22 2022 1:15PM,240211,21,"NBTY Global, Inc."
47,Jun 22 2022 1:10PM,240204,19,ACG North America LLC
48,Jun 22 2022 1:08PM,240203,16,Sartorius Stedim Filters Inc.

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Jun 22 2022 1:44PM,240217,12,"Uniderm USA, Inc",,,1
1,Jun 22 2022 1:37PM,240214,10,Emerginnova,,,1
2,Jun 22 2022 1:22PM,240213,10,ISDIN Corporation,,,33
3,Jun 22 2022 1:20PM,240207,12,Hush Hush,,,3
4,Jun 22 2022 1:20PM,240205,15,FUJIFILM Diosynth Biotechnologies Texas LLC,,,1
5,Jun 22 2022 1:16PM,240212,10,"Methapharm, Inc.",,,5
6,Jun 22 2022 1:15PM,240210,10,"Methapharm, Inc.",,,2
7,Jun 22 2022 1:15PM,240211,21,"NBTY Global, Inc.",,,1
8,Jun 22 2022 1:10PM,240204,19,ACG North America LLC,,,1
9,Jun 22 2022 1:08PM,240203,16,Sartorius Stedim Filters Inc.,,1,

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jun 22 2022 1:44PM,240217,12,"Uniderm USA, Inc",1,,
1,Jun 22 2022 1:37PM,240214,10,Emerginnova,1,,
2,Jun 22 2022 1:22PM,240213,10,ISDIN Corporation,33,,
3,Jun 22 2022 1:20PM,240207,12,Hush Hush,3,,
4,Jun 22 2022 1:20PM,240205,15,FUJIFILM Diosynth Biotechnologies Texas LLC,1,,
5,Jun 22 2022 1:16PM,240212,10,"Methapharm, Inc.",5,,
6,Jun 22 2022 1:15PM,240210,10,"Methapharm, Inc.",2,,
7,Jun 22 2022 1:15PM,240211,21,"NBTY Global, Inc.",1,,
8,Jun 22 2022 1:10PM,240204,19,ACG North America LLC,1,,
9,Jun 22 2022 1:08PM,240203,16,Sartorius Stedim Filters Inc.,,1,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jun 22 2022 1:44PM,240217,12,"Uniderm USA, Inc",1,,
1,Jun 22 2022 1:37PM,240214,10,Emerginnova,1,,
2,Jun 22 2022 1:22PM,240213,10,ISDIN Corporation,33,,
3,Jun 22 2022 1:20PM,240207,12,Hush Hush,3,,
4,Jun 22 2022 1:20PM,240205,15,FUJIFILM Diosynth Biotechnologies Texas LLC,1,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jun 22 2022 1:44PM,240217,12,"Uniderm USA, Inc",1.0,NaN,NaN
1,Jun 22 2022 1:37PM,240214,10,Emerginnova,1.0,NaN,NaN
2,Jun 22 2022 1:22PM,240213,10,ISDIN Corporation,33.0,NaN,NaN
3,Jun 22 2022 1:20PM,240207,12,Hush Hush,3.0,NaN,NaN
4,Jun 22 2022 1:20PM,240205,15,FUJIFILM Diosynth Biotechnologies Texas LLC,1.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jun 22 2022 1:44PM,240217,12,"Uniderm USA, Inc",1.0,0.0,0.0
1,Jun 22 2022 1:37PM,240214,10,Emerginnova,1.0,0.0,0.0
2,Jun 22 2022 1:22PM,240213,10,ISDIN Corporation,33.0,0.0,0.0
3,Jun 22 2022 1:20PM,240207,12,Hush Hush,3.0,0.0,0.0
4,Jun 22 2022 1:20PM,240205,15,FUJIFILM Diosynth Biotechnologies Texas LLC,1.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         3842919      75.0       15.0        1.0
12          480424       4.0        0.0        0.0
15         1440974      36.0       45.0       20.0
16          480395       2.0        1.0        0.0
19         1200835       4.0        1.0        0.0
20          720560      16.0        3.0        0.0
21          480408       2.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  3842919      75.0       15.0        1.0
1        12   480424       4.0        0.0        0.0
2        15  1440974      36.0       45.0       20.0
3        16   480395       2.0        1.0        0.0
4        19  1200835       4.0        1.0        0.0
5        20   720560      16.0        3.0        0.0
6        21   480408       2.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      75.0       15.0        1.0
1        12       4.0        0.0        0.0
2        15      36.0       45.0       20.0
3        16       2.0        1.0        0.0
4        19       4.0        1.0        0.0
5        20      16.0        3.0        0.0
6        21       2.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   75.0
1        12  Released    4.0
2        15  Released   36.0
3        16  Released    2.0
4        19  Released    4.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10   12    15   16   19    20   21
Status
Completed   1.0  0.0  20.0  0.0  0.0   0.0  0.0
Executing  15.0  0.0  45.0  1.0  1.0   3.0  0.0
Released   75.0  4.0  36.0  2.0  4.0  16.0  2.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10   12    15   16   19    20   21
0          Completed   1.0  0.0  20.0  0.0  0.0   0.0  0.0
1          Executing  15.0  0.0  45.0  1.0  1.0   3.0  0.0
2           Released  75.0  4.0  36.0  2.0  4.0  16.0  2.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10   12    15   16   19    20   21
0  Completed   1.0  0.0  20.0  0.0  0.0   0.0  0.0
1  Executing  15.0  0.0  45.0  1.0  1.0   3.0  0.0
2   Released  75.0  4.0  36.0  2.0  4.0  16.0  2.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()