# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Jun 28 2022 12:08PM,240628,10,0085810169,ISDIN Corporation,Released
1,Jun 28 2022 12:08PM,240628,10,0085810170,ISDIN Corporation,Released
2,Jun 28 2022 12:08PM,240628,10,0085810166,ISDIN Corporation,Released
3,Jun 28 2022 12:08PM,240628,10,0085810167,ISDIN Corporation,Released
4,Jun 28 2022 12:08PM,240628,10,0085811373,ISDIN Corporation,Released
5,Jun 28 2022 12:08PM,240628,10,0085811375,ISDIN Corporation,Released
6,Jun 28 2022 12:08PM,240628,10,0085811374,ISDIN Corporation,Released
7,Jun 28 2022 12:08PM,240628,10,0085811372,ISDIN Corporation,Released
8,Jun 28 2022 12:08PM,240628,10,0085811453,ISDIN Corporation,Released
9,Jun 28 2022 12:08PM,240628,10,0085811454,ISDIN Corporation,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
39  240624       Released          1
40  240625       Released          1
41  240626       Released         23
42  240627       Released          4
43  240628       Released         39

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Executing  Released
id
240624                NaN       1.0
240625                NaN       1.0
240626                NaN      23.0
240627                NaN       4.0
240628                NaN      39.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Executing  Released
id
240534                0.0       1.0
240535                1.0       0.0
240549                1.0       0.0
240550                0.0       1.0
240574                0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

Column Completed does not exist yet

ShipmentStatus  Executing  Released
id
240534                  0         1
240535                  1         0
240549                  1         0
240550                  0         1
240574                  0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Executing  Released
0               240534          0         1
1               240535          1         0
2               240549          1         0
3               240550          0         1
4               240574          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

Column Completed does not exist yet

ShipmentStatus      id Executing Released
0               240534                  1
1               240535         1
2               240549         1
3               240550                  1
4               240574                  1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                    Date      id Warehouse                    Customer
0    Jun 28 2022 12:08PM  240628        10           ISDIN Corporation
39   Jun 28 2022 12:01PM  240626        20    ACI Healthcare USA, Inc.
62   Jun 28 2022 12:01PM  240627        10            Eywa Pharma Inc.
66   Jun 28 2022 12:00PM  240625        21           NBTY Global, Inc.
67   Jun 28 2022 11:48AM  240624        20           Alumier Labs Inc.
68   Jun 28 2022 11:47AM  240623        20              Exact-Rx, Inc.
69   Jun 28 2022 11:46AM  240622        10            Eywa Pharma Inc.
89   Jun 28 2022 11:44AM  240620        15  Laser Pharmaceuticals, LLC
108  Jun 28 2022 11:44AM  240619        15      Mizner Bioscience, LLC
109  Jun 28 2022 11:35AM  240621        19      NAPP Technologies, LLC

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Executing,Released
0,Jun 28 2022 12:08PM,240628,10,ISDIN Corporation,,39
1,Jun 28 2022 12:01PM,240626,20,"ACI Healthcare USA, Inc.",,23
2,Jun 28 2022 12:01PM,240627,10,Eywa Pharma Inc.,,4
3,Jun 28 2022 12:00PM,240625,21,"NBTY Global, Inc.",,1
4,Jun 28 2022 11:48AM,240624,20,Alumier Labs Inc.,,1
5,Jun 28 2022 11:47AM,240623,20,"Exact-Rx, Inc.",,1
6,Jun 28 2022 11:46AM,240622,10,Eywa Pharma Inc.,,20
7,Jun 28 2022 11:44AM,240620,15,"Laser Pharmaceuticals, LLC",,19
8,Jun 28 2022 11:44AM,240619,15,"Mizner Bioscience, LLC",,1
9,Jun 28 2022 11:35AM,240621,19,"NAPP Technologies, LLC",,1

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing
0,Jun 28 2022 12:08PM,240628,10,ISDIN Corporation,39,
1,Jun 28 2022 12:01PM,240626,20,"ACI Healthcare USA, Inc.",23,
2,Jun 28 2022 12:01PM,240627,10,Eywa Pharma Inc.,4,
3,Jun 28 2022 12:00PM,240625,21,"NBTY Global, Inc.",1,
4,Jun 28 2022 11:48AM,240624,20,Alumier Labs Inc.,1,
5,Jun 28 2022 11:47AM,240623,20,"Exact-Rx, Inc.",1,
6,Jun 28 2022 11:46AM,240622,10,Eywa Pharma Inc.,20,
7,Jun 28 2022 11:44AM,240620,15,"Laser Pharmaceuticals, LLC",19,
8,Jun 28 2022 11:44AM,240619,15,"Mizner Bioscience, LLC",1,
9,Jun 28 2022 11:35AM,240621,19,"NAPP Technologies, LLC",1,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing
0,Jun 28 2022 12:08PM,240628,10,ISDIN Corporation,39,
1,Jun 28 2022 12:01PM,240626,20,"ACI Healthcare USA, Inc.",23,
2,Jun 28 2022 12:01PM,240627,10,Eywa Pharma Inc.,4,
3,Jun 28 2022 12:00PM,240625,21,"NBTY Global, Inc.",1,
4,Jun 28 2022 11:48AM,240624,20,Alumier Labs Inc.,1,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

Column Completed does not exist yet

,Date,id,Warehouse,Customer,Released,Executing
0,Jun 28 2022 12:08PM,240628,10,ISDIN Corporation,39.0,NaN
1,Jun 28 2022 12:01PM,240626,20,"ACI Healthcare USA, Inc.",23.0,NaN
2,Jun 28 2022 12:01PM,240627,10,Eywa Pharma Inc.,4.0,NaN
3,Jun 28 2022 12:00PM,240625,21,"NBTY Global, Inc.",1.0,NaN
4,Jun 28 2022 11:48AM,240624,20,Alumier Labs Inc.,1.0,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing
0,Jun 28 2022 12:08PM,240628,10,ISDIN Corporation,39.0,0.0
1,Jun 28 2022 12:01PM,240626,20,"ACI Healthcare USA, Inc.",23.0,0.0
2,Jun 28 2022 12:01PM,240627,10,Eywa Pharma Inc.,4.0,0.0
3,Jun 28 2022 12:00PM,240625,21,"NBTY Global, Inc.",1.0,0.0
4,Jun 28 2022 11:48AM,240624,20,Alumier Labs Inc.,1.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing
Warehouse
10         1684277      79.0        7.0
15         1443669      72.0       17.0
16          481187       4.0        7.0
17          240550       1.0        0.0
18          240614       1.0        0.0
19         1924768      31.0        3.0
20          962472      40.0        6.0
21         1202847       4.0        1.0
22          240617       1.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing
0        10  1684277      79.0        7.0
1        15  1443669      72.0       17.0
2        16   481187       4.0        7.0
3        17   240550       1.0        0.0
4        18   240614       1.0        0.0
5        19  1924768      31.0        3.0
6        20   962472      40.0        6.0
7        21  1202847       4.0        1.0
8        22   240617       1.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing
0        10      79.0        7.0
1        15      72.0       17.0
2        16       4.0        7.0
3        17       1.0        0.0
4        18       1.0        0.0
5        19      31.0        3.0
6        20      40.0        6.0
7        21       4.0        1.0
8        22       1.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   79.0
1        15  Released   72.0
2        16  Released    4.0
3        17  Released    1.0
4        18  Released    1.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10    15   16   17   18    19    20   21   22
Status
Executing   7.0  17.0  7.0  0.0  0.0   3.0   6.0  1.0  0.0
Released   79.0  72.0  4.0  1.0  1.0  31.0  40.0  4.0  1.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10    15   16   17   18    19    20   21   22
0          Executing   7.0  17.0  7.0  0.0  0.0   3.0   6.0  1.0  0.0
1           Released  79.0  72.0  4.0  1.0  1.0  31.0  40.0  4.0  1.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10    15   16   17   18    19    20   21   22
0  Executing   7.0  17.0  7.0  0.0  0.0   3.0   6.0  1.0  0.0
1   Released  79.0  72.0  4.0  1.0  1.0  31.0  40.0  4.0  1.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()