# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Aug 2 2022 8:30AM,243205,10,0085919771,ISDIN Corporation,Released
1,Aug 2 2022 8:30AM,243205,10,0085919772,ISDIN Corporation,Released
2,Aug 2 2022 8:30AM,243213,10,0085919809,ISDIN Corporation,Released
3,Aug 2 2022 8:30AM,243213,10,0085919810,ISDIN Corporation,Released
4,Aug 2 2022 8:30AM,243213,10,0085919813,ISDIN Corporation,Released
5,Aug 2 2022 8:30AM,243213,10,0085919814,ISDIN Corporation,Released
6,Aug 2 2022 8:30AM,243213,10,0085919815,ISDIN Corporation,Released
7,Aug 2 2022 8:30AM,243213,10,0085919811,ISDIN Corporation,Released
8,Aug 2 2022 8:30AM,243205,10,0085919831,ISDIN Corporation,Released
9,Aug 2 2022 8:30AM,243205,10,0085919832,ISDIN Corporation,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
27  243229       Released          5
28  243230       Released          2
29  243231       Released          4
30  243232       Released          1
31  243233       Released          4

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
243229                NaN        NaN       5.0
243230                NaN        NaN       2.0
243231                NaN        NaN       4.0
243232                NaN        NaN       1.0
243233                NaN        NaN       4.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
243085                0.0        0.0       1.0
243129                0.0        0.0       1.0
243145               13.0       31.0       3.0
243152                0.0        1.0       1.0
243170                0.0       23.0      22.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
243085                  0          0         1
243129                  0          0         1
243145                 13         31         3
243152                  0          1         1
243170                  0         23        22

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               243085          0          0         1
1               243129          0          0         1
2               243145         13         31         3
3               243152          0          1         1
4               243170          0         23        22

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing  Released
0               243085                             1
1               243129                             1
2               243145        13        31         3
3               243152                   1         1
4               243170                  23        22

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released      int32
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                        Customer
0   Aug  2 2022  8:30AM  243205        10               ISDIN Corporation
2   Aug  2 2022  8:30AM  243213        10               ISDIN Corporation
19  Aug  2 2022  8:30AM  243203        10                Methapharm, Inc.
20  Aug  2 2022  8:30AM  243219        10                Methapharm, Inc.
24  Aug  2 2022  8:30AM  243215        10                Eywa Pharma Inc.
28  Aug  2 2022  8:30AM  243217        10                  Citieffe, Inc.
29  Aug  2 2022  8:30AM  243202        10                     Emerginnova
31  Aug  2 2022  8:30AM  243216        10                         Bio-PRF
35  Aug  2 2022  8:27AM  243233        16  Sartorius Bioprocess Solutions
39  Aug  2 2022  8:27AM  243212        10                Eywa Pharma Inc.

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Aug 2 2022 8:30AM,243205,10,ISDIN Corporation,,,6
1,Aug 2 2022 8:30AM,243213,10,ISDIN Corporation,,,13
2,Aug 2 2022 8:30AM,243203,10,"Methapharm, Inc.",,,1
3,Aug 2 2022 8:30AM,243219,10,"Methapharm, Inc.",,,4
4,Aug 2 2022 8:30AM,243215,10,Eywa Pharma Inc.,,,4
5,Aug 2 2022 8:30AM,243217,10,"Citieffe, Inc.",,,1
6,Aug 2 2022 8:30AM,243202,10,Emerginnova,,,2
7,Aug 2 2022 8:30AM,243216,10,Bio-PRF,,,4
8,Aug 2 2022 8:27AM,243233,16,Sartorius Bioprocess Solutions,,,4
9,Aug 2 2022 8:27AM,243212,10,Eywa Pharma Inc.,,,1

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 2 2022 8:30AM,243205,10,ISDIN Corporation,6,,
1,Aug 2 2022 8:30AM,243213,10,ISDIN Corporation,13,,
2,Aug 2 2022 8:30AM,243203,10,"Methapharm, Inc.",1,,
3,Aug 2 2022 8:30AM,243219,10,"Methapharm, Inc.",4,,
4,Aug 2 2022 8:30AM,243215,10,Eywa Pharma Inc.,4,,
5,Aug 2 2022 8:30AM,243217,10,"Citieffe, Inc.",1,,
6,Aug 2 2022 8:30AM,243202,10,Emerginnova,2,,
7,Aug 2 2022 8:30AM,243216,10,Bio-PRF,4,,
8,Aug 2 2022 8:27AM,243233,16,Sartorius Bioprocess Solutions,4,,
9,Aug 2 2022 8:27AM,243212,10,Eywa Pharma Inc.,1,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 2 2022 8:30AM,243205,10,ISDIN Corporation,6,,
1,Aug 2 2022 8:30AM,243213,10,ISDIN Corporation,13,,
2,Aug 2 2022 8:30AM,243203,10,"Methapharm, Inc.",1,,
3,Aug 2 2022 8:30AM,243219,10,"Methapharm, Inc.",4,,
4,Aug 2 2022 8:30AM,243215,10,Eywa Pharma Inc.,4,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 2 2022 8:30AM,243205,10,ISDIN Corporation,6,NaN,NaN
1,Aug 2 2022 8:30AM,243213,10,ISDIN Corporation,13,NaN,NaN
2,Aug 2 2022 8:30AM,243203,10,"Methapharm, Inc.",1,NaN,NaN
3,Aug 2 2022 8:30AM,243219,10,"Methapharm, Inc.",4,NaN,NaN
4,Aug 2 2022 8:30AM,243215,10,Eywa Pharma Inc.,4,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 2 2022 8:30AM,243205,10,ISDIN Corporation,6,0.0,0.0
1,Aug 2 2022 8:30AM,243213,10,ISDIN Corporation,13,0.0,0.0
2,Aug 2 2022 8:30AM,243203,10,"Methapharm, Inc.",1,0.0,0.0
3,Aug 2 2022 8:30AM,243219,10,"Methapharm, Inc.",4,0.0,0.0
4,Aug 2 2022 8:30AM,243215,10,Eywa Pharma Inc.,4,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         3404977        49        0.0        0.0
16          243233         4        0.0        0.0
18          243232         1        0.0        0.0
19         1459128        25        2.0        0.0
20          729400        26       54.0       13.0
21          243218         1        0.0        0.0
22          243214         1        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  3404977        49        0.0        0.0
1        16   243233         4        0.0        0.0
2        18   243232         1        0.0        0.0
3        19  1459128        25        2.0        0.0
4        20   729400        26       54.0       13.0
5        21   243218         1        0.0        0.0
6        22   243214         1        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10        49        0.0        0.0
1        16         4        0.0        0.0
2        18         1        0.0        0.0
3        19        25        2.0        0.0
4        20        26       54.0       13.0
5        21         1        0.0        0.0
6        22         1        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   49.0
1        16  Released    4.0
2        18  Released    1.0
3        19  Released   25.0
4        20  Released   26.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10   16   18    19    20   21   22
Status
Completed   0.0  0.0  0.0   0.0  13.0  0.0  0.0
Executing   0.0  0.0  0.0   2.0  54.0  0.0  0.0
Released   49.0  4.0  1.0  25.0  26.0  1.0  1.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10   16   18    19    20   21   22
0          Completed   0.0  0.0  0.0   0.0  13.0  0.0  0.0
1          Executing   0.0  0.0  0.0   2.0  54.0  0.0  0.0
2           Released  49.0  4.0  1.0  25.0  26.0  1.0  1.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10   16   18    19    20   21   22
0  Completed   0.0  0.0  0.0   0.0  13.0  0.0  0.0
1  Executing   0.0  0.0  0.0   2.0  54.0  0.0  0.0
2   Released  49.0  4.0  1.0  25.0  26.0  1.0  1.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()