# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={ODBC Driver 17 for SQL Server};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Apr 24 2023 2:10PM,261681,19,ELSE042423,Else Nutrition,Released
1,Apr 24 2023 2:02PM,261680,19,9411816,"Emersa Waterbox, LLC",Released
2,Apr 24 2023 1:49PM,261679,10,HH9298,Hush Hush,Released
3,Apr 24 2023 1:31PM,261676,19,ADV80016286,"AdvaGen Pharma, Ltd",Released
4,Apr 24 2023 1:31PM,261676,19,ADV80016287,"AdvaGen Pharma, Ltd",Released
5,Apr 24 2023 1:31PM,261676,19,ADV80016289,"AdvaGen Pharma, Ltd",Released
6,Apr 24 2023 1:31PM,261676,19,ADV80016290,"AdvaGen Pharma, Ltd",Released
7,Apr 24 2023 1:31PM,261676,19,ADV80016291,"AdvaGen Pharma, Ltd",Released
8,Apr 24 2023 1:31PM,261676,19,ADV80016292,"AdvaGen Pharma, Ltd",Released
9,Apr 24 2023 1:31PM,261676,19,ADV80016293,"AdvaGen Pharma, Ltd",Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
27  261675       Released          5
28  261676       Released         18
29  261679       Released          1
30  261680       Released          1
31  261681       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
261675                NaN        NaN       5.0
261676                NaN        NaN      18.0
261679                NaN        NaN       1.0
261680                NaN        NaN       1.0
261681                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
261618               18.0        0.0      10.0
261621                0.0        0.0       1.0
261622                0.0        0.0      50.0
261632                0.0        0.0       1.0
261635                0.0        6.0       3.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
261618                 18          0        10
261621                  0          0         1
261622                  0          0        50
261632                  0          0         1
261635                  0          6         3

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               261618         18          0        10
1               261621          0          0         1
2               261622          0          0        50
3               261632          0          0         1
4               261635          0          6         3

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               261618        18                 10
1               261621                            1
2               261622                           50
3               261632                            1
4               261635                   6        3

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse              Customer
0   Apr 24 2023  2:10PM  261681        19        Else Nutrition
1   Apr 24 2023  2:02PM  261680        19  Emersa Waterbox, LLC
2   Apr 24 2023  1:49PM  261679        10             Hush Hush
3   Apr 24 2023  1:31PM  261676        19   AdvaGen Pharma, Ltd
21  Apr 24 2023  1:23PM  261675        10   Digital Brands, LLC
26  Apr 24 2023 12:51PM  261670        10             Hush Hush
30  Apr 24 2023 12:40PM  261664        22     NBTY Global, Inc.
31  Apr 24 2023 12:38PM  261663        18  Emersa Waterbox, LLC
32  Apr 24 2023 12:36PM  261662        18  Emersa Waterbox, LLC
33  Apr 24 2023 12:30PM  261661        10      Uniderm USA, Inc

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Apr 24 2023 2:10PM,261681,19,Else Nutrition,,,1
1,Apr 24 2023 2:02PM,261680,19,"Emersa Waterbox, LLC",,,1
2,Apr 24 2023 1:49PM,261679,10,Hush Hush,,,1
3,Apr 24 2023 1:31PM,261676,19,"AdvaGen Pharma, Ltd",,,18
4,Apr 24 2023 1:23PM,261675,10,"Digital Brands, LLC",,,5
5,Apr 24 2023 12:51PM,261670,10,Hush Hush,,,4
6,Apr 24 2023 12:40PM,261664,22,"NBTY Global, Inc.",,,1
7,Apr 24 2023 12:38PM,261663,18,"Emersa Waterbox, LLC",,,1
8,Apr 24 2023 12:36PM,261662,18,"Emersa Waterbox, LLC",,,1
9,Apr 24 2023 12:30PM,261661,10,"Uniderm USA, Inc",,,1

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Apr 24 2023 2:10PM,261681,19,Else Nutrition,1,,
1,Apr 24 2023 2:02PM,261680,19,"Emersa Waterbox, LLC",1,,
2,Apr 24 2023 1:49PM,261679,10,Hush Hush,1,,
3,Apr 24 2023 1:31PM,261676,19,"AdvaGen Pharma, Ltd",18,,
4,Apr 24 2023 1:23PM,261675,10,"Digital Brands, LLC",5,,
5,Apr 24 2023 12:51PM,261670,10,Hush Hush,4,,
6,Apr 24 2023 12:40PM,261664,22,"NBTY Global, Inc.",1,,
7,Apr 24 2023 12:38PM,261663,18,"Emersa Waterbox, LLC",1,,
8,Apr 24 2023 12:36PM,261662,18,"Emersa Waterbox, LLC",1,,
9,Apr 24 2023 12:30PM,261661,10,"Uniderm USA, Inc",1,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Apr 24 2023 2:10PM,261681,19,Else Nutrition,1,,
1,Apr 24 2023 2:02PM,261680,19,"Emersa Waterbox, LLC",1,,
2,Apr 24 2023 1:49PM,261679,10,Hush Hush,1,,
3,Apr 24 2023 1:31PM,261676,19,"AdvaGen Pharma, Ltd",18,,
4,Apr 24 2023 1:23PM,261675,10,"Digital Brands, LLC",5,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Apr 24 2023 2:10PM,261681,19,Else Nutrition,1.0,NaN,NaN
1,Apr 24 2023 2:02PM,261680,19,"Emersa Waterbox, LLC",1.0,NaN,NaN
2,Apr 24 2023 1:49PM,261679,10,Hush Hush,1.0,NaN,NaN
3,Apr 24 2023 1:31PM,261676,19,"AdvaGen Pharma, Ltd",18.0,NaN,NaN
4,Apr 24 2023 1:23PM,261675,10,"Digital Brands, LLC",5.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Apr 24 2023 2:10PM,261681,19,Else Nutrition,1.0,0.0,0.0
1,Apr 24 2023 2:02PM,261680,19,"Emersa Waterbox, LLC",1.0,0.0,0.0
2,Apr 24 2023 1:49PM,261679,10,Hush Hush,1.0,0.0,0.0
3,Apr 24 2023 1:31PM,261676,19,"AdvaGen Pharma, Ltd",18.0,0.0,0.0
4,Apr 24 2023 1:23PM,261675,10,"Digital Brands, LLC",5.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         2354890      16.0        8.0        0.0
15          784904      39.0       12.0       18.0
18         1308295       5.0        0.0        0.0
19          785037      20.0        0.0        0.0
20         2093137      57.0        0.0        0.0
22          261664       1.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  2354890      16.0        8.0        0.0
1        15   784904      39.0       12.0       18.0
2        18  1308295       5.0        0.0        0.0
3        19   785037      20.0        0.0        0.0
4        20  2093137      57.0        0.0        0.0
5        22   261664       1.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      16.0        8.0        0.0
1        15      39.0       12.0       18.0
2        18       5.0        0.0        0.0
3        19      20.0        0.0        0.0
4        20      57.0        0.0        0.0
5        22       1.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   16.0
1        15  Released   39.0
2        18  Released    5.0
3        19  Released   20.0
4        20  Released   57.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10    15   18    19    20   22
Status
Completed   0.0  18.0  0.0   0.0   0.0  0.0
Executing   8.0  12.0  0.0   0.0   0.0  0.0
Released   16.0  39.0  5.0  20.0  57.0  1.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10    15   18    19    20   22
0          Completed   0.0  18.0  0.0   0.0   0.0  0.0
1          Executing   8.0  12.0  0.0   0.0   0.0  0.0
2           Released  16.0  39.0  5.0  20.0  57.0  1.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10    15   18    19    20   22
0  Completed   0.0  18.0  0.0   0.0   0.0  0.0
1  Executing   8.0  12.0  0.0   0.0   0.0  0.0
2   Released  16.0  39.0  5.0  20.0  57.0  1.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()