# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Aug 31 2022 9:11AM,245411,10,SO94355.1,"Senseonics, Incorporated",Released
1,Aug 31 2022 9:09AM,245410,16,8462480,Sartorius Bioprocess Solutions,Released
2,Aug 31 2022 9:09AM,245410,16,8463619,Sartorius Bioprocess Solutions,Released
3,Aug 31 2022 9:08AM,245409,16,8462448,Sartorius Lab Products and Service,Released
4,Aug 31 2022 9:08AM,245409,16,8462461,Sartorius Lab Products and Service,Released
5,Aug 31 2022 9:08AM,245408,16,SAR00000364,Sartorius Stedim North America,Executing
6,Aug 31 2022 8:57AM,245406,10,PRF-36089,Bio-PRF,Released
7,Aug 31 2022 8:57AM,245406,10,PRF-36094,Bio-PRF,Released
8,Aug 31 2022 8:57AM,245406,10,PRF-36100,Bio-PRF,Released
9,Aug 31 2022 8:57AM,245406,10,PRF-36103,Bio-PRF,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
25  245406       Released         12
26  245408      Executing          1
27  245409       Released          2
28  245410       Released          2
29  245411       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
245406                NaN        NaN      12.0
245408                NaN        1.0       NaN
245409                NaN        NaN       2.0
245410                NaN        NaN       2.0
245411                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
244946                0.0        0.0      66.0
245276                0.0        0.0       1.0
245277                0.0        0.0       1.0
245280                0.0        1.0       0.0
245281                0.0        0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
244946                  0          0        66
245276                  0          0         1
245277                  0          0         1
245280                  0          1         0
245281                  0          0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               244946          0          0        66
1               245276          0          0         1
2               245277          0          0         1
3               245280          0          1         0
4               245281          0          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               244946                           66
1               245276                            1
2               245277                            1
3               245280                   1
4               245281                            1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                            Customer
0   Aug 31 2022  9:11AM  245411        10            Senseonics, Incorporated
1   Aug 31 2022  9:09AM  245410        16      Sartorius Bioprocess Solutions
3   Aug 31 2022  9:08AM  245409        16  Sartorius Lab Products and Service
5   Aug 31 2022  9:08AM  245408        16    Sartorius Stedim North America
6   Aug 31 2022  8:57AM  245406        10                             Bio-PRF
18  Aug 31 2022  8:44AM  245401        10                   ISDIN Corporation
58  Aug 31 2022  8:38AM  245391        10                   ISDIN Corporation
79  Aug 31 2022  8:30AM  245380        10              Akron BioProducts, LLC
80  Aug 31 2022  8:30AM  245382        10                    Eywa Pharma Inc.
89  Aug 31 2022  8:25AM  245390        10                   ISDIN Corporation

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Aug 31 2022 9:11AM,245411,10,"Senseonics, Incorporated",,,1
1,Aug 31 2022 9:09AM,245410,16,Sartorius Bioprocess Solutions,,,2
2,Aug 31 2022 9:08AM,245409,16,Sartorius Lab Products and Service,,,2
3,Aug 31 2022 9:08AM,245408,16,Sartorius Stedim North America,,1,
4,Aug 31 2022 8:57AM,245406,10,Bio-PRF,,,12
5,Aug 31 2022 8:44AM,245401,10,ISDIN Corporation,,,40
6,Aug 31 2022 8:38AM,245391,10,ISDIN Corporation,,,21
7,Aug 31 2022 8:30AM,245380,10,"Akron BioProducts, LLC",,,1
8,Aug 31 2022 8:30AM,245382,10,Eywa Pharma Inc.,,6,3
9,Aug 31 2022 8:25AM,245390,10,ISDIN Corporation,,,1

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 31 2022 9:11AM,245411,10,"Senseonics, Incorporated",1,,
1,Aug 31 2022 9:09AM,245410,16,Sartorius Bioprocess Solutions,2,,
2,Aug 31 2022 9:08AM,245409,16,Sartorius Lab Products and Service,2,,
3,Aug 31 2022 9:08AM,245408,16,Sartorius Stedim North America,,1,
4,Aug 31 2022 8:57AM,245406,10,Bio-PRF,12,,
5,Aug 31 2022 8:44AM,245401,10,ISDIN Corporation,40,,
6,Aug 31 2022 8:38AM,245391,10,ISDIN Corporation,21,,
7,Aug 31 2022 8:30AM,245380,10,"Akron BioProducts, LLC",1,,
8,Aug 31 2022 8:30AM,245382,10,Eywa Pharma Inc.,3,6,
9,Aug 31 2022 8:25AM,245390,10,ISDIN Corporation,1,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 31 2022 9:11AM,245411,10,"Senseonics, Incorporated",1,,
1,Aug 31 2022 9:09AM,245410,16,Sartorius Bioprocess Solutions,2,,
2,Aug 31 2022 9:08AM,245409,16,Sartorius Lab Products and Service,2,,
3,Aug 31 2022 9:08AM,245408,16,Sartorius Stedim North America,,1,
4,Aug 31 2022 8:57AM,245406,10,Bio-PRF,12,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 31 2022 9:11AM,245411,10,"Senseonics, Incorporated",1.0,NaN,NaN
1,Aug 31 2022 9:09AM,245410,16,Sartorius Bioprocess Solutions,2.0,NaN,NaN
2,Aug 31 2022 9:08AM,245409,16,Sartorius Lab Products and Service,2.0,NaN,NaN
3,Aug 31 2022 9:08AM,245408,16,Sartorius Stedim North America,NaN,1.0,NaN
4,Aug 31 2022 8:57AM,245406,10,Bio-PRF,12.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 31 2022 9:11AM,245411,10,"Senseonics, Incorporated",1.0,0.0,0.0
1,Aug 31 2022 9:09AM,245410,16,Sartorius Bioprocess Solutions,2.0,0.0,0.0
2,Aug 31 2022 9:08AM,245409,16,Sartorius Lab Products and Service,2.0,0.0,0.0
3,Aug 31 2022 9:08AM,245408,16,Sartorius Stedim North America,0.0,1.0,0.0
4,Aug 31 2022 8:57AM,245406,10,Bio-PRF,12.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         2208537     104.0        6.0        0.0
15          490282      78.0        0.0       34.0
16          736227       4.0        1.0        0.0
19          490746       5.0       20.0        9.0
20          490658      31.0        0.0        0.0
21         2207711       6.0        3.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  2208537     104.0        6.0        0.0
1        15   490282      78.0        0.0       34.0
2        16   736227       4.0        1.0        0.0
3        19   490746       5.0       20.0        9.0
4        20   490658      31.0        0.0        0.0
5        21  2207711       6.0        3.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10     104.0        6.0        0.0
1        15      78.0        0.0       34.0
2        16       4.0        1.0        0.0
3        19       5.0       20.0        9.0
4        20      31.0        0.0        0.0
5        21       6.0        3.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released  104.0
1        15  Released   78.0
2        16  Released    4.0
3        19  Released    5.0
4        20  Released   31.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse     10    15   16    19    20   21
Status
Completed    0.0  34.0  0.0   9.0   0.0  0.0
Executing    6.0   0.0  1.0  20.0   0.0  3.0
Released   104.0  78.0  4.0   5.0  31.0  6.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status     10    15   16    19    20   21
0          Completed    0.0  34.0  0.0   9.0   0.0  0.0
1          Executing    6.0   0.0  1.0  20.0   0.0  3.0
2           Released  104.0  78.0  4.0   5.0  31.0  6.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status     10    15   16    19    20   21
0  Completed    0.0  34.0  0.0   9.0   0.0  0.0
1  Executing    6.0   0.0  1.0  20.0   0.0  3.0
2   Released  104.0  78.0  4.0   5.0  31.0  6.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()