# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Jul 8 2022 8:30AM,241356,10,0085842521,ISDIN Corporation,Released
1,Jul 8 2022 8:30AM,241356,10,0085842549,ISDIN Corporation,Released
2,Jul 8 2022 8:30AM,241356,10,0085842655,ISDIN Corporation,Released
3,Jul 8 2022 8:30AM,241355,10,0085842660,ISDIN Corporation,Released
4,Jul 8 2022 8:30AM,241355,10,0085842657,ISDIN Corporation,Released
5,Jul 8 2022 8:30AM,241356,10,0085842656,ISDIN Corporation,Released
6,Jul 8 2022 8:30AM,241355,10,0085842665,ISDIN Corporation,Released
7,Jul 8 2022 8:30AM,241355,10,0085842662,ISDIN Corporation,Released
8,Jul 8 2022 8:30AM,241355,10,0085842659,ISDIN Corporation,Released
9,Jul 8 2022 8:30AM,241355,10,0085842663,ISDIN Corporation,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
45  241356       Released         12
46  241358       Released          1
47  241359       Released          2
48  241360       Released          2
49  241361       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
241356                NaN        NaN      12.0
241358                NaN        NaN       1.0
241359                NaN        NaN       2.0
241360                NaN        NaN       2.0
241361                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
241244                0.0        0.0       1.0
241245                0.0        0.0       1.0
241246                0.0        0.0       1.0
241248                0.0        0.0       1.0
241249                0.0        0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
241244                  0          0         1
241245                  0          0         1
241246                  0          0         1
241248                  0          0         1
241249                  0          0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               241244          0          0         1
1               241245          0          0         1
2               241246          0          0         1
3               241248          0          0         1
4               241249          0          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               241244                            1
1               241245                            1
2               241246                            1
3               241248                            1
4               241249                            1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                   Customer
0   Jul  8 2022  8:30AM  241356        10          ISDIN Corporation
3   Jul  8 2022  8:30AM  241355        10          ISDIN Corporation
28  Jul  8 2022  8:30AM  241358        10          ISDIN Corporation
64  Jul  8 2022  8:30AM  241359        10           Eywa Pharma Inc.
66  Jul  8 2022  8:30AM  241360        10         Beach Products Inc
67  Jul  8 2022  8:30AM  241360        10  Beach Patient Assistance
68  Jul  8 2022  8:30AM  241361        10                Emerginnova
70  Jul  7 2022  3:25PM  241353        10          ISDIN Corporation
80  Jul  7 2022  3:03PM  241351        18             Eye Pharma Inc
81  Jul  7 2022  3:01PM  241349        20          Alumier Labs Inc.

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Jul 8 2022 8:30AM,241356,10,ISDIN Corporation,,,12
1,Jul 8 2022 8:30AM,241355,10,ISDIN Corporation,,,52
2,Jul 8 2022 8:30AM,241358,10,ISDIN Corporation,,,1
3,Jul 8 2022 8:30AM,241359,10,Eywa Pharma Inc.,,,2
4,Jul 8 2022 8:30AM,241360,10,Beach Products Inc,,,2
5,Jul 8 2022 8:30AM,241360,10,Beach Patient Assistance,,,2
6,Jul 8 2022 8:30AM,241361,10,Emerginnova,,,1
7,Jul 7 2022 3:25PM,241353,10,ISDIN Corporation,,,10
8,Jul 7 2022 3:03PM,241351,18,Eye Pharma Inc,,,1
9,Jul 7 2022 3:01PM,241349,20,Alumier Labs Inc.,,,1

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jul 8 2022 8:30AM,241356,10,ISDIN Corporation,12,,
1,Jul 8 2022 8:30AM,241355,10,ISDIN Corporation,52,,
2,Jul 8 2022 8:30AM,241358,10,ISDIN Corporation,1,,
3,Jul 8 2022 8:30AM,241359,10,Eywa Pharma Inc.,2,,
4,Jul 8 2022 8:30AM,241360,10,Beach Products Inc,2,,
5,Jul 8 2022 8:30AM,241360,10,Beach Patient Assistance,2,,
6,Jul 8 2022 8:30AM,241361,10,Emerginnova,1,,
7,Jul 7 2022 3:25PM,241353,10,ISDIN Corporation,10,,
8,Jul 7 2022 3:03PM,241351,18,Eye Pharma Inc,1,,
9,Jul 7 2022 3:01PM,241349,20,Alumier Labs Inc.,1,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jul 8 2022 8:30AM,241356,10,ISDIN Corporation,12,,
1,Jul 8 2022 8:30AM,241355,10,ISDIN Corporation,52,,
2,Jul 8 2022 8:30AM,241358,10,ISDIN Corporation,1,,
3,Jul 8 2022 8:30AM,241359,10,Eywa Pharma Inc.,2,,
4,Jul 8 2022 8:30AM,241360,10,Beach Products Inc,2,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jul 8 2022 8:30AM,241356,10,ISDIN Corporation,12.0,NaN,NaN
1,Jul 8 2022 8:30AM,241355,10,ISDIN Corporation,52.0,NaN,NaN
2,Jul 8 2022 8:30AM,241358,10,ISDIN Corporation,1.0,NaN,NaN
3,Jul 8 2022 8:30AM,241359,10,Eywa Pharma Inc.,2.0,NaN,NaN
4,Jul 8 2022 8:30AM,241360,10,Beach Products Inc,2.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jul 8 2022 8:30AM,241356,10,ISDIN Corporation,12.0,0.0,0.0
1,Jul 8 2022 8:30AM,241355,10,ISDIN Corporation,52.0,0.0,0.0
2,Jul 8 2022 8:30AM,241358,10,ISDIN Corporation,1.0,0.0,0.0
3,Jul 8 2022 8:30AM,241359,10,Eywa Pharma Inc.,2.0,0.0,0.0
4,Jul 8 2022 8:30AM,241360,10,Beach Products Inc,2.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         5550052     344.0       53.0        0.0
102         965249       4.0        0.0        0.0
16          241256       1.0        0.0        0.0
18          241351       1.0        0.0        0.0
20          965285      69.0       15.0        1.0
21         2654212      10.0        1.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  5550052     344.0       53.0        0.0
1       102   965249       4.0        0.0        0.0
2        16   241256       1.0        0.0        0.0
3        18   241351       1.0        0.0        0.0
4        20   965285      69.0       15.0        1.0
5        21  2654212      10.0        1.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10     344.0       53.0        0.0
1       102       4.0        0.0        0.0
2        16       1.0        0.0        0.0
3        18       1.0        0.0        0.0
4        20      69.0       15.0        1.0
5        21      10.0        1.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released  344.0
1       102  Released    4.0
2        16  Released    1.0
3        18  Released    1.0
4        20  Released   69.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse     10  102   16   18    20    21
Status
Completed    0.0  0.0  0.0  0.0   1.0   0.0
Executing   53.0  0.0  0.0  0.0  15.0   1.0
Released   344.0  4.0  1.0  1.0  69.0  10.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status     10  102   16   18    20    21
0          Completed    0.0  0.0  0.0  0.0   1.0   0.0
1          Executing   53.0  0.0  0.0  0.0  15.0   1.0
2           Released  344.0  4.0  1.0  1.0  69.0  10.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status     10  102   16   18    20    21
0  Completed    0.0  0.0  0.0  0.0   1.0   0.0
1  Executing   53.0  0.0  0.0  0.0  15.0   1.0
2   Released  344.0  4.0  1.0  1.0  69.0  10.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()