# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={ODBC Driver 17 for SQL Server};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Feb 6 2023 12:04PM,256719,19,9123664,"Innogenix, LLC",Released
1,Feb 6 2023 12:04PM,256719,19,9123665,"Innogenix, LLC",Released
2,Feb 6 2023 12:04PM,256719,19,9123666,"Innogenix, LLC",Released
3,Feb 6 2023 12:04PM,256719,19,9123667,"Innogenix, LLC",Released
4,Feb 6 2023 12:04PM,256719,19,9123672,"Innogenix, LLC",Released
5,Feb 6 2023 12:04PM,256719,19,9123673,"Innogenix, LLC",Released
6,Feb 6 2023 12:04PM,256719,19,9123674,"Innogenix, LLC",Released
7,Feb 6 2023 12:04PM,256719,19,9123675,"Innogenix, LLC",Released
8,Feb 6 2023 12:04PM,256719,19,9123676,"Innogenix, LLC",Released
9,Feb 6 2023 12:04PM,256719,19,9123677,"Innogenix, LLC",Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
25  256714       Released          4
26  256715       Released         55
27  256717       Released          2
28  256718       Released          1
29  256719       Released         22

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
256714                NaN        NaN       4.0
256715                NaN        NaN      55.0
256717                NaN        NaN       2.0
256718                NaN        NaN       1.0
256719                NaN        NaN      22.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
256656                1.0        1.0       1.0
256676                0.0        0.0       2.0
256683                0.0        0.0       1.0
256684                0.0        0.0       1.0
256685                0.0        0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
256656                  1          1         1
256676                  0          0         2
256683                  0          0         1
256684                  0          0         1
256685                  0          0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               256656          1          1         1
1               256676          0          0         2
2               256683          0          0         1
3               256684          0          0         1
4               256685          0          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               256656         1         1        1
1               256676                            2
2               256683                            1
3               256684                            1
4               256685                            1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                    Date      id Warehouse             Customer
0    Feb  6 2023 12:04PM  256719        19       Innogenix, LLC
22   Feb  6 2023 11:44AM  256718        10    Yusen – 3D Matrix
23   Feb  6 2023 11:43AM  256702        10              Bio-PRF
25   Feb  6 2023 11:42AM  256715        10    ISDIN Corporation
80   Feb  6 2023 11:42AM  256717        10    ISDIN Corporation
82   Feb  6 2023 11:41AM  256701        10              Bio-PRF
101  Feb  6 2023 11:39AM  256714        19  AdvaGen Pharma, Ltd
105  Feb  6 2023 11:38AM  256713        19       Else Nutrition
106  Feb  6 2023 11:38AM  256712        10    Yusen – 3D Matrix
110  Feb  6 2023 11:36AM  256711        10     Methapharm, Inc.

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Feb 6 2023 12:04PM,256719,19,"Innogenix, LLC",,,22
1,Feb 6 2023 11:44AM,256718,10,Yusen – 3D Matrix,,,1
2,Feb 6 2023 11:43AM,256702,10,Bio-PRF,,,2
3,Feb 6 2023 11:42AM,256715,10,ISDIN Corporation,,,55
4,Feb 6 2023 11:42AM,256717,10,ISDIN Corporation,,,2
5,Feb 6 2023 11:41AM,256701,10,Bio-PRF,,,19
6,Feb 6 2023 11:39AM,256714,19,"AdvaGen Pharma, Ltd",,,4
7,Feb 6 2023 11:38AM,256713,19,Else Nutrition,,,1
8,Feb 6 2023 11:38AM,256712,10,Yusen – 3D Matrix,,,4
9,Feb 6 2023 11:36AM,256711,10,"Methapharm, Inc.",,,2

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Feb 6 2023 12:04PM,256719,19,"Innogenix, LLC",22,,
1,Feb 6 2023 11:44AM,256718,10,Yusen – 3D Matrix,1,,
2,Feb 6 2023 11:43AM,256702,10,Bio-PRF,2,,
3,Feb 6 2023 11:42AM,256715,10,ISDIN Corporation,55,,
4,Feb 6 2023 11:42AM,256717,10,ISDIN Corporation,2,,
5,Feb 6 2023 11:41AM,256701,10,Bio-PRF,19,,
6,Feb 6 2023 11:39AM,256714,19,"AdvaGen Pharma, Ltd",4,,
7,Feb 6 2023 11:38AM,256713,19,Else Nutrition,1,,
8,Feb 6 2023 11:38AM,256712,10,Yusen – 3D Matrix,4,,
9,Feb 6 2023 11:36AM,256711,10,"Methapharm, Inc.",2,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Feb 6 2023 12:04PM,256719,19,"Innogenix, LLC",22,,
1,Feb 6 2023 11:44AM,256718,10,Yusen – 3D Matrix,1,,
2,Feb 6 2023 11:43AM,256702,10,Bio-PRF,2,,
3,Feb 6 2023 11:42AM,256715,10,ISDIN Corporation,55,,
4,Feb 6 2023 11:42AM,256717,10,ISDIN Corporation,2,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Feb 6 2023 12:04PM,256719,19,"Innogenix, LLC",22.0,NaN,NaN
1,Feb 6 2023 11:44AM,256718,10,Yusen – 3D Matrix,1.0,NaN,NaN
2,Feb 6 2023 11:43AM,256702,10,Bio-PRF,2.0,NaN,NaN
3,Feb 6 2023 11:42AM,256715,10,ISDIN Corporation,55.0,NaN,NaN
4,Feb 6 2023 11:42AM,256717,10,ISDIN Corporation,2.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Feb 6 2023 12:04PM,256719,19,"Innogenix, LLC",22.0,0.0,0.0
1,Feb 6 2023 11:44AM,256718,10,Yusen – 3D Matrix,1.0,0.0,0.0
2,Feb 6 2023 11:43AM,256702,10,Bio-PRF,2.0,0.0,0.0
3,Feb 6 2023 11:42AM,256715,10,ISDIN Corporation,55.0,0.0,0.0
4,Feb 6 2023 11:42AM,256717,10,ISDIN Corporation,2.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         3337193     100.0        5.0        0.0
12          770106       1.0        2.0        0.0
15          256695       2.0       32.0        0.0
16          513391       1.0        1.0        0.0
19         1283478      30.0        1.0        1.0
21          770052       3.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  3337193     100.0        5.0        0.0
1        12   770106       1.0        2.0        0.0
2        15   256695       2.0       32.0        0.0
3        16   513391       1.0        1.0        0.0
4        19  1283478      30.0        1.0        1.0
5        21   770052       3.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10     100.0        5.0        0.0
1        12       1.0        2.0        0.0
2        15       2.0       32.0        0.0
3        16       1.0        1.0        0.0
4        19      30.0        1.0        1.0
5        21       3.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released  100.0
1        12  Released    1.0
2        15  Released    2.0
3        16  Released    1.0
4        19  Released   30.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse     10   12    15   16    19   21
Status
Completed    0.0  0.0   0.0  0.0   1.0  0.0
Executing    5.0  2.0  32.0  1.0   1.0  0.0
Released   100.0  1.0   2.0  1.0  30.0  3.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status     10   12    15   16    19   21
0          Completed    0.0  0.0   0.0  0.0   1.0  0.0
1          Executing    5.0  2.0  32.0  1.0   1.0  0.0
2           Released  100.0  1.0   2.0  1.0  30.0  3.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status     10   12    15   16    19   21
0  Completed    0.0  0.0   0.0  0.0   1.0  0.0
1  Executing    5.0  2.0  32.0  1.0   1.0  0.0
2   Released  100.0  1.0   2.0  1.0  30.0  3.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()