# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Jul 18 2022 2:14PM,242121,20,8290910,"Exact-Rx, Inc.",Released
1,Jul 18 2022 2:14PM,242121,20,8290911,"Exact-Rx, Inc.",Released
2,Jul 18 2022 2:14PM,242121,20,8290912,"Exact-Rx, Inc.",Released
3,Jul 18 2022 2:14PM,242121,20,8290913,"Exact-Rx, Inc.",Released
4,Jul 18 2022 2:14PM,242121,20,8290914,"Exact-Rx, Inc.",Released
5,Jul 18 2022 2:14PM,242121,20,8290915,"Exact-Rx, Inc.",Released
6,Jul 18 2022 2:14PM,242121,20,8290916,"Exact-Rx, Inc.",Released
7,Jul 18 2022 2:14PM,242121,20,8290917,"Exact-Rx, Inc.",Released
8,Jul 18 2022 2:14PM,242121,20,8290918,"Exact-Rx, Inc.",Released
9,Jul 18 2022 2:14PM,242121,20,8290919,"Exact-Rx, Inc.",Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
45  242117       Released          1
46  242118       Released         14
47  242119       Released         16
48  242120       Released          1
49  242121       Released         21

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
242117                NaN        NaN       1.0
242118                NaN        NaN      14.0
242119                NaN        NaN      16.0
242120                NaN        NaN       1.0
242121                NaN        NaN      21.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
241900                0.0        0.0      12.0
241972                0.0        7.0       7.0
241980                0.0        0.0      31.0
242005                0.0        0.0       3.0
242007                0.0        0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
241900                  0          0        12
241972                  0          7         7
241980                  0          0        31
242005                  0          0         3
242007                  0          0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               241900          0          0        12
1               241972          0          7         7
2               241980          0          0        31
3               242005          0          0         3
4               242007          0          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               241900                           12
1               241972                   7        7
2               241980                           31
3               242005                            3
4               242007                            1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse               Customer
0   Jul 18 2022  2:14PM  242121        20         Exact-Rx, Inc.
21  Jul 18 2022  2:08PM  242120        19  ACG North America LLC
22  Jul 18 2022  2:02PM  242119        10                Bio-PRF
38  Jul 18 2022  1:59PM  242118        10       Methapharm, Inc.
52  Jul 18 2022  1:56PM  242117        22      NBTY Global, Inc.
53  Jul 18 2022  1:53PM  241900        20      Alumier Labs Inc.
65  Jul 18 2022  1:50PM  242116        21      NBTY Global, Inc.
66  Jul 18 2022  1:49PM  242115        22      NBTY Global, Inc.
67  Jul 18 2022  1:47PM  242114        19    AdvaGen Pharma, Ltd
69  Jul 18 2022  1:44PM  242111        20      Alumier Labs Inc.

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Jul 18 2022 2:14PM,242121,20,"Exact-Rx, Inc.",,,21
1,Jul 18 2022 2:08PM,242120,19,ACG North America LLC,,,1
2,Jul 18 2022 2:02PM,242119,10,Bio-PRF,,,16
3,Jul 18 2022 1:59PM,242118,10,"Methapharm, Inc.",,,14
4,Jul 18 2022 1:56PM,242117,22,"NBTY Global, Inc.",,,1
5,Jul 18 2022 1:53PM,241900,20,Alumier Labs Inc.,,,12
6,Jul 18 2022 1:50PM,242116,21,"NBTY Global, Inc.",,,1
7,Jul 18 2022 1:49PM,242115,22,"NBTY Global, Inc.",,,1
8,Jul 18 2022 1:47PM,242114,19,"AdvaGen Pharma, Ltd",,,2
9,Jul 18 2022 1:44PM,242111,20,Alumier Labs Inc.,,,38

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jul 18 2022 2:14PM,242121,20,"Exact-Rx, Inc.",21,,
1,Jul 18 2022 2:08PM,242120,19,ACG North America LLC,1,,
2,Jul 18 2022 2:02PM,242119,10,Bio-PRF,16,,
3,Jul 18 2022 1:59PM,242118,10,"Methapharm, Inc.",14,,
4,Jul 18 2022 1:56PM,242117,22,"NBTY Global, Inc.",1,,
5,Jul 18 2022 1:53PM,241900,20,Alumier Labs Inc.,12,,
6,Jul 18 2022 1:50PM,242116,21,"NBTY Global, Inc.",1,,
7,Jul 18 2022 1:49PM,242115,22,"NBTY Global, Inc.",1,,
8,Jul 18 2022 1:47PM,242114,19,"AdvaGen Pharma, Ltd",2,,
9,Jul 18 2022 1:44PM,242111,20,Alumier Labs Inc.,38,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jul 18 2022 2:14PM,242121,20,"Exact-Rx, Inc.",21,,
1,Jul 18 2022 2:08PM,242120,19,ACG North America LLC,1,,
2,Jul 18 2022 2:02PM,242119,10,Bio-PRF,16,,
3,Jul 18 2022 1:59PM,242118,10,"Methapharm, Inc.",14,,
4,Jul 18 2022 1:56PM,242117,22,"NBTY Global, Inc.",1,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jul 18 2022 2:14PM,242121,20,"Exact-Rx, Inc.",21.0,NaN,NaN
1,Jul 18 2022 2:08PM,242120,19,ACG North America LLC,1.0,NaN,NaN
2,Jul 18 2022 2:02PM,242119,10,Bio-PRF,16.0,NaN,NaN
3,Jul 18 2022 1:59PM,242118,10,"Methapharm, Inc.",14.0,NaN,NaN
4,Jul 18 2022 1:56PM,242117,22,"NBTY Global, Inc.",1.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jul 18 2022 2:14PM,242121,20,"Exact-Rx, Inc.",21.0,0.0,0.0
1,Jul 18 2022 2:08PM,242120,19,ACG North America LLC,1.0,0.0,0.0
2,Jul 18 2022 2:02PM,242119,10,Bio-PRF,16.0,0.0,0.0
3,Jul 18 2022 1:59PM,242118,10,"Methapharm, Inc.",14.0,0.0,0.0
4,Jul 18 2022 1:56PM,242117,22,"NBTY Global, Inc.",1.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         3388865     130.0       25.0        0.0
102         242008       1.0        0.0        0.0
15          484119       6.0       10.0       10.0
19          726304       4.0        0.0        0.0
20         2178357      97.0       14.0        0.0
21         3389271      12.0        2.0        0.0
22          484232       2.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  3388865     130.0       25.0        0.0
1       102   242008       1.0        0.0        0.0
2        15   484119       6.0       10.0       10.0
3        19   726304       4.0        0.0        0.0
4        20  2178357      97.0       14.0        0.0
5        21  3389271      12.0        2.0        0.0
6        22   484232       2.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10     130.0       25.0        0.0
1       102       1.0        0.0        0.0
2        15       6.0       10.0       10.0
3        19       4.0        0.0        0.0
4        20      97.0       14.0        0.0
5        21      12.0        2.0        0.0
6        22       2.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released  130.0
1       102  Released    1.0
2        15  Released    6.0
3        19  Released    4.0
4        20  Released   97.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse     10  102    15   19    20    21   22
Status
Completed    0.0  0.0  10.0  0.0   0.0   0.0  0.0
Executing   25.0  0.0  10.0  0.0  14.0   2.0  0.0
Released   130.0  1.0   6.0  4.0  97.0  12.0  2.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status     10  102    15   19    20    21   22
0          Completed    0.0  0.0  10.0  0.0   0.0   0.0  0.0
1          Executing   25.0  0.0  10.0  0.0  14.0   2.0  0.0
2           Released  130.0  1.0   6.0  4.0  97.0  12.0  2.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status     10  102    15   19    20    21   22
0  Completed    0.0  0.0  10.0  0.0   0.0   0.0  0.0
1  Executing   25.0  0.0  10.0  0.0  14.0   2.0  0.0
2   Released  130.0  1.0   6.0  4.0  97.0  12.0  2.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()