# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={ODBC Driver 17 for SQL Server};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Dec 21 2022 12:19PM,253602,10,Good-8931590,"Goodwin Biotechnology, Inc.",Released
1,Dec 21 2022 12:12PM,253443,19,8873263,Eywa Pharma Inc.,Executing
2,Dec 21 2022 12:12PM,253443,19,8897492,Eywa Pharma Inc.,Executing
3,Dec 21 2022 12:12PM,253443,19,8897494,Eywa Pharma Inc.,Released
4,Dec 21 2022 12:12PM,253443,19,8901808,Eywa Pharma Inc.,Executing
5,Dec 21 2022 12:12PM,253443,19,8901811,Eywa Pharma Inc.,Executing
6,Dec 21 2022 12:10PM,253601,10,SNAP1220221,"Snap Medical Industries, LLC",Released
7,Dec 21 2022 12:10PM,253601,10,SNAP1221221,"Snap Medical Industries, LLC",Released
8,Dec 21 2022 12:03PM,253600,10,PRF-45016,Bio-PRF,Released
9,Dec 21 2022 12:02PM,253598,10,MSP216964,"Methapharm, Inc.",Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
31  253597       Released          2
32  253598       Released          7
33  253600       Released          1
34  253601       Released          2
35  253602       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
253597                NaN        NaN       2.0
253598                NaN        NaN       7.0
253600                NaN        NaN       1.0
253601                NaN        NaN       2.0
253602                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
253443                0.0        4.0       1.0
253505                0.0        2.0       1.0
253521                0.0        0.0       1.0
253547                0.0        5.0       2.0
253560                1.0        5.0      82.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
253443                  0          4         1
253505                  0          2         1
253521                  0          0         1
253547                  0          5         2
253560                  1          5        82

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               253443          0          4         1
1               253505          0          2         1
2               253521          0          0         1
3               253547          0          5         2
4               253560          1          5        82

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               253443                   4        1
1               253505                   2        1
2               253521                            1
3               253547                   5        2
4               253560         1         5       82

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                       Customer
0   Dec 21 2022 12:19PM  253602        10    Goodwin Biotechnology, Inc.
1   Dec 21 2022 12:12PM  253443        19               Eywa Pharma Inc.
6   Dec 21 2022 12:10PM  253601        10   Snap Medical Industries, LLC
8   Dec 21 2022 12:03PM  253600        10                        Bio-PRF
9   Dec 21 2022 12:02PM  253598        10               Methapharm, Inc.
16  Dec 21 2022 12:01PM  253597        10  Nextsource Biotechnology, LLC
18  Dec 21 2022 11:59AM  253596        10               Methapharm, Inc.
20  Dec 21 2022 11:59AM  253596        10                   Methapharm-G
21  Dec 21 2022 11:58AM  253595        10              ISDIN Corporation
33  Dec 21 2022 11:56AM  253594        10              ISDIN Corporation

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Dec 21 2022 12:19PM,253602,10,"Goodwin Biotechnology, Inc.",,,1
1,Dec 21 2022 12:12PM,253443,19,Eywa Pharma Inc.,,4,1
2,Dec 21 2022 12:10PM,253601,10,"Snap Medical Industries, LLC",,,2
3,Dec 21 2022 12:03PM,253600,10,Bio-PRF,,,1
4,Dec 21 2022 12:02PM,253598,10,"Methapharm, Inc.",,,7
5,Dec 21 2022 12:01PM,253597,10,"Nextsource Biotechnology, LLC",,,2
6,Dec 21 2022 11:59AM,253596,10,"Methapharm, Inc.",,,3
7,Dec 21 2022 11:59AM,253596,10,Methapharm-G,,,3
8,Dec 21 2022 11:58AM,253595,10,ISDIN Corporation,,,12
9,Dec 21 2022 11:56AM,253594,10,ISDIN Corporation,,,3

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Dec 21 2022 12:19PM,253602,10,"Goodwin Biotechnology, Inc.",1,,
1,Dec 21 2022 12:12PM,253443,19,Eywa Pharma Inc.,1,4,
2,Dec 21 2022 12:10PM,253601,10,"Snap Medical Industries, LLC",2,,
3,Dec 21 2022 12:03PM,253600,10,Bio-PRF,1,,
4,Dec 21 2022 12:02PM,253598,10,"Methapharm, Inc.",7,,
5,Dec 21 2022 12:01PM,253597,10,"Nextsource Biotechnology, LLC",2,,
6,Dec 21 2022 11:59AM,253596,10,"Methapharm, Inc.",3,,
7,Dec 21 2022 11:59AM,253596,10,Methapharm-G,3,,
8,Dec 21 2022 11:58AM,253595,10,ISDIN Corporation,12,,
9,Dec 21 2022 11:56AM,253594,10,ISDIN Corporation,3,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Dec 21 2022 12:19PM,253602,10,"Goodwin Biotechnology, Inc.",1,,
1,Dec 21 2022 12:12PM,253443,19,Eywa Pharma Inc.,1,4,
2,Dec 21 2022 12:10PM,253601,10,"Snap Medical Industries, LLC",2,,
3,Dec 21 2022 12:03PM,253600,10,Bio-PRF,1,,
4,Dec 21 2022 12:02PM,253598,10,"Methapharm, Inc.",7,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Dec 21 2022 12:19PM,253602,10,"Goodwin Biotechnology, Inc.",1.0,NaN,NaN
1,Dec 21 2022 12:12PM,253443,19,Eywa Pharma Inc.,1.0,4.0,NaN
2,Dec 21 2022 12:10PM,253601,10,"Snap Medical Industries, LLC",2.0,NaN,NaN
3,Dec 21 2022 12:03PM,253600,10,Bio-PRF,1.0,NaN,NaN
4,Dec 21 2022 12:02PM,253598,10,"Methapharm, Inc.",7.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Dec 21 2022 12:19PM,253602,10,"Goodwin Biotechnology, Inc.",1.0,0.0,0.0
1,Dec 21 2022 12:12PM,253443,19,Eywa Pharma Inc.,1.0,4.0,0.0
2,Dec 21 2022 12:10PM,253601,10,"Snap Medical Industries, LLC",2.0,0.0,0.0
3,Dec 21 2022 12:03PM,253600,10,Bio-PRF,1.0,0.0,0.0
4,Dec 21 2022 12:02PM,253598,10,"Methapharm, Inc.",7.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         5071583      80.0        7.0        0.0
12          253583       0.0        1.0        0.0
15          253592       1.0        0.0        0.0
16          507153       1.0        1.0        0.0
17          253591       1.0        0.0        0.0
19         1267725      87.0        9.0        1.0
20          507176       3.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  5071583      80.0        7.0        0.0
1        12   253583       0.0        1.0        0.0
2        15   253592       1.0        0.0        0.0
3        16   507153       1.0        1.0        0.0
4        17   253591       1.0        0.0        0.0
5        19  1267725      87.0        9.0        1.0
6        20   507176       3.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      80.0        7.0        0.0
1        12       0.0        1.0        0.0
2        15       1.0        0.0        0.0
3        16       1.0        1.0        0.0
4        17       1.0        0.0        0.0
5        19      87.0        9.0        1.0
6        20       3.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   80.0
1        12  Released    0.0
2        15  Released    1.0
3        16  Released    1.0
4        17  Released    1.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10   12   15   16   17    19   20
Status
Completed   0.0  0.0  0.0  0.0  0.0   1.0  0.0
Executing   7.0  1.0  0.0  1.0  0.0   9.0  0.0
Released   80.0  0.0  1.0  1.0  1.0  87.0  3.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10   12   15   16   17    19   20
0          Completed   0.0  0.0  0.0  0.0  0.0   1.0  0.0
1          Executing   7.0  1.0  0.0  1.0  0.0   9.0  0.0
2           Released  80.0  0.0  1.0  1.0  1.0  87.0  3.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10   12   15   16   17    19   20
0  Completed   0.0  0.0  0.0  0.0  0.0   1.0  0.0
1  Executing   7.0  1.0  0.0  1.0  0.0   9.0  0.0
2   Released  80.0  0.0  1.0  1.0  1.0  87.0  3.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()