# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,May 20 2022 9:15AM,237723,18,EYE42935,Eye Pharma Inc,Released
1,May 20 2022 9:13AM,237719,20,ALUR519133490,Alumier Labs Inc.,Released
2,May 20 2022 9:13AM,237719,20,ALU0006867,Alumier Labs Inc.,Released
3,May 20 2022 9:13AM,237719,20,ALUR312410884,Alumier Labs Inc.,Released
4,May 20 2022 9:13AM,237719,20,ALU0006868,Alumier Labs Inc.,Released
5,May 20 2022 9:13AM,237719,20,ALU0006869,Alumier Labs Inc.,Released
6,May 20 2022 9:13AM,237719,20,ALUR357594855,Alumier Labs Inc.,Released
7,May 20 2022 9:13AM,237719,20,ALUR431191070,Alumier Labs Inc.,Released
8,May 20 2022 9:13AM,237719,20,ALUR599824029,Alumier Labs Inc.,Released
9,May 20 2022 9:13AM,237719,20,ALUR745064369,Alumier Labs Inc.,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
29  237717       Released          1
30  237718       Released          1
31  237719       Released         21
32  237720       Released          2
33  237723       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
237717                NaN        NaN       1.0
237718                NaN        NaN       1.0
237719                NaN        NaN      21.0
237720                NaN        NaN       2.0
237723                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
237560                3.0        0.0       2.0
237597                0.0        0.0       1.0
237598                0.0        0.0       1.0
237640                0.0        0.0       1.0
237643                0.0        0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
237560                  3          0         2
237597                  0          0         1
237598                  0          0         1
237640                  0          0         1
237643                  0          0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               237560          3          0         2
1               237597          0          0         1
2               237598          0          0         1
3               237640          0          0         1
4               237643          0          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               237560         3                  2
1               237597                            1
2               237598                            1
3               237640                            1
4               237643                            1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                       Customer
0   May 20 2022  9:15AM  237723        18                 Eye Pharma Inc
1   May 20 2022  9:13AM  237719        20              Alumier Labs Inc.
22  May 20 2022  9:10AM  237720        15         Mizner Bioscience, LLC
24  May 20 2022  9:10AM  237718        15     Laser Pharmaceuticals, LLC
25  May 20 2022  9:04AM  237714        15          Alliance Pharma, Inc.
50  May 20 2022  9:03AM  237716        18                      Hush Hush
62  May 20 2022  9:03AM  237717        10  Nextsource Biotechnology, LLC
63  May 20 2022  9:02AM  237669        15           Person & Covey, Inc.
90  May 20 2022  8:57AM  237715        10              ISDIN Corporation
92  May 20 2022  8:48AM  237713        19        GUSA Granules USA, Inc.

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,May 20 2022 9:15AM,237723,18,Eye Pharma Inc,,,1
1,May 20 2022 9:13AM,237719,20,Alumier Labs Inc.,,,21
2,May 20 2022 9:10AM,237720,15,"Mizner Bioscience, LLC",,,2
3,May 20 2022 9:10AM,237718,15,"Laser Pharmaceuticals, LLC",,,1
4,May 20 2022 9:04AM,237714,15,"Alliance Pharma, Inc.",,,25
5,May 20 2022 9:03AM,237716,18,Hush Hush,,,12
6,May 20 2022 9:03AM,237717,10,"Nextsource Biotechnology, LLC",,,1
7,May 20 2022 9:02AM,237669,15,"Person & Covey, Inc.",,,27
8,May 20 2022 8:57AM,237715,10,ISDIN Corporation,,,2
9,May 20 2022 8:48AM,237713,19,"GUSA Granules USA, Inc.",,,1

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,May 20 2022 9:15AM,237723,18,Eye Pharma Inc,1,,
1,May 20 2022 9:13AM,237719,20,Alumier Labs Inc.,21,,
2,May 20 2022 9:10AM,237720,15,"Mizner Bioscience, LLC",2,,
3,May 20 2022 9:10AM,237718,15,"Laser Pharmaceuticals, LLC",1,,
4,May 20 2022 9:04AM,237714,15,"Alliance Pharma, Inc.",25,,
5,May 20 2022 9:03AM,237716,18,Hush Hush,12,,
6,May 20 2022 9:03AM,237717,10,"Nextsource Biotechnology, LLC",1,,
7,May 20 2022 9:02AM,237669,15,"Person & Covey, Inc.",27,,
8,May 20 2022 8:57AM,237715,10,ISDIN Corporation,2,,
9,May 20 2022 8:48AM,237713,19,"GUSA Granules USA, Inc.",1,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,May 20 2022 9:15AM,237723,18,Eye Pharma Inc,1,,
1,May 20 2022 9:13AM,237719,20,Alumier Labs Inc.,21,,
2,May 20 2022 9:10AM,237720,15,"Mizner Bioscience, LLC",2,,
3,May 20 2022 9:10AM,237718,15,"Laser Pharmaceuticals, LLC",1,,
4,May 20 2022 9:04AM,237714,15,"Alliance Pharma, Inc.",25,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,May 20 2022 9:15AM,237723,18,Eye Pharma Inc,1.0,NaN,NaN
1,May 20 2022 9:13AM,237719,20,Alumier Labs Inc.,21.0,NaN,NaN
2,May 20 2022 9:10AM,237720,15,"Mizner Bioscience, LLC",2.0,NaN,NaN
3,May 20 2022 9:10AM,237718,15,"Laser Pharmaceuticals, LLC",1.0,NaN,NaN
4,May 20 2022 9:04AM,237714,15,"Alliance Pharma, Inc.",25.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,May 20 2022 9:15AM,237723,18,Eye Pharma Inc,1.0,0.0,0.0
1,May 20 2022 9:13AM,237719,20,Alumier Labs Inc.,21.0,0.0,0.0
2,May 20 2022 9:10AM,237720,15,"Mizner Bioscience, LLC",2.0,0.0,0.0
3,May 20 2022 9:10AM,237718,15,"Laser Pharmaceuticals, LLC",1.0,0.0,0.0
4,May 20 2022 9:04AM,237714,15,"Alliance Pharma, Inc.",25.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         2852365      58.0        5.0        0.0
15          950821      55.0        0.0        0.0
17          237654       0.0        1.0        0.0
18         1425977      17.0        0.0        0.0
19          713121       6.0        1.0        0.0
20          950593      43.0        0.0        3.0
21          237703       1.0        0.0        0.0
22          237640       1.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  2852365      58.0        5.0        0.0
1        15   950821      55.0        0.0        0.0
2        17   237654       0.0        1.0        0.0
3        18  1425977      17.0        0.0        0.0
4        19   713121       6.0        1.0        0.0
5        20   950593      43.0        0.0        3.0
6        21   237703       1.0        0.0        0.0
7        22   237640       1.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      58.0        5.0        0.0
1        15      55.0        0.0        0.0
2        17       0.0        1.0        0.0
3        18      17.0        0.0        0.0
4        19       6.0        1.0        0.0
5        20      43.0        0.0        3.0
6        21       1.0        0.0        0.0
7        22       1.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   58.0
1        15  Released   55.0
2        17  Released    0.0
3        18  Released   17.0
4        19  Released    6.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10    15   17    18   19    20   21   22
Status
Completed   0.0   0.0  0.0   0.0  0.0   3.0  0.0  0.0
Executing   5.0   0.0  1.0   0.0  1.0   0.0  0.0  0.0
Released   58.0  55.0  0.0  17.0  6.0  43.0  1.0  1.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10    15   17    18   19    20   21   22
0          Completed   0.0   0.0  0.0   0.0  0.0   3.0  0.0  0.0
1          Executing   5.0   0.0  1.0   0.0  1.0   0.0  0.0  0.0
2           Released  58.0  55.0  0.0  17.0  6.0  43.0  1.0  1.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10    15   17    18   19    20   21   22
0  Completed   0.0   0.0  0.0   0.0  0.0   3.0  0.0  0.0
1  Executing   5.0   0.0  1.0   0.0  1.0   0.0  0.0  0.0
2   Released  58.0  55.0  0.0  17.0  6.0  43.0  1.0  1.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()