# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Jun 30 2022 9:08AM,240812,10,8209912,MedStone Pharma LLC,Released
1,Jun 30 2022 9:08AM,240811,12,HH6184,Hush Hush,Released
2,Jun 30 2022 9:06AM,240810,10,Enova-10225-2,Emerginnova,Released
3,Jun 30 2022 9:02AM,240809,10,8212489,Beach Products Inc,Released
4,Jun 30 2022 9:02AM,240809,10,8212490,Beach Products Inc,Released
5,Jun 30 2022 9:02AM,240809,10,8212491,Beach Products Inc,Released
6,Jun 30 2022 9:02AM,240809,10,8212492,Beach Products Inc,Released
7,Jun 30 2022 9:02AM,240809,10,8212493,Beach Products Inc,Released
8,Jun 30 2022 9:02AM,240809,10,8212494,Beach Products Inc,Released
9,Jun 30 2022 9:02AM,240809,10,8212495,Beach Products Inc,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
25  240808       Released          2
26  240809       Released         14
27  240810       Released          1
28  240811       Released          1
29  240812       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
240808                NaN        NaN       2.0
240809                NaN        NaN      14.0
240810                NaN        NaN       1.0
240811                NaN        NaN       1.0
240812                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
240745                1.0        9.0      11.0
240750                0.0       18.0       8.0
240751                0.0        0.0       1.0
240763                1.0        0.0       5.0
240766                0.0        0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
240745                  1          9        11
240750                  0         18         8
240751                  0          0         1
240763                  1          0         5
240766                  0          0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               240745          1          9        11
1               240750          0         18         8
2               240751          0          0         1
3               240763          1          0         5
4               240766          0          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               240745         1         9       11
1               240750                  18        8
2               240751                            1
3               240763         1                  5
4               240766                            1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                        Customer
0   Jun 30 2022  9:08AM  240812        10             MedStone Pharma LLC
1   Jun 30 2022  9:08AM  240811        12                       Hush Hush
2   Jun 30 2022  9:06AM  240810        10                     Emerginnova
3   Jun 30 2022  9:02AM  240809        10              Beach Products Inc
17  Jun 30 2022  8:57AM  240808        12               NBTY Global, Inc.
19  Jun 30 2022  8:51AM  240806        10        Senseonics, Incorporated
21  Jun 30 2022  8:51AM  240805        16   Sartorius Stedim Filters Inc.
22  Jun 30 2022  8:50AM  240804        19          GCH Granules USA, Inc.
25  Jun 30 2022  8:46AM  240803        10               ISDIN Corporation
54  Jun 30 2022  8:26AM  240801        16  Sartorius Bioprocess Solutions

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Jun 30 2022 9:08AM,240812,10,MedStone Pharma LLC,,,1
1,Jun 30 2022 9:08AM,240811,12,Hush Hush,,,1
2,Jun 30 2022 9:06AM,240810,10,Emerginnova,,,1
3,Jun 30 2022 9:02AM,240809,10,Beach Products Inc,,,14
4,Jun 30 2022 8:57AM,240808,12,"NBTY Global, Inc.",,,2
5,Jun 30 2022 8:51AM,240806,10,"Senseonics, Incorporated",,,2
6,Jun 30 2022 8:51AM,240805,16,Sartorius Stedim Filters Inc.,,,1
7,Jun 30 2022 8:50AM,240804,19,"GCH Granules USA, Inc.",,,3
8,Jun 30 2022 8:46AM,240803,10,ISDIN Corporation,,,29
9,Jun 30 2022 8:26AM,240801,16,Sartorius Bioprocess Solutions,,2,5

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jun 30 2022 9:08AM,240812,10,MedStone Pharma LLC,1,,
1,Jun 30 2022 9:08AM,240811,12,Hush Hush,1,,
2,Jun 30 2022 9:06AM,240810,10,Emerginnova,1,,
3,Jun 30 2022 9:02AM,240809,10,Beach Products Inc,14,,
4,Jun 30 2022 8:57AM,240808,12,"NBTY Global, Inc.",2,,
5,Jun 30 2022 8:51AM,240806,10,"Senseonics, Incorporated",2,,
6,Jun 30 2022 8:51AM,240805,16,Sartorius Stedim Filters Inc.,1,,
7,Jun 30 2022 8:50AM,240804,19,"GCH Granules USA, Inc.",3,,
8,Jun 30 2022 8:46AM,240803,10,ISDIN Corporation,29,,
9,Jun 30 2022 8:26AM,240801,16,Sartorius Bioprocess Solutions,5,2,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jun 30 2022 9:08AM,240812,10,MedStone Pharma LLC,1,,
1,Jun 30 2022 9:08AM,240811,12,Hush Hush,1,,
2,Jun 30 2022 9:06AM,240810,10,Emerginnova,1,,
3,Jun 30 2022 9:02AM,240809,10,Beach Products Inc,14,,
4,Jun 30 2022 8:57AM,240808,12,"NBTY Global, Inc.",2,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jun 30 2022 9:08AM,240812,10,MedStone Pharma LLC,1.0,NaN,NaN
1,Jun 30 2022 9:08AM,240811,12,Hush Hush,1.0,NaN,NaN
2,Jun 30 2022 9:06AM,240810,10,Emerginnova,1.0,NaN,NaN
3,Jun 30 2022 9:02AM,240809,10,Beach Products Inc,14.0,NaN,NaN
4,Jun 30 2022 8:57AM,240808,12,"NBTY Global, Inc.",2.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jun 30 2022 9:08AM,240812,10,MedStone Pharma LLC,1.0,0.0,0.0
1,Jun 30 2022 9:08AM,240811,12,Hush Hush,1.0,0.0,0.0
2,Jun 30 2022 9:06AM,240810,10,Emerginnova,1.0,0.0,0.0
3,Jun 30 2022 9:02AM,240809,10,Beach Products Inc,14.0,0.0,0.0
4,Jun 30 2022 8:57AM,240808,12,"NBTY Global, Inc.",2.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         1685557      49.0        0.0        0.0
12          481619       3.0        0.0        0.0
16          481606       6.0        2.0        0.0
17          240768       1.0        0.0        0.0
19          722373      59.0        2.0        0.0
20         1203784      33.0       45.0        2.0
21         1203910       4.0        1.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  1685557      49.0        0.0        0.0
1        12   481619       3.0        0.0        0.0
2        16   481606       6.0        2.0        0.0
3        17   240768       1.0        0.0        0.0
4        19   722373      59.0        2.0        0.0
5        20  1203784      33.0       45.0        2.0
6        21  1203910       4.0        1.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      49.0        0.0        0.0
1        12       3.0        0.0        0.0
2        16       6.0        2.0        0.0
3        17       1.0        0.0        0.0
4        19      59.0        2.0        0.0
5        20      33.0       45.0        2.0
6        21       4.0        1.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   49.0
1        12  Released    3.0
2        16  Released    6.0
3        17  Released    1.0
4        19  Released   59.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10   12   16   17    19    20   21
Status
Completed   0.0  0.0  0.0  0.0   0.0   2.0  0.0
Executing   0.0  0.0  2.0  0.0   2.0  45.0  1.0
Released   49.0  3.0  6.0  1.0  59.0  33.0  4.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10   12   16   17    19    20   21
0          Completed   0.0  0.0  0.0  0.0   0.0   2.0  0.0
1          Executing   0.0  0.0  2.0  0.0   2.0  45.0  1.0
2           Released  49.0  3.0  6.0  1.0  59.0  33.0  4.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10   12   16   17    19    20   21
0  Completed   0.0  0.0  0.0  0.0   0.0   2.0  0.0
1  Executing   0.0  0.0  2.0  0.0   2.0  45.0  1.0
2   Released  49.0  3.0  6.0  1.0  59.0  33.0  4.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()