# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={ODBC Driver 17 for SQL Server};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,May 23 2023 1:56PM,263503,10,DERM52323,"DermaCare BioSciences, LTD.",Released
1,May 23 2023 1:51PM,263501,10,Clear-9509080,"ClearSpec, LLC",Released
2,May 23 2023 1:25PM,263500,10,38345,"Digital Brands, LLC",Released
3,May 23 2023 1:25PM,263500,10,38346,"Digital Brands, LLC",Released
4,May 23 2023 1:23PM,263499,10,HH-42147,Hush Hush,Released
5,May 23 2023 1:23PM,263499,10,HH-42166,Hush Hush,Released
6,May 23 2023 1:23PM,263499,10,HH-42167,Hush Hush,Released
7,May 23 2023 1:23PM,263499,10,HH-42168,Hush Hush,Released
8,May 23 2023 1:23PM,263499,10,HH-42169,Hush Hush,Released
9,May 23 2023 1:23PM,263499,10,HH-42170,Hush Hush,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
31  263498       Released          1
32  263499       Released          9
33  263500       Released          2
34  263501       Released          1
35  263503       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
263498                NaN        NaN       1.0
263499                NaN        NaN       9.0
263500                NaN        NaN       2.0
263501                NaN        NaN       1.0
263503                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
263409                0.0        8.0      18.0
263421                0.0        4.0       3.0
263439               12.0       10.0       1.0
263441                0.0        1.0       0.0
263443                4.0       14.0      12.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
263409                  0          8        18
263421                  0          4         3
263439                 12         10         1
263441                  0          1         0
263443                  4         14        12

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               263409          0          8        18
1               263421          0          4         3
2               263439         12         10         1
3               263441          0          1         0
4               263443          4         14        12

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               263409                   8       18
1               263421                   4        3
2               263439        12        10        1
3               263441                   1
4               263443         4        14       12

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                     Customer
0   May 23 2023  1:56PM  263503        10  DermaCare BioSciences, LTD.
1   May 23 2023  1:51PM  263501        10               ClearSpec, LLC
2   May 23 2023  1:25PM  263500        10          Digital Brands, LLC
4   May 23 2023  1:23PM  263499        10                    Hush Hush
13  May 23 2023  1:22PM  263498        19               Exact-Rx, Inc.
14  May 23 2023 12:25PM  263495        15         Emersa Waterbox, LLC
15  May 23 2023 12:20PM  263494        15         Emersa Waterbox, LLC
16  May 23 2023 12:16PM  263493        10             Methapharm, Inc.
23  May 23 2023 12:13PM  263491        10             Methapharm, Inc.
24  May 23 2023 12:10PM  263489        10                  Emerginnova

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,May 23 2023 1:56PM,263503,10,"DermaCare BioSciences, LTD.",,,1
1,May 23 2023 1:51PM,263501,10,"ClearSpec, LLC",,,1
2,May 23 2023 1:25PM,263500,10,"Digital Brands, LLC",,,2
3,May 23 2023 1:23PM,263499,10,Hush Hush,,,9
4,May 23 2023 1:22PM,263498,19,"Exact-Rx, Inc.",,,1
5,May 23 2023 12:25PM,263495,15,"Emersa Waterbox, LLC",,,1
6,May 23 2023 12:20PM,263494,15,"Emersa Waterbox, LLC",,1,
7,May 23 2023 12:16PM,263493,10,"Methapharm, Inc.",,,7
8,May 23 2023 12:13PM,263491,10,"Methapharm, Inc.",,,1
9,May 23 2023 12:10PM,263489,10,Emerginnova,,,2

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,May 23 2023 1:56PM,263503,10,"DermaCare BioSciences, LTD.",1,,
1,May 23 2023 1:51PM,263501,10,"ClearSpec, LLC",1,,
2,May 23 2023 1:25PM,263500,10,"Digital Brands, LLC",2,,
3,May 23 2023 1:23PM,263499,10,Hush Hush,9,,
4,May 23 2023 1:22PM,263498,19,"Exact-Rx, Inc.",1,,
5,May 23 2023 12:25PM,263495,15,"Emersa Waterbox, LLC",1,,
6,May 23 2023 12:20PM,263494,15,"Emersa Waterbox, LLC",,1,
7,May 23 2023 12:16PM,263493,10,"Methapharm, Inc.",7,,
8,May 23 2023 12:13PM,263491,10,"Methapharm, Inc.",1,,
9,May 23 2023 12:10PM,263489,10,Emerginnova,2,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,May 23 2023 1:56PM,263503,10,"DermaCare BioSciences, LTD.",1,,
1,May 23 2023 1:51PM,263501,10,"ClearSpec, LLC",1,,
2,May 23 2023 1:25PM,263500,10,"Digital Brands, LLC",2,,
3,May 23 2023 1:23PM,263499,10,Hush Hush,9,,
4,May 23 2023 1:22PM,263498,19,"Exact-Rx, Inc.",1,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,May 23 2023 1:56PM,263503,10,"DermaCare BioSciences, LTD.",1.0,NaN,NaN
1,May 23 2023 1:51PM,263501,10,"ClearSpec, LLC",1.0,NaN,NaN
2,May 23 2023 1:25PM,263500,10,"Digital Brands, LLC",2.0,NaN,NaN
3,May 23 2023 1:23PM,263499,10,Hush Hush,9.0,NaN,NaN
4,May 23 2023 1:22PM,263498,19,"Exact-Rx, Inc.",1.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,May 23 2023 1:56PM,263503,10,"DermaCare BioSciences, LTD.",1.0,0.0,0.0
1,May 23 2023 1:51PM,263501,10,"ClearSpec, LLC",1.0,0.0,0.0
2,May 23 2023 1:25PM,263500,10,"Digital Brands, LLC",2.0,0.0,0.0
3,May 23 2023 1:23PM,263499,10,Hush Hush,9.0,0.0,0.0
4,May 23 2023 1:22PM,263498,19,"Exact-Rx, Inc.",1.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         3425272      36.0        2.0        0.0
15         1844260      50.0       58.0        7.0
19         1053824      17.0       31.0       45.0
20          263488       1.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  3425272      36.0        2.0        0.0
1        15  1844260      50.0       58.0        7.0
2        19  1053824      17.0       31.0       45.0
3        20   263488       1.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      36.0        2.0        0.0
1        15      50.0       58.0        7.0
2        19      17.0       31.0       45.0
3        20       1.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse     Status  Value
0        10   Released   36.0
1        15   Released   50.0
2        19   Released   17.0
3        20   Released    1.0
4        10  Executing    2.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10    15    19   20
Status
Completed   0.0   7.0  45.0  0.0
Executing   2.0  58.0  31.0  0.0
Released   36.0  50.0  17.0  1.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10    15    19   20
0          Completed   0.0   7.0  45.0  0.0
1          Executing   2.0  58.0  31.0  0.0
2           Released  36.0  50.0  17.0  1.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10    15    19   20
0  Completed   0.0   7.0  45.0  0.0
1  Executing   2.0  58.0  31.0  0.0
2   Released  36.0  50.0  17.0  1.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()