# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Jun 8 2022 2:37PM,239158,19,TR-RA-06102022,"GCH Granules USA, Inc.",Released
1,Jun 8 2022 2:33PM,239157,10,0085749515,ISDIN Corporation,Released
2,Jun 8 2022 2:33PM,239157,10,0085749559,ISDIN Corporation,Released
3,Jun 8 2022 2:33PM,239157,10,0085749558,ISDIN Corporation,Released
4,Jun 8 2022 2:33PM,239157,10,0085749557,ISDIN Corporation,Released
5,Jun 8 2022 2:33PM,239157,10,0085749561,ISDIN Corporation,Released
6,Jun 8 2022 2:33PM,239157,10,0085749568,ISDIN Corporation,Released
7,Jun 8 2022 2:33PM,239157,10,0085745646,ISDIN Corporation,Released
8,Jun 8 2022 2:33PM,239157,10,0085749141,ISDIN Corporation,Released
9,Jun 8 2022 2:33PM,239157,10,0085749143,ISDIN Corporation,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
48  239154       Released         15
49  239155       Released          1
50  239156       Released          1
51  239157       Released         24
52  239158       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
239154                NaN        NaN      15.0
239155                NaN        NaN       1.0
239156                NaN        NaN       1.0
239157                NaN        NaN      24.0
239158                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
239039                0.0        0.0       2.0
239045               29.0        0.0       3.0
239047                0.0        0.0       1.0
239050                6.0        1.0       5.0
239060               20.0       14.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
239039                  0          0         2
239045                 29          0         3
239047                  0          0         1
239050                  6          1         5
239060                 20         14         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               239039          0          0         2
1               239045         29          0         3
2               239047          0          0         1
3               239050          6          1         5
4               239060         20         14         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               239039                            2
1               239045        29                  3
2               239047                            1
3               239050         6         1        5
4               239060        20        14        1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                Customer
0   Jun  8 2022  2:37PM  239158        19  GCH Granules USA, Inc.
1   Jun  8 2022  2:33PM  239157        10       ISDIN Corporation
25  Jun  8 2022  2:24PM  239156        21       NBTY Global, Inc.
26  Jun  8 2022  2:23PM  239155        10       ISDIN Corporation
27  Jun  8 2022  2:23PM  239154        10       ISDIN Corporation
42  Jun  8 2022  2:20PM  239153        16   ACG North America LLC
43  Jun  8 2022  2:20PM  239152        10       ISDIN Corporation
46  Jun  8 2022  2:14PM  239151        19     AdvaGen Pharma, Ltd
91  Jun  8 2022  2:09PM  239150        21       NBTY Global, Inc.
92  Jun  8 2022  1:51PM  239149        22       NBTY Global, Inc.

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Jun 8 2022 2:37PM,239158,19,"GCH Granules USA, Inc.",,,1
1,Jun 8 2022 2:33PM,239157,10,ISDIN Corporation,,,24
2,Jun 8 2022 2:24PM,239156,21,"NBTY Global, Inc.",,,1
3,Jun 8 2022 2:23PM,239155,10,ISDIN Corporation,,,1
4,Jun 8 2022 2:23PM,239154,10,ISDIN Corporation,,,15
5,Jun 8 2022 2:20PM,239153,16,ACG North America LLC,,,1
6,Jun 8 2022 2:20PM,239152,10,ISDIN Corporation,,,3
7,Jun 8 2022 2:14PM,239151,19,"AdvaGen Pharma, Ltd",,,45
8,Jun 8 2022 2:09PM,239150,21,"NBTY Global, Inc.",,,1
9,Jun 8 2022 1:51PM,239149,22,"NBTY Global, Inc.",,,1

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jun 8 2022 2:37PM,239158,19,"GCH Granules USA, Inc.",1,,
1,Jun 8 2022 2:33PM,239157,10,ISDIN Corporation,24,,
2,Jun 8 2022 2:24PM,239156,21,"NBTY Global, Inc.",1,,
3,Jun 8 2022 2:23PM,239155,10,ISDIN Corporation,1,,
4,Jun 8 2022 2:23PM,239154,10,ISDIN Corporation,15,,
5,Jun 8 2022 2:20PM,239153,16,ACG North America LLC,1,,
6,Jun 8 2022 2:20PM,239152,10,ISDIN Corporation,3,,
7,Jun 8 2022 2:14PM,239151,19,"AdvaGen Pharma, Ltd",45,,
8,Jun 8 2022 2:09PM,239150,21,"NBTY Global, Inc.",1,,
9,Jun 8 2022 1:51PM,239149,22,"NBTY Global, Inc.",1,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jun 8 2022 2:37PM,239158,19,"GCH Granules USA, Inc.",1,,
1,Jun 8 2022 2:33PM,239157,10,ISDIN Corporation,24,,
2,Jun 8 2022 2:24PM,239156,21,"NBTY Global, Inc.",1,,
3,Jun 8 2022 2:23PM,239155,10,ISDIN Corporation,1,,
4,Jun 8 2022 2:23PM,239154,10,ISDIN Corporation,15,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jun 8 2022 2:37PM,239158,19,"GCH Granules USA, Inc.",1.0,NaN,NaN
1,Jun 8 2022 2:33PM,239157,10,ISDIN Corporation,24.0,NaN,NaN
2,Jun 8 2022 2:24PM,239156,21,"NBTY Global, Inc.",1.0,NaN,NaN
3,Jun 8 2022 2:23PM,239155,10,ISDIN Corporation,1.0,NaN,NaN
4,Jun 8 2022 2:23PM,239154,10,ISDIN Corporation,15.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jun 8 2022 2:37PM,239158,19,"GCH Granules USA, Inc.",1.0,0.0,0.0
1,Jun 8 2022 2:33PM,239157,10,ISDIN Corporation,24.0,0.0,0.0
2,Jun 8 2022 2:24PM,239156,21,"NBTY Global, Inc.",1.0,0.0,0.0
3,Jun 8 2022 2:23PM,239155,10,ISDIN Corporation,1.0,0.0,0.0
4,Jun 8 2022 2:23PM,239154,10,ISDIN Corporation,15.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         3108605      86.0       19.0       10.0
102         478176       2.0        0.0        0.0
12          239083       1.0        0.0        0.0
15          717142       9.0        1.0       35.0
16          717406       2.0        1.0        0.0
18          239107       1.0        0.0        0.0
19         1434642      51.0       14.0       20.0
20          956478      40.0       13.0        0.0
21          717428       3.0        0.0        0.0
22          478297       2.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  3108605      86.0       19.0       10.0
1       102   478176       2.0        0.0        0.0
2        12   239083       1.0        0.0        0.0
3        15   717142       9.0        1.0       35.0
4        16   717406       2.0        1.0        0.0
5        18   239107       1.0        0.0        0.0
6        19  1434642      51.0       14.0       20.0
7        20   956478      40.0       13.0        0.0
8        21   717428       3.0        0.0        0.0
9        22   478297       2.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      86.0       19.0       10.0
1       102       2.0        0.0        0.0
2        12       1.0        0.0        0.0
3        15       9.0        1.0       35.0
4        16       2.0        1.0        0.0
5        18       1.0        0.0        0.0
6        19      51.0       14.0       20.0
7        20      40.0       13.0        0.0
8        21       3.0        0.0        0.0
9        22       2.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   86.0
1       102  Released    2.0
2        12  Released    1.0
3        15  Released    9.0
4        16  Released    2.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10  102   12    15   16   18    19    20   21   22
Status
Completed  10.0  0.0  0.0  35.0  0.0  0.0  20.0   0.0  0.0  0.0
Executing  19.0  0.0  0.0   1.0  1.0  0.0  14.0  13.0  0.0  0.0
Released   86.0  2.0  1.0   9.0  2.0  1.0  51.0  40.0  3.0  2.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10  102   12    15   16   18    19    20   21   22
0          Completed  10.0  0.0  0.0  35.0  0.0  0.0  20.0   0.0  0.0  0.0
1          Executing  19.0  0.0  0.0   1.0  1.0  0.0  14.0  13.0  0.0  0.0
2           Released  86.0  2.0  1.0   9.0  2.0  1.0  51.0  40.0  3.0  2.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10  102   12    15   16   18    19    20   21   22
0  Completed  10.0  0.0  0.0  35.0  0.0  0.0  20.0   0.0  0.0  0.0
1  Executing  19.0  0.0  0.0   1.0  1.0  0.0  14.0  13.0  0.0  0.0
2   Released  86.0  2.0  1.0   9.0  2.0  1.0  51.0  40.0  3.0  2.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()