# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Aug 30 2022 2:26PM,245364,10,0085953802,ISDIN Corporation,Released
1,Aug 30 2022 2:26PM,245364,10,0085953816,ISDIN Corporation,Released
2,Aug 30 2022 2:26PM,245364,10,0085953824,ISDIN Corporation,Released
3,Aug 30 2022 2:26PM,245364,10,0085953825,ISDIN Corporation,Released
4,Aug 30 2022 2:26PM,245364,10,0085953827,ISDIN Corporation,Released
5,Aug 30 2022 2:26PM,245364,10,0085953826,ISDIN Corporation,Released
6,Aug 30 2022 2:26PM,245364,10,0085953852,ISDIN Corporation,Released
7,Aug 30 2022 2:26PM,245364,10,0085953853,ISDIN Corporation,Released
8,Aug 30 2022 2:26PM,245364,10,0085953874,ISDIN Corporation,Released
9,Aug 30 2022 2:26PM,245364,10,0085953878,ISDIN Corporation,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
47  245361       Released          5
48  245362      Executing          3
49  245362       Released          3
50  245363      Executing          1
51  245364       Released         40

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
245360                NaN        NaN       7.0
245361                NaN        NaN       5.0
245362                NaN        3.0       3.0
245363                NaN        1.0       NaN
245364                NaN        NaN      40.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
245240                0.0        8.0      30.0
245259                4.0       57.0       3.0
245276                0.0        0.0       1.0
245277                0.0        0.0       1.0
245280                0.0        0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
245240                  0          8        30
245259                  4         57         3
245276                  0          0         1
245277                  0          0         1
245280                  0          0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               245240          0          8        30
1               245259          4         57         3
2               245276          0          0         1
3               245277          0          0         1
4               245280          0          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               245240                   8       30
1               245259         4        57        3
2               245276                            1
3               245277                            1
4               245280                            1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                        Customer
0   Aug 30 2022  2:26PM  245364        10               ISDIN Corporation
40  Aug 30 2022  1:51PM  245352        10                Eywa Pharma Inc.
41  Aug 30 2022  1:50PM  245363        12                       Hush Hush
42  Aug 30 2022  1:48PM  245362        10                Methapharm, Inc.
48  Aug 30 2022  1:47PM  245361        10                Methapharm, Inc.
53  Aug 30 2022  1:43PM  245360        15     Virtus Pharmaceuticals, LLC
60  Aug 30 2022  1:42PM  245340        15  Chadwick Pharmaceuticals, Inc.
61  Aug 30 2022  1:40PM  245358        19             AdvaGen Pharma, Ltd
90  Aug 30 2022  1:39PM  245359        10               Yusen – 3D Matrix
91  Aug 30 2022  1:36PM  245357        19          GCH Granules USA, Inc.

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Aug 30 2022 2:26PM,245364,10,ISDIN Corporation,,,40
1,Aug 30 2022 1:51PM,245352,10,Eywa Pharma Inc.,,,1
2,Aug 30 2022 1:50PM,245363,12,Hush Hush,,1,
3,Aug 30 2022 1:48PM,245362,10,"Methapharm, Inc.",,3,3
4,Aug 30 2022 1:47PM,245361,10,"Methapharm, Inc.",,,5
5,Aug 30 2022 1:43PM,245360,15,"Virtus Pharmaceuticals, LLC",,,7
6,Aug 30 2022 1:42PM,245340,15,"Chadwick Pharmaceuticals, Inc.",,,1
7,Aug 30 2022 1:40PM,245358,19,"AdvaGen Pharma, Ltd",,9,20
8,Aug 30 2022 1:39PM,245359,10,Yusen – 3D Matrix,,,1
9,Aug 30 2022 1:36PM,245357,19,"GCH Granules USA, Inc.",,,1

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 30 2022 2:26PM,245364,10,ISDIN Corporation,40,,
1,Aug 30 2022 1:51PM,245352,10,Eywa Pharma Inc.,1,,
2,Aug 30 2022 1:50PM,245363,12,Hush Hush,,1,
3,Aug 30 2022 1:48PM,245362,10,"Methapharm, Inc.",3,3,
4,Aug 30 2022 1:47PM,245361,10,"Methapharm, Inc.",5,,
5,Aug 30 2022 1:43PM,245360,15,"Virtus Pharmaceuticals, LLC",7,,
6,Aug 30 2022 1:42PM,245340,15,"Chadwick Pharmaceuticals, Inc.",1,,
7,Aug 30 2022 1:40PM,245358,19,"AdvaGen Pharma, Ltd",20,9,
8,Aug 30 2022 1:39PM,245359,10,Yusen – 3D Matrix,1,,
9,Aug 30 2022 1:36PM,245357,19,"GCH Granules USA, Inc.",1,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 30 2022 2:26PM,245364,10,ISDIN Corporation,40,,
1,Aug 30 2022 1:51PM,245352,10,Eywa Pharma Inc.,1,,
2,Aug 30 2022 1:50PM,245363,12,Hush Hush,,1,
3,Aug 30 2022 1:48PM,245362,10,"Methapharm, Inc.",3,3,
4,Aug 30 2022 1:47PM,245361,10,"Methapharm, Inc.",5,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 30 2022 2:26PM,245364,10,ISDIN Corporation,40.0,NaN,NaN
1,Aug 30 2022 1:51PM,245352,10,Eywa Pharma Inc.,1.0,NaN,NaN
2,Aug 30 2022 1:50PM,245363,12,Hush Hush,NaN,1.0,NaN
3,Aug 30 2022 1:48PM,245362,10,"Methapharm, Inc.",3.0,3.0,NaN
4,Aug 30 2022 1:47PM,245361,10,"Methapharm, Inc.",5.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 30 2022 2:26PM,245364,10,ISDIN Corporation,40.0,0.0,0.0
1,Aug 30 2022 1:51PM,245352,10,Eywa Pharma Inc.,1.0,0.0,0.0
2,Aug 30 2022 1:50PM,245363,12,Hush Hush,0.0,1.0,0.0
3,Aug 30 2022 1:48PM,245362,10,"Methapharm, Inc.",3.0,3.0,0.0
4,Aug 30 2022 1:47PM,245361,10,"Methapharm, Inc.",5.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         3434608      72.0       34.0        9.0
12          245363       0.0        1.0        0.0
15          981295      23.0       89.0        6.0
19          736058      21.0       10.0        0.0
20         1226549     119.0       17.0        0.0
21         2207547       8.0        1.0        0.0
22          245347       1.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  3434608      72.0       34.0        9.0
1        12   245363       0.0        1.0        0.0
2        15   981295      23.0       89.0        6.0
3        19   736058      21.0       10.0        0.0
4        20  1226549     119.0       17.0        0.0
5        21  2207547       8.0        1.0        0.0
6        22   245347       1.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      72.0       34.0        9.0
1        12       0.0        1.0        0.0
2        15      23.0       89.0        6.0
3        19      21.0       10.0        0.0
4        20     119.0       17.0        0.0
5        21       8.0        1.0        0.0
6        22       1.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   72.0
1        12  Released    0.0
2        15  Released   23.0
3        19  Released   21.0
4        20  Released  119.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10   12    15    19     20   21   22
Status
Completed   9.0  0.0   6.0   0.0    0.0  0.0  0.0
Executing  34.0  1.0  89.0  10.0   17.0  1.0  0.0
Released   72.0  0.0  23.0  21.0  119.0  8.0  1.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10   12    15    19     20   21   22
0          Completed   9.0  0.0   6.0   0.0    0.0  0.0  0.0
1          Executing  34.0  1.0  89.0  10.0   17.0  1.0  0.0
2           Released  72.0  0.0  23.0  21.0  119.0  8.0  1.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10   12    15    19     20   21   22
0  Completed   9.0  0.0   6.0   0.0    0.0  0.0  0.0
1  Executing  34.0  1.0  89.0  10.0   17.0  1.0  0.0
2   Released  72.0  0.0  23.0  21.0  119.0  8.0  1.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()