# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={ODBC Driver 17 for SQL Server};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Apr 25 2023 9:24AM,261733,10,EYEEYE174FJMSK0U,Eye Pharma Inc,Released
1,Apr 25 2023 9:24AM,261732,10,HH-41550,Hush Hush,Released
2,Apr 25 2023 9:24AM,261732,10,HH-41551,Hush Hush,Released
3,Apr 25 2023 9:24AM,261732,10,HH-41552,Hush Hush,Released
4,Apr 25 2023 9:24AM,261732,10,HH-41553,Hush Hush,Released
5,Apr 25 2023 9:24AM,261732,10,HH-41554,Hush Hush,Released
6,Apr 25 2023 9:24AM,261732,10,HH-41555,Hush Hush,Released
7,Apr 25 2023 9:24AM,261732,10,HH-41556,Hush Hush,Released
8,Apr 25 2023 9:24AM,261732,10,HH-41557,Hush Hush,Released
9,Apr 25 2023 9:24AM,261732,10,HH-41558,Hush Hush,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
16  261726      Executing          1
17  261727       Released          1
18  261729       Released          3
19  261732       Released         17
20  261733       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Executing  Released
id
261726                1.0       NaN
261727                NaN       1.0
261729                NaN       3.0
261732                NaN      17.0
261733                NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Executing  Released
id
261621                0.0       1.0
261622                1.0      49.0
261641                1.0       0.0
261649                1.0       0.0
261652                0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

Column Completed does not exist yet

ShipmentStatus  Executing  Released
id
261621                  0         1
261622                  1        49
261641                  1         0
261649                  1         0
261652                  0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Executing  Released
0               261621          0         1
1               261622          1        49
2               261641          1         0
3               261649          1         0
4               261652          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

Column Completed does not exist yet

ShipmentStatus      id Executing Released
0               261621                  1
1               261622         1       49
2               261641         1
3               261649         1
4               261652                  1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse             Customer
0   Apr 25 2023  9:24AM  261733        10       Eye Pharma Inc
1   Apr 25 2023  9:24AM  261732        10            Hush Hush
18  Apr 25 2023  9:10AM  261729        10  Digital Brands, LLC
21  Apr 25 2023  9:00AM  261727        10          Emerginnova
22  Apr 25 2023  8:55AM  261726        12     SD Head USA, LLC
23  Apr 25 2023  8:48AM  261725        10              Bio-PRF
35  Apr 25 2023  8:46AM  261724        19       Else Nutrition
37  Apr 25 2023  8:46AM  261723        10     Methapharm, Inc.
42  Apr 25 2023  7:59AM  261721        19  AdvaGen Pharma, Ltd
51  Apr 24 2023  3:51PM  261701        19  AdvaGen Pharma, Ltd

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Executing,Released
0,Apr 25 2023 9:24AM,261733,10,Eye Pharma Inc,,1
1,Apr 25 2023 9:24AM,261732,10,Hush Hush,,17
2,Apr 25 2023 9:10AM,261729,10,"Digital Brands, LLC",,3
3,Apr 25 2023 9:00AM,261727,10,Emerginnova,,1
4,Apr 25 2023 8:55AM,261726,12,"SD Head USA, LLC",1,
5,Apr 25 2023 8:48AM,261725,10,Bio-PRF,4,8
6,Apr 25 2023 8:46AM,261724,19,Else Nutrition,1,1
7,Apr 25 2023 8:46AM,261723,10,"Methapharm, Inc.",,5
8,Apr 25 2023 7:59AM,261721,19,"AdvaGen Pharma, Ltd",1,8
9,Apr 24 2023 3:51PM,261701,19,"AdvaGen Pharma, Ltd",3,14

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing
0,Apr 25 2023 9:24AM,261733,10,Eye Pharma Inc,1,
1,Apr 25 2023 9:24AM,261732,10,Hush Hush,17,
2,Apr 25 2023 9:10AM,261729,10,"Digital Brands, LLC",3,
3,Apr 25 2023 9:00AM,261727,10,Emerginnova,1,
4,Apr 25 2023 8:55AM,261726,12,"SD Head USA, LLC",,1
5,Apr 25 2023 8:48AM,261725,10,Bio-PRF,8,4
6,Apr 25 2023 8:46AM,261724,19,Else Nutrition,1,1
7,Apr 25 2023 8:46AM,261723,10,"Methapharm, Inc.",5,
8,Apr 25 2023 7:59AM,261721,19,"AdvaGen Pharma, Ltd",8,1
9,Apr 24 2023 3:51PM,261701,19,"AdvaGen Pharma, Ltd",14,3

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing
0,Apr 25 2023 9:24AM,261733,10,Eye Pharma Inc,1,
1,Apr 25 2023 9:24AM,261732,10,Hush Hush,17,
2,Apr 25 2023 9:10AM,261729,10,"Digital Brands, LLC",3,
3,Apr 25 2023 9:00AM,261727,10,Emerginnova,1,
4,Apr 25 2023 8:55AM,261726,12,"SD Head USA, LLC",,1

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

Column Completed does not exist yet

,Date,id,Warehouse,Customer,Released,Executing
0,Apr 25 2023 9:24AM,261733,10,Eye Pharma Inc,1.0,NaN
1,Apr 25 2023 9:24AM,261732,10,Hush Hush,17.0,NaN
2,Apr 25 2023 9:10AM,261729,10,"Digital Brands, LLC",3.0,NaN
3,Apr 25 2023 9:00AM,261727,10,Emerginnova,1.0,NaN
4,Apr 25 2023 8:55AM,261726,12,"SD Head USA, LLC",NaN,1.0

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing
0,Apr 25 2023 9:24AM,261733,10,Eye Pharma Inc,1.0,0.0
1,Apr 25 2023 9:24AM,261732,10,Hush Hush,17.0,0.0
2,Apr 25 2023 9:10AM,261729,10,"Digital Brands, LLC",3.0,0.0
3,Apr 25 2023 9:00AM,261727,10,Emerginnova,1.0,0.0
4,Apr 25 2023 8:55AM,261726,12,"SD Head USA, LLC",0.0,1.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing
Warehouse
10         1832010      35.0        5.0
12          261726       0.0        1.0
19         1046838      24.0        5.0
20         1046544      51.0        2.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing
0        10  1832010      35.0        5.0
1        12   261726       0.0        1.0
2        19  1046838      24.0        5.0
3        20  1046544      51.0        2.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing
0        10      35.0        5.0
1        12       0.0        1.0
2        19      24.0        5.0
3        20      51.0        2.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse     Status  Value
0        10   Released   35.0
1        12   Released    0.0
2        19   Released   24.0
3        20   Released   51.0
4        10  Executing    5.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10   12    19    20
Status
Executing   5.0  1.0   5.0   2.0
Released   35.0  0.0  24.0  51.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10   12    19    20
0          Executing   5.0  1.0   5.0   2.0
1           Released  35.0  0.0  24.0  51.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10   12    19    20
0  Executing   5.0  1.0   5.0   2.0
1   Released  35.0  0.0  24.0  51.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()