# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={ODBC Driver 17 for SQL Server};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Feb 13 2023 8:46AM,257198,19,TR-RN-02132023,"GCH Granules USA, Inc.",Released
1,Feb 13 2023 8:43AM,257197,12,HH-39933,Hush Hush,Released
2,Feb 13 2023 8:38AM,257195,19,ADV80011643,"AdvaGen Pharma, Ltd",Released
3,Feb 13 2023 8:38AM,257195,19,ADV80011644,"AdvaGen Pharma, Ltd",Released
4,Feb 13 2023 8:38AM,257195,19,ADV80011645,"AdvaGen Pharma, Ltd",Released
5,Feb 13 2023 8:38AM,257195,19,ADV80011646,"AdvaGen Pharma, Ltd",Released
6,Feb 13 2023 8:38AM,257195,19,ADV80011647,"AdvaGen Pharma, Ltd",Released
7,Feb 13 2023 8:38AM,257195,19,ADV80011648,"AdvaGen Pharma, Ltd",Released
8,Feb 13 2023 8:38AM,257195,19,ADV80011649,"AdvaGen Pharma, Ltd",Released
9,Feb 13 2023 8:38AM,257195,19,ADV80011650,"AdvaGen Pharma, Ltd",Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

       id ShipmentStatus  Shipments
4  257193       Released         26
5  257194       Released         41
6  257195       Released         42
7  257197       Released          1
8  257198       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Released
id
257193                26
257194                41
257195                42
257197                 1
257198                 1

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Released
id
257179                 1
257186                 3
257191                12
257192                 7
257193                26

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

Column Completed does not exist yet
Column Executing does not exist yet

ShipmentStatus  Released
id
257179                 1
257186                 3
257191                12
257192                 7
257193                26

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Released
0               257179         1
1               257186         3
2               257191        12
3               257192         7
4               257193        26

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

Column Completed does not exist yet
Column Executing does not exist yet

ShipmentStatus      id  Released
0               257179         1
1               257186         3
2               257191        12
3               257192         7
4               257193        26

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id          int64
Released    int32
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                    Date      id Warehouse                Customer
0    Feb 13 2023  8:46AM  257198        19  GCH Granules USA, Inc.
1    Feb 13 2023  8:43AM  257197        12               Hush Hush
2    Feb 13 2023  8:38AM  257195        19     AdvaGen Pharma, Ltd
44   Feb 13 2023  8:30AM  257179        10                 Bio-PRF
45   Feb 13 2023  8:30AM  257186        10     Digital Brands, LLC
48   Feb 13 2023  8:06AM  257194        19     AdvaGen Pharma, Ltd
89   Feb 13 2023  7:54AM  257193        19     AdvaGen Pharma, Ltd
115  Feb 13 2023  7:49AM  257192        19        Methapharm, Inc.
122  Feb 13 2023  7:47AM  257191        19          Innogenix, LLC

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

                  Date      id Warehouse                Customer  Released
0  Feb 13 2023  8:46AM  257198        19  GCH Granules USA, Inc.         1
1  Feb 13 2023  8:43AM  257197        12               Hush Hush         1
2  Feb 13 2023  8:38AM  257195        19     AdvaGen Pharma, Ltd        42
3  Feb 13 2023  8:30AM  257179        10                 Bio-PRF         1
4  Feb 13 2023  8:30AM  257186        10     Digital Brands, LLC         3
5  Feb 13 2023  8:06AM  257194        19     AdvaGen Pharma, Ltd        41
6  Feb 13 2023  7:54AM  257193        19     AdvaGen Pharma, Ltd        26
7  Feb 13 2023  7:49AM  257192        19        Methapharm, Inc.         7
8  Feb 13 2023  7:47AM  257191        19          Innogenix, LLC        12

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

                  Date      id Warehouse                Customer  Released
0  Feb 13 2023  8:46AM  257198        19  GCH Granules USA, Inc.         1
1  Feb 13 2023  8:43AM  257197        12               Hush Hush         1
2  Feb 13 2023  8:38AM  257195        19     AdvaGen Pharma, Ltd        42
3  Feb 13 2023  8:30AM  257179        10                 Bio-PRF         1
4  Feb 13 2023  8:30AM  257186        10     Digital Brands, LLC         3
5  Feb 13 2023  8:06AM  257194        19     AdvaGen Pharma, Ltd        41
6  Feb 13 2023  7:54AM  257193        19     AdvaGen Pharma, Ltd        26
7  Feb 13 2023  7:49AM  257192        19        Methapharm, Inc.         7
8  Feb 13 2023  7:47AM  257191        19          Innogenix, LLC        12

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

                  Date      id Warehouse                Customer  Released
0  Feb 13 2023  8:46AM  257198        19  GCH Granules USA, Inc.         1
1  Feb 13 2023  8:43AM  257197        12               Hush Hush         1
2  Feb 13 2023  8:38AM  257195        19     AdvaGen Pharma, Ltd        42
3  Feb 13 2023  8:30AM  257179        10                 Bio-PRF         1
4  Feb 13 2023  8:30AM  257186        10     Digital Brands, LLC         3

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

Column Executing does not exist yet
Column Completed does not exist yet

                  Date      id Warehouse                Customer  Released
0  Feb 13 2023  8:46AM  257198        19  GCH Granules USA, Inc.         1
1  Feb 13 2023  8:43AM  257197        12               Hush Hush         1
2  Feb 13 2023  8:38AM  257195        19     AdvaGen Pharma, Ltd        42
3  Feb 13 2023  8:30AM  257179        10                 Bio-PRF         1
4  Feb 13 2023  8:30AM  257186        10     Digital Brands, LLC         3

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

                  Date      id Warehouse                Customer  Released
0  Feb 13 2023  8:46AM  257198        19  GCH Granules USA, Inc.         1
1  Feb 13 2023  8:43AM  257197        12               Hush Hush         1
2  Feb 13 2023  8:38AM  257195        19     AdvaGen Pharma, Ltd        42
3  Feb 13 2023  8:30AM  257179        10                 Bio-PRF         1
4  Feb 13 2023  8:30AM  257186        10     Digital Brands, LLC         3

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released
Warehouse
10          514365         4
12          257197         1
19         1543163       129

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released
0        10   514365         4
1        12   257197         1
2        19  1543163       129

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released
0        10         4
1        12         1
2        19       129

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released      4
1        12  Released      1
2        19  Released    129

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse  10  12   19
Status
Released    4   1  129

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse    Status  10  12   19
0          Released   4   1  129

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

     Status  10  12   19
0  Released   4   1  129

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()