# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Oct 11 2022 2:15PM,248378,12,8632756,"SD Head USA, LLC",Released
1,Oct 11 2022 2:11PM,248377,12,HH8156,Hush Hush,Executing
2,Oct 11 2022 2:00PM,248375,19,MSP214562,"Methapharm, Inc.",Released
3,Oct 11 2022 2:00PM,248375,19,MSP214697,"Methapharm, Inc.",Released
4,Oct 11 2022 2:00PM,248375,19,MSP214755,"Methapharm, Inc.",Released
5,Oct 11 2022 2:00PM,248375,19,MSP214759,"Methapharm, Inc.",Released
6,Oct 11 2022 1:23PM,248374,10,8632746,MedStone Pharma LLC,Released
7,Oct 11 2022 1:23PM,248374,10,8632747,MedStone Pharma LLC,Released
8,Oct 11 2022 1:23PM,248374,10,8632748,MedStone Pharma LLC,Released
9,Oct 11 2022 1:23PM,248374,10,8632749,MedStone Pharma LLC,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
23  248372       Released          5
24  248374       Released          6
25  248375       Released          4
26  248377      Executing          1
27  248378       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
248372                NaN        7.0       5.0
248374                NaN        NaN       6.0
248375                NaN        NaN       4.0
248377                NaN        1.0       NaN
248378                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
248034                0.0        0.0       1.0
248038                0.0        0.0       1.0
248080                0.0        0.0       1.0
248264                3.0       18.0       9.0
248277                0.0       24.0      11.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
248034                  0          0         1
248038                  0          0         1
248080                  0          0         1
248264                  3         18         9
248277                  0         24        11

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               248034          0          0         1
1               248038          0          0         1
2               248080          0          0         1
3               248264          3         18         9
4               248277          0         24        11

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               248034                            1
1               248038                            1
2               248080                            1
3               248264         3        18        9
4               248277                  24       11

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                  Customer
0   Oct 11 2022  2:15PM  248378        12          SD Head USA, LLC
1   Oct 11 2022  2:11PM  248377        12                 Hush Hush
2   Oct 11 2022  2:00PM  248375        19          Methapharm, Inc.
6   Oct 11 2022  1:23PM  248374        10       MedStone Pharma LLC
12  Oct 11 2022  1:20PM  248372        10  Senseonics, Incorporated
24  Oct 11 2022  1:03PM  248038        21         NBTY Global, Inc.
25  Oct 11 2022  1:00PM  248080        21         NBTY Global, Inc.
26  Oct 11 2022 12:58PM  248366        19     ACG North America LLC
27  Oct 11 2022 12:46PM  248363        19       AdvaGen Pharma, Ltd
58  Oct 11 2022 12:14PM  248359        15                     Lonza

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Oct 11 2022 2:15PM,248378,12,"SD Head USA, LLC",,,1
1,Oct 11 2022 2:11PM,248377,12,Hush Hush,,1,
2,Oct 11 2022 2:00PM,248375,19,"Methapharm, Inc.",,,4
3,Oct 11 2022 1:23PM,248374,10,MedStone Pharma LLC,,,6
4,Oct 11 2022 1:20PM,248372,10,"Senseonics, Incorporated",,7,5
5,Oct 11 2022 1:03PM,248038,21,"NBTY Global, Inc.",,,1
6,Oct 11 2022 1:00PM,248080,21,"NBTY Global, Inc.",,,1
7,Oct 11 2022 12:58PM,248366,19,ACG North America LLC,,,1
8,Oct 11 2022 12:46PM,248363,19,"AdvaGen Pharma, Ltd",,15,16
9,Oct 11 2022 12:14PM,248359,15,Lonza,,,1

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Oct 11 2022 2:15PM,248378,12,"SD Head USA, LLC",1,,
1,Oct 11 2022 2:11PM,248377,12,Hush Hush,,1,
2,Oct 11 2022 2:00PM,248375,19,"Methapharm, Inc.",4,,
3,Oct 11 2022 1:23PM,248374,10,MedStone Pharma LLC,6,,
4,Oct 11 2022 1:20PM,248372,10,"Senseonics, Incorporated",5,7,
5,Oct 11 2022 1:03PM,248038,21,"NBTY Global, Inc.",1,,
6,Oct 11 2022 1:00PM,248080,21,"NBTY Global, Inc.",1,,
7,Oct 11 2022 12:58PM,248366,19,ACG North America LLC,1,,
8,Oct 11 2022 12:46PM,248363,19,"AdvaGen Pharma, Ltd",16,15,
9,Oct 11 2022 12:14PM,248359,15,Lonza,1,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Oct 11 2022 2:15PM,248378,12,"SD Head USA, LLC",1,,
1,Oct 11 2022 2:11PM,248377,12,Hush Hush,,1,
2,Oct 11 2022 2:00PM,248375,19,"Methapharm, Inc.",4,,
3,Oct 11 2022 1:23PM,248374,10,MedStone Pharma LLC,6,,
4,Oct 11 2022 1:20PM,248372,10,"Senseonics, Incorporated",5,7,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Oct 11 2022 2:15PM,248378,12,"SD Head USA, LLC",1.0,NaN,NaN
1,Oct 11 2022 2:11PM,248377,12,Hush Hush,NaN,1.0,NaN
2,Oct 11 2022 2:00PM,248375,19,"Methapharm, Inc.",4.0,NaN,NaN
3,Oct 11 2022 1:23PM,248374,10,MedStone Pharma LLC,6.0,NaN,NaN
4,Oct 11 2022 1:20PM,248372,10,"Senseonics, Incorporated",5.0,7.0,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Oct 11 2022 2:15PM,248378,12,"SD Head USA, LLC",1.0,0.0,0.0
1,Oct 11 2022 2:11PM,248377,12,Hush Hush,0.0,1.0,0.0
2,Oct 11 2022 2:00PM,248375,19,"Methapharm, Inc.",4.0,0.0,0.0
3,Oct 11 2022 1:23PM,248374,10,MedStone Pharma LLC,6.0,0.0,0.0
4,Oct 11 2022 1:20PM,248372,10,"Senseonics, Incorporated",5.0,7.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

               id  Released  Executing  Completed
Warehouse
10         993458      14.0        9.0        0.0
12         496755       1.0        1.0        0.0
15         993261      21.0       43.0        3.0
16         993362       4.0        0.0        0.0
18         248317       1.0        0.0        0.0
19         993454      22.0       15.0        0.0
21         744152       3.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse      id  Released  Executing  Completed
0        10  993458      14.0        9.0        0.0
1        12  496755       1.0        1.0        0.0
2        15  993261      21.0       43.0        3.0
3        16  993362       4.0        0.0        0.0
4        18  248317       1.0        0.0        0.0
5        19  993454      22.0       15.0        0.0
6        21  744152       3.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      14.0        9.0        0.0
1        12       1.0        1.0        0.0
2        15      21.0       43.0        3.0
3        16       4.0        0.0        0.0
4        18       1.0        0.0        0.0
5        19      22.0       15.0        0.0
6        21       3.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   14.0
1        12  Released    1.0
2        15  Released   21.0
3        16  Released    4.0
4        18  Released    1.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10   12    15   16   18    19   21
Status
Completed   0.0  0.0   3.0  0.0  0.0   0.0  0.0
Executing   9.0  1.0  43.0  0.0  0.0  15.0  0.0
Released   14.0  1.0  21.0  4.0  1.0  22.0  3.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10   12    15   16   18    19   21
0          Completed   0.0  0.0   3.0  0.0  0.0   0.0  0.0
1          Executing   9.0  1.0  43.0  0.0  0.0  15.0  0.0
2           Released  14.0  1.0  21.0  4.0  1.0  22.0  3.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10   12    15   16   18    19   21
0  Completed   0.0  0.0   3.0  0.0  0.0   0.0  0.0
1  Executing   9.0  1.0  43.0  0.0  0.0  15.0  0.0
2   Released  14.0  1.0  21.0  4.0  1.0  22.0  3.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()