# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Jul 18 2022 8:30AM,241994,10,0085877466,ISDIN Corporation,Released
1,Jul 18 2022 8:30AM,241994,10,0085877467,ISDIN Corporation,Released
2,Jul 18 2022 8:30AM,241994,10,0085877469,ISDIN Corporation,Released
3,Jul 18 2022 8:30AM,241994,10,0085877468,ISDIN Corporation,Released
4,Jul 18 2022 8:30AM,241994,10,0085877478,ISDIN Corporation,Released
5,Jul 18 2022 8:30AM,241994,10,0085877479,ISDIN Corporation,Released
6,Jul 18 2022 8:30AM,241994,10,0085877477,ISDIN Corporation,Released
7,Jul 18 2022 8:30AM,241994,10,0085877486,ISDIN Corporation,Released
8,Jul 18 2022 8:30AM,241994,10,0085877485,ISDIN Corporation,Released
9,Jul 18 2022 8:30AM,241994,10,0085877487,ISDIN Corporation,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
10  241999       Released          2
11  242001      Executing          7
12  242001       Released          9
13  242003       Released          1
14  242006       Released          4

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Executing  Released
id
241994                NaN      47.0
241999                NaN       2.0
242001                7.0       9.0
242003                NaN       1.0
242006                NaN       4.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Executing  Released
id
241976                0.0       2.0
241979                0.0       1.0
241981                0.0       1.0
241984                0.0      22.0
241985                0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

Column Completed does not exist yet

ShipmentStatus  Executing  Released
id
241976                  0         2
241979                  0         1
241981                  0         1
241984                  0        22
241985                  0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Executing  Released
0               241976          0         2
1               241979          0         1
2               241981          0         1
3               241984          0        22
4               241985          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

Column Completed does not exist yet

ShipmentStatus      id Executing  Released
0               241976                   2
1               241979                   1
2               241981                   1
3               241984                  22
4               241985                   1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Executing    object
Released      int32
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                    Date      id Warehouse                        Customer
0    Jul 18 2022  8:30AM  241994        10               ISDIN Corporation
47   Jul 18 2022  8:30AM  242001        10                         Bio-PRF
63   Jul 15 2022  4:29PM  242006        16  Sartorius Bioprocess Solutions
67   Jul 15 2022  4:16PM  242003        19           ACG North America LLC
68   Jul 15 2022  3:34PM  241999        19           ACG North America LLC
70   Jul 15 2022  2:58PM  241993        10               ISDIN Corporation
80   Jul 15 2022  2:28PM  241991        10                  ClearSpec, LLC
81   Jul 15 2022  2:25PM  241988        10                Methapharm, Inc.
86   Jul 15 2022  2:20PM  241987        10                Methapharm, Inc.
129  Jul 15 2022  2:05PM  241985        10                  ClearSpec, LLC

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Executing,Released
0,Jul 18 2022 8:30AM,241994,10,ISDIN Corporation,,47
1,Jul 18 2022 8:30AM,242001,10,Bio-PRF,7,9
2,Jul 15 2022 4:29PM,242006,16,Sartorius Bioprocess Solutions,,4
3,Jul 15 2022 4:16PM,242003,19,ACG North America LLC,,1
4,Jul 15 2022 3:34PM,241999,19,ACG North America LLC,,2
5,Jul 15 2022 2:58PM,241993,10,ISDIN Corporation,,10
6,Jul 15 2022 2:28PM,241991,10,"ClearSpec, LLC",,1
7,Jul 15 2022 2:25PM,241988,10,"Methapharm, Inc.",,5
8,Jul 15 2022 2:20PM,241987,10,"Methapharm, Inc.",,43
9,Jul 15 2022 2:05PM,241985,10,"ClearSpec, LLC",,1

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing
0,Jul 18 2022 8:30AM,241994,10,ISDIN Corporation,47,
1,Jul 18 2022 8:30AM,242001,10,Bio-PRF,9,7
2,Jul 15 2022 4:29PM,242006,16,Sartorius Bioprocess Solutions,4,
3,Jul 15 2022 4:16PM,242003,19,ACG North America LLC,1,
4,Jul 15 2022 3:34PM,241999,19,ACG North America LLC,2,
5,Jul 15 2022 2:58PM,241993,10,ISDIN Corporation,10,
6,Jul 15 2022 2:28PM,241991,10,"ClearSpec, LLC",1,
7,Jul 15 2022 2:25PM,241988,10,"Methapharm, Inc.",5,
8,Jul 15 2022 2:20PM,241987,10,"Methapharm, Inc.",43,
9,Jul 15 2022 2:05PM,241985,10,"ClearSpec, LLC",1,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing
0,Jul 18 2022 8:30AM,241994,10,ISDIN Corporation,47,
1,Jul 18 2022 8:30AM,242001,10,Bio-PRF,9,7
2,Jul 15 2022 4:29PM,242006,16,Sartorius Bioprocess Solutions,4,
3,Jul 15 2022 4:16PM,242003,19,ACG North America LLC,1,
4,Jul 15 2022 3:34PM,241999,19,ACG North America LLC,2,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

Column Completed does not exist yet

,Date,id,Warehouse,Customer,Released,Executing
0,Jul 18 2022 8:30AM,241994,10,ISDIN Corporation,47,NaN
1,Jul 18 2022 8:30AM,242001,10,Bio-PRF,9,7.0
2,Jul 15 2022 4:29PM,242006,16,Sartorius Bioprocess Solutions,4,NaN
3,Jul 15 2022 4:16PM,242003,19,ACG North America LLC,1,NaN
4,Jul 15 2022 3:34PM,241999,19,ACG North America LLC,2,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing
0,Jul 18 2022 8:30AM,241994,10,ISDIN Corporation,47,0.0
1,Jul 18 2022 8:30AM,242001,10,Bio-PRF,9,7.0
2,Jul 15 2022 4:29PM,242006,16,Sartorius Bioprocess Solutions,4,0.0
3,Jul 15 2022 4:16PM,242003,19,ACG North America LLC,1,0.0
4,Jul 15 2022 3:34PM,241999,19,ACG North America LLC,2,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing
Warehouse
10         1693939       116        7.0
16          242006         4        0.0
19          725978         5        0.0
20          483965        23        0.0
21          241979         1        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing
0        10  1693939       116        7.0
1        16   242006         4        0.0
2        19   725978         5        0.0
3        20   483965        23        0.0
4        21   241979         1        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing
0        10       116        7.0
1        16         4        0.0
2        19         5        0.0
3        20        23        0.0
4        21         1        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released  116.0
1        16  Released    4.0
2        19  Released    5.0
3        20  Released   23.0
4        21  Released    1.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse     10   16   19    20   21
Status
Executing    7.0  0.0  0.0   0.0  0.0
Released   116.0  4.0  5.0  23.0  1.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status     10   16   19    20   21
0          Executing    7.0  0.0  0.0   0.0  0.0
1           Released  116.0  4.0  5.0  23.0  1.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status     10   16   19    20   21
0  Executing    7.0  0.0  0.0   0.0  0.0
1   Released  116.0  4.0  5.0  23.0  1.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()