# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Jul 1 2022 9:13AM,240924,15,PNC370882A,"Person & Covey, Inc.",Released
1,Jul 1 2022 9:13AM,240924,15,PNC370886A,"Person & Covey, Inc.",Released
2,Jul 1 2022 9:13AM,240924,15,PNC370893A,"Person & Covey, Inc.",Released
3,Jul 1 2022 9:13AM,240924,15,PNC370897A,"Person & Covey, Inc.",Released
4,Jul 1 2022 9:13AM,240924,15,PNC370898A,"Person & Covey, Inc.",Released
5,Jul 1 2022 9:13AM,240924,15,PNC370914A,"Person & Covey, Inc.",Released
6,Jul 1 2022 9:13AM,240924,15,PNC370915A,"Person & Covey, Inc.",Released
7,Jul 1 2022 9:13AM,240924,15,PNC370917A,"Person & Covey, Inc.",Released
8,Jul 1 2022 9:13AM,240924,15,PNC370918A,"Person & Covey, Inc.",Released
9,Jul 1 2022 9:13AM,240924,15,PNC370921A,"Person & Covey, Inc.",Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
38  240927       Released         20
39  240928       Released         25
40  240931       Released         37
41  240932       Released          1
42  240933       Released         11

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
240927                NaN        NaN      20.0
240928                NaN        NaN      25.0
240931                NaN        NaN      37.0
240932                NaN        NaN       1.0
240933                NaN        NaN      11.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
240818                0.0        1.0       0.0
240831                0.0        0.0       1.0
240847               28.0        1.0       0.0
240870                0.0        6.0       2.0
240873                0.0        0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
240818                  0          1         0
240831                  0          0         1
240847                 28          1         0
240870                  0          6         2
240873                  0          0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               240818          0          1         0
1               240831          0          0         1
2               240847         28          1         0
3               240870          0          6         2
4               240873          0          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               240818                   1
1               240831                            1
2               240847        28         1
3               240870                   6        2
4               240873                            1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                    Date      id Warehouse                    Customer
0    Jul  1 2022  9:13AM  240924        15        Person & Covey, Inc.
12   Jul  1 2022  9:11AM  240931        10           ISDIN Corporation
49   Jul  1 2022  9:10AM  240933        20           Alumier Labs Inc.
60   Jul  1 2022  9:10AM  240928        10           ISDIN Corporation
85   Jul  1 2022  9:09AM  240932        10            SD Head USA, LLC
86   Jul  1 2022  8:56AM  240923        15       Alliance Pharma, Inc.
92   Jul  1 2022  8:52AM  240927        10           ISDIN Corporation
112  Jul  1 2022  8:51AM  240906        10           ISDIN Corporation
122  Jul  1 2022  8:48AM  240926        10           ISDIN Corporation
123  Jul  1 2022  8:47AM  240922        15  Laser Pharmaceuticals, LLC

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Jul 1 2022 9:13AM,240924,15,"Person & Covey, Inc.",,,12
1,Jul 1 2022 9:11AM,240931,10,ISDIN Corporation,,,37
2,Jul 1 2022 9:10AM,240933,20,Alumier Labs Inc.,,,11
3,Jul 1 2022 9:10AM,240928,10,ISDIN Corporation,,,25
4,Jul 1 2022 9:09AM,240932,10,"SD Head USA, LLC",,,1
5,Jul 1 2022 8:56AM,240923,15,"Alliance Pharma, Inc.",,,6
6,Jul 1 2022 8:52AM,240927,10,ISDIN Corporation,,,20
7,Jul 1 2022 8:51AM,240906,10,ISDIN Corporation,,,10
8,Jul 1 2022 8:48AM,240926,10,ISDIN Corporation,,,1
9,Jul 1 2022 8:47AM,240922,15,"Laser Pharmaceuticals, LLC",,,21

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jul 1 2022 9:13AM,240924,15,"Person & Covey, Inc.",12,,
1,Jul 1 2022 9:11AM,240931,10,ISDIN Corporation,37,,
2,Jul 1 2022 9:10AM,240933,20,Alumier Labs Inc.,11,,
3,Jul 1 2022 9:10AM,240928,10,ISDIN Corporation,25,,
4,Jul 1 2022 9:09AM,240932,10,"SD Head USA, LLC",1,,
5,Jul 1 2022 8:56AM,240923,15,"Alliance Pharma, Inc.",6,,
6,Jul 1 2022 8:52AM,240927,10,ISDIN Corporation,20,,
7,Jul 1 2022 8:51AM,240906,10,ISDIN Corporation,10,,
8,Jul 1 2022 8:48AM,240926,10,ISDIN Corporation,1,,
9,Jul 1 2022 8:47AM,240922,15,"Laser Pharmaceuticals, LLC",21,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jul 1 2022 9:13AM,240924,15,"Person & Covey, Inc.",12,,
1,Jul 1 2022 9:11AM,240931,10,ISDIN Corporation,37,,
2,Jul 1 2022 9:10AM,240933,20,Alumier Labs Inc.,11,,
3,Jul 1 2022 9:10AM,240928,10,ISDIN Corporation,25,,
4,Jul 1 2022 9:09AM,240932,10,"SD Head USA, LLC",1,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jul 1 2022 9:13AM,240924,15,"Person & Covey, Inc.",12.0,NaN,NaN
1,Jul 1 2022 9:11AM,240931,10,ISDIN Corporation,37.0,NaN,NaN
2,Jul 1 2022 9:10AM,240933,20,Alumier Labs Inc.,11.0,NaN,NaN
3,Jul 1 2022 9:10AM,240928,10,ISDIN Corporation,25.0,NaN,NaN
4,Jul 1 2022 9:09AM,240932,10,"SD Head USA, LLC",1.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jul 1 2022 9:13AM,240924,15,"Person & Covey, Inc.",12.0,0.0,0.0
1,Jul 1 2022 9:11AM,240931,10,ISDIN Corporation,37.0,0.0,0.0
2,Jul 1 2022 9:10AM,240933,20,Alumier Labs Inc.,11.0,0.0,0.0
3,Jul 1 2022 9:10AM,240928,10,ISDIN Corporation,25.0,0.0,0.0
4,Jul 1 2022 9:09AM,240932,10,"SD Head USA, LLC",1.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         3613684     113.0        9.0        0.0
15          963616      39.0        1.0       28.0
16         1445330      14.0        2.0        0.0
19         2168069      17.0       15.0        0.0
20          722697      14.0        6.0        0.0
22          722734       1.0        2.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  3613684     113.0        9.0        0.0
1        15   963616      39.0        1.0       28.0
2        16  1445330      14.0        2.0        0.0
3        19  2168069      17.0       15.0        0.0
4        20   722697      14.0        6.0        0.0
5        22   722734       1.0        2.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10     113.0        9.0        0.0
1        15      39.0        1.0       28.0
2        16      14.0        2.0        0.0
3        19      17.0       15.0        0.0
4        20      14.0        6.0        0.0
5        22       1.0        2.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released  113.0
1        15  Released   39.0
2        16  Released   14.0
3        19  Released   17.0
4        20  Released   14.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse     10    15    16    19    20   22
Status
Completed    0.0  28.0   0.0   0.0   0.0  0.0
Executing    9.0   1.0   2.0  15.0   6.0  2.0
Released   113.0  39.0  14.0  17.0  14.0  1.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status     10    15    16    19    20   22
0          Completed    0.0  28.0   0.0   0.0   0.0  0.0
1          Executing    9.0   1.0   2.0  15.0   6.0  2.0
2           Released  113.0  39.0  14.0  17.0  14.0  1.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status     10    15    16    19    20   22
0  Completed    0.0  28.0   0.0   0.0   0.0  0.0
1  Executing    9.0   1.0   2.0  15.0   6.0  2.0
2   Released  113.0  39.0  14.0  17.0  14.0  1.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()