# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={ODBC Driver 17 for SQL Server};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Jan 4 2023 8:30AM,254196,10,0086280176,ISDIN Corporation,Released
1,Jan 4 2023 8:30AM,254196,10,0086280186,ISDIN Corporation,Released
2,Jan 4 2023 8:30AM,254196,10,0086280187,ISDIN Corporation,Released
3,Jan 4 2023 8:30AM,254196,10,0086280188,ISDIN Corporation,Released
4,Jan 4 2023 8:30AM,254196,10,0086280409,ISDIN Corporation,Released
5,Jan 4 2023 8:30AM,254196,10,0086280521,ISDIN Corporation,Released
6,Jan 4 2023 8:30AM,254196,10,0086280520,ISDIN Corporation,Released
7,Jan 4 2023 8:30AM,254196,10,0086280522,ISDIN Corporation,Released
8,Jan 4 2023 8:30AM,254196,10,0086280524,ISDIN Corporation,Released
9,Jan 4 2023 8:30AM,254196,10,0086280523,ISDIN Corporation,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
41  254226       Released          1
42  254227       Released          1
43  254228       Released          1
44  254229       Released          1
45  254230       Released         99

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
254226                NaN        NaN       1.0
254227                NaN        NaN       1.0
254228                NaN        NaN       1.0
254229                NaN        NaN       1.0
254230                NaN        NaN      99.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
254104                0.0        0.0       1.0
254108                1.0        0.0      23.0
254124                0.0        1.0       0.0
254136                0.0        0.0      45.0
254137                0.0        0.0      34.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
254104                  0          0         1
254108                  1          0        23
254124                  0          1         0
254136                  0          0        45
254137                  0          0        34

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               254104          0          0         1
1               254108          1          0        23
2               254124          0          1         0
3               254136          0          0        45
4               254137          0          0        34

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               254104                            1
1               254108         1                 23
2               254124                   1
3               254136                           45
4               254137                           34

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                    Date      id Warehouse                Customer
0    Jan  4 2023  8:30AM  254196        10       ISDIN Corporation
17   Jan  4 2023  8:30AM  254211        10          Citieffe, Inc.
20   Jan  4 2023  8:30AM  254207        10           Livs Products
21   Jan  4 2023  8:30AM  254229        10          CLINUVEL, Inc.
22   Jan  3 2023  4:37PM  254230        15    Person & Covey, Inc.
121  Jan  3 2023  4:22PM  254228        22       NBTY Global, Inc.
122  Jan  3 2023  4:22PM  254227        15                   Lonza
123  Jan  3 2023  4:22PM  254226        22       NBTY Global, Inc.
124  Jan  3 2023  4:17PM  254225        19  GCH Granules USA, Inc.
125  Jan  3 2023  4:02PM  254223        19   Eli Lilly and Company

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Jan 4 2023 8:30AM,254196,10,ISDIN Corporation,,,17
1,Jan 4 2023 8:30AM,254211,10,"Citieffe, Inc.",,3,
2,Jan 4 2023 8:30AM,254207,10,Livs Products,,,1
3,Jan 4 2023 8:30AM,254229,10,"CLINUVEL, Inc.",,,1
4,Jan 3 2023 4:37PM,254230,15,"Person & Covey, Inc.",,,99
5,Jan 3 2023 4:22PM,254228,22,"NBTY Global, Inc.",,,1
6,Jan 3 2023 4:22PM,254227,15,Lonza,,,1
7,Jan 3 2023 4:22PM,254226,22,"NBTY Global, Inc.",,,1
8,Jan 3 2023 4:17PM,254225,19,"GCH Granules USA, Inc.",,,1
9,Jan 3 2023 4:02PM,254223,19,Eli Lilly and Company,,,1

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jan 4 2023 8:30AM,254196,10,ISDIN Corporation,17,,
1,Jan 4 2023 8:30AM,254211,10,"Citieffe, Inc.",,3,
2,Jan 4 2023 8:30AM,254207,10,Livs Products,1,,
3,Jan 4 2023 8:30AM,254229,10,"CLINUVEL, Inc.",1,,
4,Jan 3 2023 4:37PM,254230,15,"Person & Covey, Inc.",99,,
5,Jan 3 2023 4:22PM,254228,22,"NBTY Global, Inc.",1,,
6,Jan 3 2023 4:22PM,254227,15,Lonza,1,,
7,Jan 3 2023 4:22PM,254226,22,"NBTY Global, Inc.",1,,
8,Jan 3 2023 4:17PM,254225,19,"GCH Granules USA, Inc.",1,,
9,Jan 3 2023 4:02PM,254223,19,Eli Lilly and Company,1,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jan 4 2023 8:30AM,254196,10,ISDIN Corporation,17,,
1,Jan 4 2023 8:30AM,254211,10,"Citieffe, Inc.",,3,
2,Jan 4 2023 8:30AM,254207,10,Livs Products,1,,
3,Jan 4 2023 8:30AM,254229,10,"CLINUVEL, Inc.",1,,
4,Jan 3 2023 4:37PM,254230,15,"Person & Covey, Inc.",99,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jan 4 2023 8:30AM,254196,10,ISDIN Corporation,17.0,NaN,NaN
1,Jan 4 2023 8:30AM,254211,10,"Citieffe, Inc.",NaN,3.0,NaN
2,Jan 4 2023 8:30AM,254207,10,Livs Products,1.0,NaN,NaN
3,Jan 4 2023 8:30AM,254229,10,"CLINUVEL, Inc.",1.0,NaN,NaN
4,Jan 3 2023 4:37PM,254230,15,"Person & Covey, Inc.",99.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jan 4 2023 8:30AM,254196,10,ISDIN Corporation,17.0,0.0,0.0
1,Jan 4 2023 8:30AM,254211,10,"Citieffe, Inc.",0.0,3.0,0.0
2,Jan 4 2023 8:30AM,254207,10,Livs Products,1.0,0.0,0.0
3,Jan 4 2023 8:30AM,254229,10,"CLINUVEL, Inc.",1.0,0.0,0.0
4,Jan 3 2023 4:37PM,254230,15,"Person & Covey, Inc.",99.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         4574959     379.0        4.0        1.0
12          254124       0.0        1.0        0.0
15         1525154     169.0       45.0       12.0
19         2542007      77.0        4.0        0.0
20          508253       2.0        0.0        0.0
21          508419       2.0        0.0        0.0
22          508454       2.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  4574959     379.0        4.0        1.0
1        12   254124       0.0        1.0        0.0
2        15  1525154     169.0       45.0       12.0
3        19  2542007      77.0        4.0        0.0
4        20   508253       2.0        0.0        0.0
5        21   508419       2.0        0.0        0.0
6        22   508454       2.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10     379.0        4.0        1.0
1        12       0.0        1.0        0.0
2        15     169.0       45.0       12.0
3        19      77.0        4.0        0.0
4        20       2.0        0.0        0.0
5        21       2.0        0.0        0.0
6        22       2.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released  379.0
1        12  Released    0.0
2        15  Released  169.0
3        19  Released   77.0
4        20  Released    2.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse     10   12     15    19   20   21   22
Status
Completed    1.0  0.0   12.0   0.0  0.0  0.0  0.0
Executing    4.0  1.0   45.0   4.0  0.0  0.0  0.0
Released   379.0  0.0  169.0  77.0  2.0  2.0  2.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status     10   12     15    19   20   21   22
0          Completed    1.0  0.0   12.0   0.0  0.0  0.0  0.0
1          Executing    4.0  1.0   45.0   4.0  0.0  0.0  0.0
2           Released  379.0  0.0  169.0  77.0  2.0  2.0  2.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status     10   12     15    19   20   21   22
0  Completed    1.0  0.0   12.0   0.0  0.0  0.0  0.0
1  Executing    4.0  1.0   45.0   4.0  0.0  0.0  0.0
2   Released  379.0  0.0  169.0  77.0  2.0  2.0  2.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()