# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Sep 1 2022 9:14AM,245501,10,Enova-10572,Emerginnova,Released
1,Sep 1 2022 9:12AM,245500,10,8471104,"Herbivore Botanicals, LLC.",Released
2,Sep 1 2022 9:05AM,245499,10,MSP213614,"Methapharm, Inc.",Released
3,Sep 1 2022 9:05AM,245499,10,MSP213616,"Methapharm, Inc.",Released
4,Sep 1 2022 9:05AM,245499,10,MSP213617,"Methapharm, Inc.",Released
5,Sep 1 2022 9:05AM,245499,10,MSP213618,"Methapharm, Inc.",Released
6,Sep 1 2022 9:05AM,245499,10,MSP213619,"Methapharm, Inc.",Released
7,Sep 1 2022 9:05AM,245499,10,MSP213620,"Methapharm, Inc.",Released
8,Sep 1 2022 9:05AM,245499,10,MSP213621,"Methapharm, Inc.",Released
9,Sep 1 2022 9:05AM,245499,10,MSP213615,"Methapharm, Inc.",Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
22  245497       Released         17
23  245498       Released          2
24  245499       Released          8
25  245500       Released          1
26  245501       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
245497                NaN        NaN      17.0
245498                NaN        NaN       2.0
245499                NaN        NaN       8.0
245500                NaN        NaN       1.0
245501                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
245403               14.0        8.0       0.0
245415                0.0        1.0       0.0
245419                1.0        0.0      29.0
245470                0.0        0.0       1.0
245474                0.0        0.0       7.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
245403                 14          8         0
245415                  0          1         0
245419                  1          0        29
245470                  0          0         1
245474                  0          0         7

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               245403         14          8         0
1               245415          0          1         0
2               245419          1          0        29
3               245470          0          0         1
4               245474          0          0         7

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               245403        14         8
1               245415                   1
2               245419         1                 29
3               245470                            1
4               245474                            7

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                    Date      id Warehouse                    Customer
0    Sep  1 2022  9:14AM  245501        10                 Emerginnova
1    Sep  1 2022  9:12AM  245500        10  Herbivore Botanicals, LLC.
2    Sep  1 2022  9:05AM  245499        10            Methapharm, Inc.
10   Sep  1 2022  9:04AM  245497        10           ISDIN Corporation
27   Sep  1 2022  9:03AM  245498        10   Beach Patient Assistance
28   Sep  1 2022  9:03AM  245498        10          Beach Products Inc
29   Sep  1 2022  8:59AM  245495        10           ISDIN Corporation
63   Sep  1 2022  8:58AM  245496        10           ISDIN Corporation
72   Sep  1 2022  8:57AM  245492        10           ISDIN Corporation
121  Sep  1 2022  8:49AM  245493        19      GCH Granules USA, Inc.

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Sep 1 2022 9:14AM,245501,10,Emerginnova,,,1
1,Sep 1 2022 9:12AM,245500,10,"Herbivore Botanicals, LLC.",,,1
2,Sep 1 2022 9:05AM,245499,10,"Methapharm, Inc.",,,8
3,Sep 1 2022 9:04AM,245497,10,ISDIN Corporation,,,17
4,Sep 1 2022 9:03AM,245498,10,Beach Patient Assistance,,,2
5,Sep 1 2022 9:03AM,245498,10,Beach Products Inc,,,2
6,Sep 1 2022 8:59AM,245495,10,ISDIN Corporation,,,34
7,Sep 1 2022 8:58AM,245496,10,ISDIN Corporation,,,9
8,Sep 1 2022 8:57AM,245492,10,ISDIN Corporation,,,49
9,Sep 1 2022 8:49AM,245493,19,"GCH Granules USA, Inc.",,,1

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Sep 1 2022 9:14AM,245501,10,Emerginnova,1,,
1,Sep 1 2022 9:12AM,245500,10,"Herbivore Botanicals, LLC.",1,,
2,Sep 1 2022 9:05AM,245499,10,"Methapharm, Inc.",8,,
3,Sep 1 2022 9:04AM,245497,10,ISDIN Corporation,17,,
4,Sep 1 2022 9:03AM,245498,10,Beach Patient Assistance,2,,
5,Sep 1 2022 9:03AM,245498,10,Beach Products Inc,2,,
6,Sep 1 2022 8:59AM,245495,10,ISDIN Corporation,34,,
7,Sep 1 2022 8:58AM,245496,10,ISDIN Corporation,9,,
8,Sep 1 2022 8:57AM,245492,10,ISDIN Corporation,49,,
9,Sep 1 2022 8:49AM,245493,19,"GCH Granules USA, Inc.",1,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Sep 1 2022 9:14AM,245501,10,Emerginnova,1,,
1,Sep 1 2022 9:12AM,245500,10,"Herbivore Botanicals, LLC.",1,,
2,Sep 1 2022 9:05AM,245499,10,"Methapharm, Inc.",8,,
3,Sep 1 2022 9:04AM,245497,10,ISDIN Corporation,17,,
4,Sep 1 2022 9:03AM,245498,10,Beach Patient Assistance,2,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Sep 1 2022 9:14AM,245501,10,Emerginnova,1.0,NaN,NaN
1,Sep 1 2022 9:12AM,245500,10,"Herbivore Botanicals, LLC.",1.0,NaN,NaN
2,Sep 1 2022 9:05AM,245499,10,"Methapharm, Inc.",8.0,NaN,NaN
3,Sep 1 2022 9:04AM,245497,10,ISDIN Corporation,17.0,NaN,NaN
4,Sep 1 2022 9:03AM,245498,10,Beach Patient Assistance,2.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Sep 1 2022 9:14AM,245501,10,Emerginnova,1.0,0.0,0.0
1,Sep 1 2022 9:12AM,245500,10,"Herbivore Botanicals, LLC.",1.0,0.0,0.0
2,Sep 1 2022 9:05AM,245499,10,"Methapharm, Inc.",8.0,0.0,0.0
3,Sep 1 2022 9:04AM,245497,10,ISDIN Corporation,17.0,0.0,0.0
4,Sep 1 2022 9:03AM,245498,10,Beach Patient Assistance,2.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         3682375     144.0        0.0        0.0
102         245481       0.0        1.0        0.0
12          245477       0.0        1.0        0.0
15          981861      59.0        0.0        1.0
19          490978       2.0        4.0        0.0
20          245403       0.0        8.0       14.0
21          245415       0.0        1.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  3682375     144.0        0.0        0.0
1       102   245481       0.0        1.0        0.0
2        12   245477       0.0        1.0        0.0
3        15   981861      59.0        0.0        1.0
4        19   490978       2.0        4.0        0.0
5        20   245403       0.0        8.0       14.0
6        21   245415       0.0        1.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10     144.0        0.0        0.0
1       102       0.0        1.0        0.0
2        12       0.0        1.0        0.0
3        15      59.0        0.0        1.0
4        19       2.0        4.0        0.0
5        20       0.0        8.0       14.0
6        21       0.0        1.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released  144.0
1       102  Released    0.0
2        12  Released    0.0
3        15  Released   59.0
4        19  Released    2.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse     10  102   12    15   19    20   21
Status
Completed    0.0  0.0  0.0   1.0  0.0  14.0  0.0
Executing    0.0  1.0  1.0   0.0  4.0   8.0  1.0
Released   144.0  0.0  0.0  59.0  2.0   0.0  0.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status     10  102   12    15   19    20   21
0          Completed    0.0  0.0  0.0   1.0  0.0  14.0  0.0
1          Executing    0.0  1.0  1.0   0.0  4.0   8.0  1.0
2           Released  144.0  0.0  0.0  59.0  2.0   0.0  0.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status     10  102   12    15   19    20   21
0  Completed    0.0  0.0  0.0   1.0  0.0  14.0  0.0
1  Executing    0.0  1.0  1.0   0.0  4.0   8.0  1.0
2   Released  144.0  0.0  0.0  59.0  2.0   0.0  0.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()