# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Aug 10 2022 12:18PM,243878,10,PRF-34944,Bio-PRF,Released
1,Aug 10 2022 12:18PM,243878,10,PRF-34947,Bio-PRF,Released
2,Aug 10 2022 12:18PM,243878,10,PRF-34951,Bio-PRF,Released
3,Aug 10 2022 12:12PM,243871,20,8364749,"ACI Healthcare USA, Inc.",Released
4,Aug 10 2022 12:12PM,243871,20,8376112,"ACI Healthcare USA, Inc.",Released
5,Aug 10 2022 12:12PM,243871,20,8376196,"ACI Healthcare USA, Inc.",Released
6,Aug 10 2022 12:12PM,243871,20,8376197,"ACI Healthcare USA, Inc.",Released
7,Aug 10 2022 12:12PM,243871,20,8376319,"ACI Healthcare USA, Inc.",Released
8,Aug 10 2022 12:12PM,243871,20,8376320,"ACI Healthcare USA, Inc.",Released
9,Aug 10 2022 12:12PM,243871,20,8380691,"ACI Healthcare USA, Inc.",Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
35  243873       Released          1
36  243874       Released          2
37  243876       Released          1
38  243877       Released          1
39  243878       Released          3

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
243873                NaN        NaN       1.0
243874                NaN        NaN       2.0
243876                NaN        NaN       1.0
243877                NaN        NaN       1.0
243878                NaN        NaN       3.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
243769                0.0        0.0       9.0
243778               22.0        6.0       1.0
243795               14.0        6.0       0.0
243805                0.0        0.0      15.0
243808               24.0       16.0      15.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
243769                  0          0         9
243778                 22          6         1
243795                 14          6         0
243805                  0          0        15
243808                 24         16        15

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               243769          0          0         9
1               243778         22          6         1
2               243795         14          6         0
3               243805          0          0        15
4               243808         24         16        15

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               243769                            9
1               243778        22         6        1
2               243795        14         6
3               243805                           15
4               243808        24        16       15

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                  Customer
0   Aug 10 2022 12:18PM  243878        10                   Bio-PRF
3   Aug 10 2022 12:12PM  243871        20  ACI Healthcare USA, Inc.
17  Aug 10 2022 12:08PM  243877        19   GUSA Granules USA, Inc.
18  Aug 10 2022 12:03PM  243876        19    GCH Granules USA, Inc.
19  Aug 10 2022 11:51AM  243874        19     ACG North America LLC
21  Aug 10 2022 11:43AM  243872        10         ISDIN Corporation
42  Aug 10 2022 11:36AM  243873        19     ACG North America LLC
43  Aug 10 2022 11:11AM  243832        20            Exact-Rx, Inc.
55  Aug 10 2022 10:22AM  243864        15    Mizner Bioscience, LLC
58  Aug 10 2022 10:21AM  243866        10          Eywa Pharma Inc.

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Aug 10 2022 12:18PM,243878,10,Bio-PRF,,,3
1,Aug 10 2022 12:12PM,243871,20,"ACI Healthcare USA, Inc.",,,14
2,Aug 10 2022 12:08PM,243877,19,"GUSA Granules USA, Inc.",,,1
3,Aug 10 2022 12:03PM,243876,19,"GCH Granules USA, Inc.",,,1
4,Aug 10 2022 11:51AM,243874,19,ACG North America LLC,,,2
5,Aug 10 2022 11:43AM,243872,10,ISDIN Corporation,,,21
6,Aug 10 2022 11:36AM,243873,19,ACG North America LLC,,,1
7,Aug 10 2022 11:11AM,243832,20,"Exact-Rx, Inc.",,9,3
8,Aug 10 2022 10:22AM,243864,15,"Mizner Bioscience, LLC",,,3
9,Aug 10 2022 10:21AM,243866,10,Eywa Pharma Inc.,,13,7

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 10 2022 12:18PM,243878,10,Bio-PRF,3,,
1,Aug 10 2022 12:12PM,243871,20,"ACI Healthcare USA, Inc.",14,,
2,Aug 10 2022 12:08PM,243877,19,"GUSA Granules USA, Inc.",1,,
3,Aug 10 2022 12:03PM,243876,19,"GCH Granules USA, Inc.",1,,
4,Aug 10 2022 11:51AM,243874,19,ACG North America LLC,2,,
5,Aug 10 2022 11:43AM,243872,10,ISDIN Corporation,21,,
6,Aug 10 2022 11:36AM,243873,19,ACG North America LLC,1,,
7,Aug 10 2022 11:11AM,243832,20,"Exact-Rx, Inc.",3,9,
8,Aug 10 2022 10:22AM,243864,15,"Mizner Bioscience, LLC",3,,
9,Aug 10 2022 10:21AM,243866,10,Eywa Pharma Inc.,7,13,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 10 2022 12:18PM,243878,10,Bio-PRF,3,,
1,Aug 10 2022 12:12PM,243871,20,"ACI Healthcare USA, Inc.",14,,
2,Aug 10 2022 12:08PM,243877,19,"GUSA Granules USA, Inc.",1,,
3,Aug 10 2022 12:03PM,243876,19,"GCH Granules USA, Inc.",1,,
4,Aug 10 2022 11:51AM,243874,19,ACG North America LLC,2,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 10 2022 12:18PM,243878,10,Bio-PRF,3.0,NaN,NaN
1,Aug 10 2022 12:12PM,243871,20,"ACI Healthcare USA, Inc.",14.0,NaN,NaN
2,Aug 10 2022 12:08PM,243877,19,"GUSA Granules USA, Inc.",1.0,NaN,NaN
3,Aug 10 2022 12:03PM,243876,19,"GCH Granules USA, Inc.",1.0,NaN,NaN
4,Aug 10 2022 11:51AM,243874,19,ACG North America LLC,2.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 10 2022 12:18PM,243878,10,Bio-PRF,3.0,0.0,0.0
1,Aug 10 2022 12:12PM,243871,20,"ACI Healthcare USA, Inc.",14.0,0.0,0.0
2,Aug 10 2022 12:08PM,243877,19,"GUSA Granules USA, Inc.",1.0,0.0,0.0
3,Aug 10 2022 12:03PM,243876,19,"GCH Granules USA, Inc.",1.0,0.0,0.0
4,Aug 10 2022 11:51AM,243874,19,ACG North America LLC,2.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         1463110      43.0       19.0        3.0
15          975449      45.0       20.0        0.0
16          243865       1.0        0.0        0.0
19         1706989       6.0       22.0       14.0
20         1950567      78.0       31.0       46.0
21          487658       0.0        2.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  1463110      43.0       19.0        3.0
1        15   975449      45.0       20.0        0.0
2        16   243865       1.0        0.0        0.0
3        19  1706989       6.0       22.0       14.0
4        20  1950567      78.0       31.0       46.0
5        21   487658       0.0        2.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      43.0       19.0        3.0
1        15      45.0       20.0        0.0
2        16       1.0        0.0        0.0
3        19       6.0       22.0       14.0
4        20      78.0       31.0       46.0
5        21       0.0        2.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   43.0
1        15  Released   45.0
2        16  Released    1.0
3        19  Released    6.0
4        20  Released   78.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10    15   16    19    20   21
Status
Completed   3.0   0.0  0.0  14.0  46.0  0.0
Executing  19.0  20.0  0.0  22.0  31.0  2.0
Released   43.0  45.0  1.0   6.0  78.0  0.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10    15   16    19    20   21
0          Completed   3.0   0.0  0.0  14.0  46.0  0.0
1          Executing  19.0  20.0  0.0  22.0  31.0  2.0
2           Released  43.0  45.0  1.0   6.0  78.0  0.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10    15   16    19    20   21
0  Completed   3.0   0.0  0.0  14.0  46.0  0.0
1  Executing  19.0  20.0  0.0  22.0  31.0  2.0
2   Released  43.0  45.0  1.0   6.0  78.0  0.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()