# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Jun 15 2022 3:28PM,239687,12,HH-35139,Hush Hush,Released
1,Jun 15 2022 3:28PM,239687,12,HH-35140,Hush Hush,Released
2,Jun 15 2022 3:28PM,239687,12,HH-35142,Hush Hush,Released
3,Jun 15 2022 3:26PM,239689,22,617987,"NBTY Global, Inc.",Released
4,Jun 15 2022 3:19PM,239686,18,CLRSPC-21086986,"ClearSpec, LLC",Released
5,Jun 15 2022 3:13PM,239685,10,Enova-10144,Emerginnova,Released
6,Jun 15 2022 3:13PM,239685,10,Enova-10145,Emerginnova,Released
7,Jun 15 2022 3:06PM,239684,10,CTF0011271,"Citieffe, Inc.",Released
8,Jun 15 2022 3:06PM,239684,10,CTF0011272,"Citieffe, Inc.",Released
9,Jun 15 2022 3:06PM,239684,10,CTF0011273,"Citieffe, Inc.",Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
40  239684       Released          3
41  239685       Released          2
42  239686       Released          1
43  239687       Released          3
44  239689       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
239684                NaN        NaN       3.0
239685                NaN        NaN       2.0
239686                NaN        NaN       1.0
239687                NaN        NaN       3.0
239689                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
239609                3.0        6.0       0.0
239614                0.0        0.0       1.0
239622               26.0        6.0       2.0
239629                0.0        0.0       1.0
239639                0.0        0.0      43.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
239609                  3          6         0
239614                  0          0         1
239622                 26          6         2
239629                  0          0         1
239639                  0          0        43

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               239609          3          6         0
1               239614          0          0         1
2               239622         26          6         2
3               239629          0          0         1
4               239639          0          0        43

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               239609         3         6
1               239614                            1
2               239622        26         6        2
3               239629                            1
4               239639                           43

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse           Customer
0   Jun 15 2022  3:28PM  239687        12          Hush Hush
3   Jun 15 2022  3:26PM  239689        22  NBTY Global, Inc.
4   Jun 15 2022  3:19PM  239686        18     ClearSpec, LLC
5   Jun 15 2022  3:13PM  239685        10        Emerginnova
7   Jun 15 2022  3:06PM  239684        10     Citieffe, Inc.
10  Jun 15 2022  3:06PM  239676        10   Methapharm, Inc.
36  Jun 15 2022  2:50PM  239683        20  Alumier Labs Inc.
37  Jun 15 2022  2:44PM  239682        10  ISDIN Corporation
46  Jun 15 2022  2:42PM  239680        10  Yusen – 3D Matrix
47  Jun 15 2022  2:35PM  239678        10  ISDIN Corporation

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Jun 15 2022 3:28PM,239687,12,Hush Hush,,,3
1,Jun 15 2022 3:26PM,239689,22,"NBTY Global, Inc.",,,1
2,Jun 15 2022 3:19PM,239686,18,"ClearSpec, LLC",,,1
3,Jun 15 2022 3:13PM,239685,10,Emerginnova,,,2
4,Jun 15 2022 3:06PM,239684,10,"Citieffe, Inc.",,,3
5,Jun 15 2022 3:06PM,239676,10,"Methapharm, Inc.",,,26
6,Jun 15 2022 2:50PM,239683,20,Alumier Labs Inc.,,,1
7,Jun 15 2022 2:44PM,239682,10,ISDIN Corporation,,,9
8,Jun 15 2022 2:42PM,239680,10,Yusen – 3D Matrix,,,1
9,Jun 15 2022 2:35PM,239678,10,ISDIN Corporation,,,37

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jun 15 2022 3:28PM,239687,12,Hush Hush,3,,
1,Jun 15 2022 3:26PM,239689,22,"NBTY Global, Inc.",1,,
2,Jun 15 2022 3:19PM,239686,18,"ClearSpec, LLC",1,,
3,Jun 15 2022 3:13PM,239685,10,Emerginnova,2,,
4,Jun 15 2022 3:06PM,239684,10,"Citieffe, Inc.",3,,
5,Jun 15 2022 3:06PM,239676,10,"Methapharm, Inc.",26,,
6,Jun 15 2022 2:50PM,239683,20,Alumier Labs Inc.,1,,
7,Jun 15 2022 2:44PM,239682,10,ISDIN Corporation,9,,
8,Jun 15 2022 2:42PM,239680,10,Yusen – 3D Matrix,1,,
9,Jun 15 2022 2:35PM,239678,10,ISDIN Corporation,37,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jun 15 2022 3:28PM,239687,12,Hush Hush,3,,
1,Jun 15 2022 3:26PM,239689,22,"NBTY Global, Inc.",1,,
2,Jun 15 2022 3:19PM,239686,18,"ClearSpec, LLC",1,,
3,Jun 15 2022 3:13PM,239685,10,Emerginnova,2,,
4,Jun 15 2022 3:06PM,239684,10,"Citieffe, Inc.",3,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jun 15 2022 3:28PM,239687,12,Hush Hush,3.0,NaN,NaN
1,Jun 15 2022 3:26PM,239689,22,"NBTY Global, Inc.",1.0,NaN,NaN
2,Jun 15 2022 3:19PM,239686,18,"ClearSpec, LLC",1.0,NaN,NaN
3,Jun 15 2022 3:13PM,239685,10,Emerginnova,2.0,NaN,NaN
4,Jun 15 2022 3:06PM,239684,10,"Citieffe, Inc.",3.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jun 15 2022 3:28PM,239687,12,Hush Hush,3.0,0.0,0.0
1,Jun 15 2022 3:26PM,239689,22,"NBTY Global, Inc.",1.0,0.0,0.0
2,Jun 15 2022 3:19PM,239686,18,"ClearSpec, LLC",1.0,0.0,0.0
3,Jun 15 2022 3:13PM,239685,10,Emerginnova,2.0,0.0,0.0
4,Jun 15 2022 3:06PM,239684,10,"Citieffe, Inc.",3.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         3355334     166.0       23.0       26.0
12          239687       3.0        0.0        0.0
15          718938       8.0        0.0        0.0
18          718957       3.0        0.0        0.0
19         1437893      20.0        6.0        3.0
20         1677653      39.0       79.0       15.0
22          958666       4.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  3355334     166.0       23.0       26.0
1        12   239687       3.0        0.0        0.0
2        15   718938       8.0        0.0        0.0
3        18   718957       3.0        0.0        0.0
4        19  1437893      20.0        6.0        3.0
5        20  1677653      39.0       79.0       15.0
6        22   958666       4.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10     166.0       23.0       26.0
1        12       3.0        0.0        0.0
2        15       8.0        0.0        0.0
3        18       3.0        0.0        0.0
4        19      20.0        6.0        3.0
5        20      39.0       79.0       15.0
6        22       4.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released  166.0
1        12  Released    3.0
2        15  Released    8.0
3        18  Released    3.0
4        19  Released   20.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse     10   12   15   18    19    20   22
Status
Completed   26.0  0.0  0.0  0.0   3.0  15.0  0.0
Executing   23.0  0.0  0.0  0.0   6.0  79.0  0.0
Released   166.0  3.0  8.0  3.0  20.0  39.0  4.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status     10   12   15   18    19    20   22
0          Completed   26.0  0.0  0.0  0.0   3.0  15.0  0.0
1          Executing   23.0  0.0  0.0  0.0   6.0  79.0  0.0
2           Released  166.0  3.0  8.0  3.0  20.0  39.0  4.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status     10   12   15   18    19    20   22
0  Completed   26.0  0.0  0.0  0.0   3.0  15.0  0.0
1  Executing   23.0  0.0  0.0  0.0   6.0  79.0  0.0
2   Released  166.0  3.0  8.0  3.0  20.0  39.0  4.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()