# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Oct 3 2022 9:12AM,247711,10,0086037072,ISDIN Corporation,Released
1,Oct 3 2022 9:12AM,247711,10,0086037076,ISDIN Corporation,Released
2,Oct 3 2022 9:12AM,247711,10,0086037073,ISDIN Corporation,Released
3,Oct 3 2022 9:12AM,247711,10,0086037075,ISDIN Corporation,Released
4,Oct 3 2022 9:12AM,247711,10,0086037074,ISDIN Corporation,Released
5,Oct 3 2022 9:12AM,247711,10,0086037077,ISDIN Corporation,Released
6,Oct 3 2022 9:12AM,247711,10,0086037078,ISDIN Corporation,Released
7,Oct 3 2022 9:12AM,247711,10,0086037079,ISDIN Corporation,Released
8,Oct 3 2022 9:12AM,247711,10,0086037080,ISDIN Corporation,Released
9,Oct 3 2022 9:12AM,247711,10,0086037102,ISDIN Corporation,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
10  247708       Released         13
11  247709       Released         12
12  247710       Released         60
13  247711       Released         60
14  247712       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Released
id
247708                13
247709                12
247710                60
247711                60
247712                 1

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Released
id
247684                15
247687                36
247690                 1
247692                 1
247700                 8

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

Column Completed does not exist yet
Column Executing does not exist yet

ShipmentStatus  Released
id
247684                15
247687                36
247690                 1
247692                 1
247700                 8

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Released
0               247684        15
1               247687        36
2               247690         1
3               247692         1
4               247700         8

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

Column Completed does not exist yet
Column Executing does not exist yet

ShipmentStatus      id  Released
0               247684        15
1               247687        36
2               247690         1
3               247692         1
4               247700         8

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id          int64
Released    int32
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                    Date      id Warehouse                        Customer
0    Oct  3 2022  9:12AM  247711        10               ISDIN Corporation
60   Oct  3 2022  9:10AM  247712        12                SD Head USA, LLC
61   Oct  3 2022  9:00AM  247710        10               ISDIN Corporation
121  Oct  3 2022  8:50AM  247709        10                         Bio-PRF
133  Oct  3 2022  8:48AM  247708        10               ISDIN Corporation
146  Oct  3 2022  8:46AM  247707        16  Sartorius Bioprocess Solutions
147  Oct  3 2022  8:45AM  247706        16  Sartorius Bioprocess Solutions
148  Oct  3 2022  8:30AM  247684        10               ISDIN Corporation
163  Oct  3 2022  8:30AM  247687        10               ISDIN Corporation
199  Oct  3 2022  8:30AM  247690        10                Eywa Pharma Inc.

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Released
0,Oct 3 2022 9:12AM,247711,10,ISDIN Corporation,60
1,Oct 3 2022 9:10AM,247712,12,"SD Head USA, LLC",1
2,Oct 3 2022 9:00AM,247710,10,ISDIN Corporation,60
3,Oct 3 2022 8:50AM,247709,10,Bio-PRF,12
4,Oct 3 2022 8:48AM,247708,10,ISDIN Corporation,13
5,Oct 3 2022 8:46AM,247707,16,Sartorius Bioprocess Solutions,1
6,Oct 3 2022 8:45AM,247706,16,Sartorius Bioprocess Solutions,1
7,Oct 3 2022 8:30AM,247684,10,ISDIN Corporation,15
8,Oct 3 2022 8:30AM,247687,10,ISDIN Corporation,36
9,Oct 3 2022 8:30AM,247690,10,Eywa Pharma Inc.,1

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released
0,Oct 3 2022 9:12AM,247711,10,ISDIN Corporation,60
1,Oct 3 2022 9:10AM,247712,12,"SD Head USA, LLC",1
2,Oct 3 2022 9:00AM,247710,10,ISDIN Corporation,60
3,Oct 3 2022 8:50AM,247709,10,Bio-PRF,12
4,Oct 3 2022 8:48AM,247708,10,ISDIN Corporation,13
5,Oct 3 2022 8:46AM,247707,16,Sartorius Bioprocess Solutions,1
6,Oct 3 2022 8:45AM,247706,16,Sartorius Bioprocess Solutions,1
7,Oct 3 2022 8:30AM,247684,10,ISDIN Corporation,15
8,Oct 3 2022 8:30AM,247687,10,ISDIN Corporation,36
9,Oct 3 2022 8:30AM,247690,10,Eywa Pharma Inc.,1

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

                  Date      id Warehouse           Customer  Released
0  Oct  3 2022  9:12AM  247711        10  ISDIN Corporation        60
1  Oct  3 2022  9:10AM  247712        12   SD Head USA, LLC         1
2  Oct  3 2022  9:00AM  247710        10  ISDIN Corporation        60
3  Oct  3 2022  8:50AM  247709        10            Bio-PRF        12
4  Oct  3 2022  8:48AM  247708        10  ISDIN Corporation        13

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

Column Executing does not exist yet
Column Completed does not exist yet

                  Date      id Warehouse           Customer  Released
0  Oct  3 2022  9:12AM  247711        10  ISDIN Corporation        60
1  Oct  3 2022  9:10AM  247712        12   SD Head USA, LLC         1
2  Oct  3 2022  9:00AM  247710        10  ISDIN Corporation        60
3  Oct  3 2022  8:50AM  247709        10            Bio-PRF        12
4  Oct  3 2022  8:48AM  247708        10  ISDIN Corporation        13

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

                  Date      id Warehouse           Customer  Released
0  Oct  3 2022  9:12AM  247711        10  ISDIN Corporation        60
1  Oct  3 2022  9:10AM  247712        12   SD Head USA, LLC         1
2  Oct  3 2022  9:00AM  247710        10  ISDIN Corporation        60
3  Oct  3 2022  8:50AM  247709        10            Bio-PRF        12
4  Oct  3 2022  8:48AM  247708        10  ISDIN Corporation        13

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released
Warehouse
10         2476993       207
12          247712         1
16          743114         3
19          247703         1

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released
0        10  2476993       207
1        12   247712         1
2        16   743114         3
3        19   247703         1

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released
0        10       207
1        12         1
2        16         3
3        19         1

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released    207
1        12  Released      1
2        16  Released      3
3        19  Released      1

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse   10  12  16  19
Status
Released   207   1   3   1

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse    Status   10  12  16  19
0          Released  207   1   3   1

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

     Status   10  12  16  19
0  Released  207   1   3   1

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()