# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Aug 31 2022 2:52PM,245469,10,SONSB0001918,"Nextsource Biotechnology, LLC",Released
1,Aug 31 2022 2:52PM,245469,10,SONSB0001919,"Nextsource Biotechnology, LLC",Released
2,Aug 31 2022 2:47PM,245464,21,50663456,"NBTY Global, Inc.",Released
3,Aug 31 2022 2:46PM,245468,10,MSP213604,"Methapharm, Inc.",Released
4,Aug 31 2022 2:46PM,245468,10,MSP213613,"Methapharm, Inc.",Released
5,Aug 31 2022 2:45PM,245467,10,MSP213597,"Methapharm, Inc.",Released
6,Aug 31 2022 2:45PM,245467,10,MSP213598,"Methapharm, Inc.",Released
7,Aug 31 2022 2:45PM,245467,10,MSP213599,"Methapharm, Inc.",Released
8,Aug 31 2022 2:45PM,245467,10,MSP213600,"Methapharm, Inc.",Released
9,Aug 31 2022 2:45PM,245467,10,MSP213601,"Methapharm, Inc.",Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
25  245464       Released          1
26  245466       Released         12
27  245467       Released         13
28  245468       Released          2
29  245469       Released          2

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
245464                NaN        NaN       1.0
245466                NaN        NaN      12.0
245467                NaN        NaN      13.0
245468                NaN        NaN       2.0
245469                NaN        NaN       2.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
245403                4.0       18.0       0.0
245411                0.0        0.0       1.0
245414                0.0        0.0       1.0
245415                0.0        0.0       1.0
245419                1.0        0.0      29.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
245403                  4         18         0
245411                  0          0         1
245414                  0          0         1
245415                  0          0         1
245419                  1          0        29

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               245403          4         18         0
1               245411          0          0         1
2               245414          0          0         1
3               245415          0          0         1
4               245419          1          0        29

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               245403         4        18
1               245411                            1
2               245414                            1
3               245415                            1
4               245419         1                 29

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                       Customer
0   Aug 31 2022  2:52PM  245469        10  Nextsource Biotechnology, LLC
2   Aug 31 2022  2:47PM  245464        21              NBTY Global, Inc.
3   Aug 31 2022  2:46PM  245468        10               Methapharm, Inc.
5   Aug 31 2022  2:45PM  245467        10               Methapharm, Inc.
18  Aug 31 2022  2:41PM  245466        10              ISDIN Corporation
30  Aug 31 2022  2:40PM  245462        10              ISDIN Corporation
60  Aug 31 2022  2:36PM  245463        10               Methapharm, Inc.
61  Aug 31 2022  2:34PM  245461        10              Yusen – 3D Matrix
62  Aug 31 2022  2:32PM  245460        10       Senseonics, Incorporated
63  Aug 31 2022  2:11PM  245458        10                 Citieffe, Inc.

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Aug 31 2022 2:52PM,245469,10,"Nextsource Biotechnology, LLC",,,2
1,Aug 31 2022 2:47PM,245464,21,"NBTY Global, Inc.",,,1
2,Aug 31 2022 2:46PM,245468,10,"Methapharm, Inc.",,,2
3,Aug 31 2022 2:45PM,245467,10,"Methapharm, Inc.",,,13
4,Aug 31 2022 2:41PM,245466,10,ISDIN Corporation,,,12
5,Aug 31 2022 2:40PM,245462,10,ISDIN Corporation,,,30
6,Aug 31 2022 2:36PM,245463,10,"Methapharm, Inc.",,,1
7,Aug 31 2022 2:34PM,245461,10,Yusen – 3D Matrix,,,1
8,Aug 31 2022 2:32PM,245460,10,"Senseonics, Incorporated",,,1
9,Aug 31 2022 2:11PM,245458,10,"Citieffe, Inc.",,,1

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 31 2022 2:52PM,245469,10,"Nextsource Biotechnology, LLC",2,,
1,Aug 31 2022 2:47PM,245464,21,"NBTY Global, Inc.",1,,
2,Aug 31 2022 2:46PM,245468,10,"Methapharm, Inc.",2,,
3,Aug 31 2022 2:45PM,245467,10,"Methapharm, Inc.",13,,
4,Aug 31 2022 2:41PM,245466,10,ISDIN Corporation,12,,
5,Aug 31 2022 2:40PM,245462,10,ISDIN Corporation,30,,
6,Aug 31 2022 2:36PM,245463,10,"Methapharm, Inc.",1,,
7,Aug 31 2022 2:34PM,245461,10,Yusen – 3D Matrix,1,,
8,Aug 31 2022 2:32PM,245460,10,"Senseonics, Incorporated",1,,
9,Aug 31 2022 2:11PM,245458,10,"Citieffe, Inc.",1,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 31 2022 2:52PM,245469,10,"Nextsource Biotechnology, LLC",2,,
1,Aug 31 2022 2:47PM,245464,21,"NBTY Global, Inc.",1,,
2,Aug 31 2022 2:46PM,245468,10,"Methapharm, Inc.",2,,
3,Aug 31 2022 2:45PM,245467,10,"Methapharm, Inc.",13,,
4,Aug 31 2022 2:41PM,245466,10,ISDIN Corporation,12,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 31 2022 2:52PM,245469,10,"Nextsource Biotechnology, LLC",2.0,NaN,NaN
1,Aug 31 2022 2:47PM,245464,21,"NBTY Global, Inc.",1.0,NaN,NaN
2,Aug 31 2022 2:46PM,245468,10,"Methapharm, Inc.",2.0,NaN,NaN
3,Aug 31 2022 2:45PM,245467,10,"Methapharm, Inc.",13.0,NaN,NaN
4,Aug 31 2022 2:41PM,245466,10,ISDIN Corporation,12.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 31 2022 2:52PM,245469,10,"Nextsource Biotechnology, LLC",2.0,0.0,0.0
1,Aug 31 2022 2:47PM,245464,21,"NBTY Global, Inc.",1.0,0.0,0.0
2,Aug 31 2022 2:46PM,245468,10,"Methapharm, Inc.",2.0,0.0,0.0
3,Aug 31 2022 2:45PM,245467,10,"Methapharm, Inc.",13.0,0.0,0.0
4,Aug 31 2022 2:41PM,245466,10,ISDIN Corporation,12.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         3190917      69.0        6.0        0.0
15          245419      29.0        0.0        1.0
17          245452       1.0        0.0        0.0
19          245445       8.0       11.0        0.0
20          490825       4.0       20.0        4.0
21          736293       3.0        0.0        0.0
22          981719       4.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  3190917      69.0        6.0        0.0
1        15   245419      29.0        0.0        1.0
2        17   245452       1.0        0.0        0.0
3        19   245445       8.0       11.0        0.0
4        20   490825       4.0       20.0        4.0
5        21   736293       3.0        0.0        0.0
6        22   981719       4.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      69.0        6.0        0.0
1        15      29.0        0.0        1.0
2        17       1.0        0.0        0.0
3        19       8.0       11.0        0.0
4        20       4.0       20.0        4.0
5        21       3.0        0.0        0.0
6        22       4.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   69.0
1        15  Released   29.0
2        17  Released    1.0
3        19  Released    8.0
4        20  Released    4.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10    15   17    19    20   21   22
Status
Completed   0.0   1.0  0.0   0.0   4.0  0.0  0.0
Executing   6.0   0.0  0.0  11.0  20.0  0.0  0.0
Released   69.0  29.0  1.0   8.0   4.0  3.0  4.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10    15   17    19    20   21   22
0          Completed   0.0   1.0  0.0   0.0   4.0  0.0  0.0
1          Executing   6.0   0.0  0.0  11.0  20.0  0.0  0.0
2           Released  69.0  29.0  1.0   8.0   4.0  3.0  4.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10    15   17    19    20   21   22
0  Completed   0.0   1.0  0.0   0.0   4.0  0.0  0.0
1  Executing   6.0   0.0  0.0  11.0  20.0  0.0  0.0
2   Released  69.0  29.0  1.0   8.0   4.0  3.0  4.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()