# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={ODBC Driver 17 for SQL Server};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Feb 6 2023 8:30AM,256643,10,0086354865,ISDIN Corporation,Released
1,Feb 6 2023 8:30AM,256643,10,0086355122,ISDIN Corporation,Released
2,Feb 3 2023 3:01PM,256641,19,N17952,"NAPP Technologies, LLC",Released
3,Feb 3 2023 2:40PM,256638,10,PRF-51847,Bio-PRF,Executing
4,Feb 3 2023 2:40PM,256638,10,PRF-51850,Bio-PRF,Executing
5,Feb 3 2023 2:40PM,256638,10,PRF-51853,Bio-PRF,Executing
6,Feb 3 2023 2:40PM,256638,10,PRF-51859,Bio-PRF,Executing
7,Feb 3 2023 2:40PM,256638,10,PRF-51862,Bio-PRF,Executing
8,Feb 3 2023 2:40PM,256638,10,PRF-51872,Bio-PRF,Released
9,Feb 3 2023 2:40PM,256638,10,PRF-51876,Bio-PRF,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
22  256635       Released         20
23  256638      Executing          5
24  256638       Released          4
25  256641       Released          1
26  256643       Released          2

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
256634                NaN        3.0       7.0
256635                NaN        NaN      20.0
256638                NaN        5.0       4.0
256641                NaN        NaN       1.0
256643                NaN        NaN       2.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
256580                0.0        0.0       1.0
256585                4.0       10.0       8.0
256599                0.0        0.0       1.0
256600                0.0        0.0       1.0
256601                0.0        0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
256580                  0          0         1
256585                  4         10         8
256599                  0          0         1
256600                  0          0         1
256601                  0          0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               256580          0          0         1
1               256585          4         10         8
2               256599          0          0         1
3               256600          0          0         1
4               256601          0          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               256580                            1
1               256585         4        10        8
2               256599                            1
3               256600                            1
4               256601                            1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                Customer
0   Feb  6 2023  8:30AM  256643        10       ISDIN Corporation
2   Feb  3 2023  3:01PM  256641        19  NAPP Technologies, LLC
3   Feb  3 2023  2:40PM  256638        10                 Bio-PRF
12  Feb  3 2023  2:20PM  256635        10       ISDIN Corporation
32  Feb  3 2023  2:20PM  256634        10       ISDIN Corporation
42  Feb  3 2023  1:59PM  256631        19   ACG North America LLC
44  Feb  3 2023  1:59PM  256630        10       ISDIN Corporation
56  Feb  3 2023 12:40PM  256623        12       NBTY Global, Inc.
57  Feb  3 2023 12:25PM  256618        10       ISDIN Corporation
62  Feb  3 2023 11:51AM  256615        10       ISDIN Corporation

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Feb 6 2023 8:30AM,256643,10,ISDIN Corporation,,,2
1,Feb 3 2023 3:01PM,256641,19,"NAPP Technologies, LLC",,,1
2,Feb 3 2023 2:40PM,256638,10,Bio-PRF,,5,4
3,Feb 3 2023 2:20PM,256635,10,ISDIN Corporation,,,20
4,Feb 3 2023 2:20PM,256634,10,ISDIN Corporation,,3,7
5,Feb 3 2023 1:59PM,256631,19,ACG North America LLC,,2,
6,Feb 3 2023 1:59PM,256630,10,ISDIN Corporation,,,12
7,Feb 3 2023 12:40PM,256623,12,"NBTY Global, Inc.",,1,
8,Feb 3 2023 12:25PM,256618,10,ISDIN Corporation,,,5
9,Feb 3 2023 11:51AM,256615,10,ISDIN Corporation,,3,2

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Feb 6 2023 8:30AM,256643,10,ISDIN Corporation,2,,
1,Feb 3 2023 3:01PM,256641,19,"NAPP Technologies, LLC",1,,
2,Feb 3 2023 2:40PM,256638,10,Bio-PRF,4,5,
3,Feb 3 2023 2:20PM,256635,10,ISDIN Corporation,20,,
4,Feb 3 2023 2:20PM,256634,10,ISDIN Corporation,7,3,
5,Feb 3 2023 1:59PM,256631,19,ACG North America LLC,,2,
6,Feb 3 2023 1:59PM,256630,10,ISDIN Corporation,12,,
7,Feb 3 2023 12:40PM,256623,12,"NBTY Global, Inc.",,1,
8,Feb 3 2023 12:25PM,256618,10,ISDIN Corporation,5,,
9,Feb 3 2023 11:51AM,256615,10,ISDIN Corporation,2,3,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Feb 6 2023 8:30AM,256643,10,ISDIN Corporation,2,,
1,Feb 3 2023 3:01PM,256641,19,"NAPP Technologies, LLC",1,,
2,Feb 3 2023 2:40PM,256638,10,Bio-PRF,4,5,
3,Feb 3 2023 2:20PM,256635,10,ISDIN Corporation,20,,
4,Feb 3 2023 2:20PM,256634,10,ISDIN Corporation,7,3,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Feb 6 2023 8:30AM,256643,10,ISDIN Corporation,2.0,NaN,NaN
1,Feb 3 2023 3:01PM,256641,19,"NAPP Technologies, LLC",1.0,NaN,NaN
2,Feb 3 2023 2:40PM,256638,10,Bio-PRF,4.0,5.0,NaN
3,Feb 3 2023 2:20PM,256635,10,ISDIN Corporation,20.0,NaN,NaN
4,Feb 3 2023 2:20PM,256634,10,ISDIN Corporation,7.0,3.0,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Feb 6 2023 8:30AM,256643,10,ISDIN Corporation,2.0,0.0,0.0
1,Feb 3 2023 3:01PM,256641,19,"NAPP Technologies, LLC",1.0,0.0,0.0
2,Feb 3 2023 2:40PM,256638,10,Bio-PRF,4.0,5.0,0.0
3,Feb 3 2023 2:20PM,256635,10,ISDIN Corporation,20.0,0.0,0.0
4,Feb 3 2023 2:20PM,256634,10,ISDIN Corporation,7.0,3.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         2052998      60.0       21.0        4.0
12          256623       0.0        1.0        0.0
19         1026496      11.0       12.0       18.0
21          769800       3.0        0.0        0.0
22          513187       2.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  2052998      60.0       21.0        4.0
1        12   256623       0.0        1.0        0.0
2        19  1026496      11.0       12.0       18.0
3        21   769800       3.0        0.0        0.0
4        22   513187       2.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      60.0       21.0        4.0
1        12       0.0        1.0        0.0
2        19      11.0       12.0       18.0
3        21       3.0        0.0        0.0
4        22       2.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   60.0
1        12  Released    0.0
2        19  Released   11.0
3        21  Released    3.0
4        22  Released    2.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10   12    19   21   22
Status
Completed   4.0  0.0  18.0  0.0  0.0
Executing  21.0  1.0  12.0  0.0  0.0
Released   60.0  0.0  11.0  3.0  2.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10   12    19   21   22
0          Completed   4.0  0.0  18.0  0.0  0.0
1          Executing  21.0  1.0  12.0  0.0  0.0
2           Released  60.0  0.0  11.0  3.0  2.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10   12    19   21   22
0  Completed   4.0  0.0  18.0  0.0  0.0
1  Executing  21.0  1.0  12.0  0.0  0.0
2   Released  60.0  0.0  11.0  3.0  2.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()