# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={ODBC Driver 17 for SQL Server};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Mar 14 2023 2:43PM,259305,10,SONSB0002137,"Nextsource Biotechnology, LLC",Released
1,Mar 14 2023 2:43PM,259305,10,SONSB0002136,"Nextsource Biotechnology, LLC",Released
2,Mar 14 2023 2:43PM,259305,10,SOTAH0000938,"Nextsource Biotechnology, LLC",Released
3,Mar 14 2023 2:41PM,259304,19,ACG-2102493094,ACG North America LLC,Released
4,Mar 14 2023 2:25PM,259303,19,ADV80013733,"AdvaGen Pharma, Ltd",Released
5,Mar 14 2023 2:25PM,259303,19,ADV80013734,"AdvaGen Pharma, Ltd",Released
6,Mar 14 2023 2:25PM,259303,19,ADV80013735,"AdvaGen Pharma, Ltd",Released
7,Mar 14 2023 2:25PM,259303,19,ADV80013736,"AdvaGen Pharma, Ltd",Released
8,Mar 14 2023 2:25PM,259303,19,ADV80013737,"AdvaGen Pharma, Ltd",Released
9,Mar 14 2023 2:25PM,259303,19,ADV80013739,"AdvaGen Pharma, Ltd",Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
27  259300       Released          1
28  259301       Released          1
29  259303       Released         12
30  259304       Released          1
31  259305       Released          3

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
259300                NaN        NaN       1.0
259301                NaN        NaN       1.0
259303                NaN        NaN      12.0
259304                NaN        NaN       1.0
259305                NaN        NaN       3.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
259195               51.0        5.0       8.0
259215                0.0        6.0       4.0
259225                0.0        0.0       1.0
259243               15.0        1.0       0.0
259258                0.0        0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
259195                 51          5         8
259215                  0          6         4
259225                  0          0         1
259243                 15          1         0
259258                  0          0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               259195         51          5         8
1               259215          0          6         4
2               259225          0          0         1
3               259243         15          1         0
4               259258          0          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               259195        51         5        8
1               259215                   6        4
2               259225                            1
3               259243        15         1
4               259258                            1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                       Customer
0   Mar 14 2023  2:43PM  259305        10  Nextsource Biotechnology, LLC
3   Mar 14 2023  2:41PM  259304        19          ACG North America LLC
4   Mar 14 2023  2:25PM  259303        19            AdvaGen Pharma, Ltd
16  Mar 14 2023  2:02PM  259301        10               Uniderm USA, Inc
17  Mar 14 2023  2:00PM  259300        10                 CLINUVEL, Inc.
18  Mar 14 2023  1:50PM  259298        19           Emersa Waterbox, LLC
19  Mar 14 2023  1:38PM  259297        21              NBTY Global, Inc.
20  Mar 14 2023  1:34PM  259296        19           Emersa Waterbox, LLC
21  Mar 14 2023  1:20PM  259294        19           Emersa Waterbox, LLC
22  Mar 14 2023  1:17PM  259292        19            AdvaGen Pharma, Ltd

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Mar 14 2023 2:43PM,259305,10,"Nextsource Biotechnology, LLC",,,3
1,Mar 14 2023 2:41PM,259304,19,ACG North America LLC,,,1
2,Mar 14 2023 2:25PM,259303,19,"AdvaGen Pharma, Ltd",,,12
3,Mar 14 2023 2:02PM,259301,10,"Uniderm USA, Inc",,,1
4,Mar 14 2023 2:00PM,259300,10,"CLINUVEL, Inc.",,,1
5,Mar 14 2023 1:50PM,259298,19,"Emersa Waterbox, LLC",,,1
6,Mar 14 2023 1:38PM,259297,21,"NBTY Global, Inc.",,1,
7,Mar 14 2023 1:34PM,259296,19,"Emersa Waterbox, LLC",,,1
8,Mar 14 2023 1:20PM,259294,19,"Emersa Waterbox, LLC",,,1
9,Mar 14 2023 1:17PM,259292,19,"AdvaGen Pharma, Ltd",,3,3

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Mar 14 2023 2:43PM,259305,10,"Nextsource Biotechnology, LLC",3,,
1,Mar 14 2023 2:41PM,259304,19,ACG North America LLC,1,,
2,Mar 14 2023 2:25PM,259303,19,"AdvaGen Pharma, Ltd",12,,
3,Mar 14 2023 2:02PM,259301,10,"Uniderm USA, Inc",1,,
4,Mar 14 2023 2:00PM,259300,10,"CLINUVEL, Inc.",1,,
5,Mar 14 2023 1:50PM,259298,19,"Emersa Waterbox, LLC",1,,
6,Mar 14 2023 1:38PM,259297,21,"NBTY Global, Inc.",,1,
7,Mar 14 2023 1:34PM,259296,19,"Emersa Waterbox, LLC",1,,
8,Mar 14 2023 1:20PM,259294,19,"Emersa Waterbox, LLC",1,,
9,Mar 14 2023 1:17PM,259292,19,"AdvaGen Pharma, Ltd",3,3,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Mar 14 2023 2:43PM,259305,10,"Nextsource Biotechnology, LLC",3,,
1,Mar 14 2023 2:41PM,259304,19,ACG North America LLC,1,,
2,Mar 14 2023 2:25PM,259303,19,"AdvaGen Pharma, Ltd",12,,
3,Mar 14 2023 2:02PM,259301,10,"Uniderm USA, Inc",1,,
4,Mar 14 2023 2:00PM,259300,10,"CLINUVEL, Inc.",1,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Mar 14 2023 2:43PM,259305,10,"Nextsource Biotechnology, LLC",3.0,NaN,NaN
1,Mar 14 2023 2:41PM,259304,19,ACG North America LLC,1.0,NaN,NaN
2,Mar 14 2023 2:25PM,259303,19,"AdvaGen Pharma, Ltd",12.0,NaN,NaN
3,Mar 14 2023 2:02PM,259301,10,"Uniderm USA, Inc",1.0,NaN,NaN
4,Mar 14 2023 2:00PM,259300,10,"CLINUVEL, Inc.",1.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Mar 14 2023 2:43PM,259305,10,"Nextsource Biotechnology, LLC",3.0,0.0,0.0
1,Mar 14 2023 2:41PM,259304,19,ACG North America LLC,1.0,0.0,0.0
2,Mar 14 2023 2:25PM,259303,19,"AdvaGen Pharma, Ltd",12.0,0.0,0.0
3,Mar 14 2023 2:02PM,259301,10,"Uniderm USA, Inc",1.0,0.0,0.0
4,Mar 14 2023 2:00PM,259300,10,"CLINUVEL, Inc.",1.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         2852097      32.0       23.0       41.0
15          518410      12.0       11.0       51.0
19         2074330      21.0        3.0        0.0
20          259225       1.0        0.0        0.0
21          259297       0.0        1.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  2852097      32.0       23.0       41.0
1        15   518410      12.0       11.0       51.0
2        19  2074330      21.0        3.0        0.0
3        20   259225       1.0        0.0        0.0
4        21   259297       0.0        1.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      32.0       23.0       41.0
1        15      12.0       11.0       51.0
2        19      21.0        3.0        0.0
3        20       1.0        0.0        0.0
4        21       0.0        1.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   32.0
1        15  Released   12.0
2        19  Released   21.0
3        20  Released    1.0
4        21  Released    0.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10    15    19   20   21
Status
Completed  41.0  51.0   0.0  0.0  0.0
Executing  23.0  11.0   3.0  0.0  1.0
Released   32.0  12.0  21.0  1.0  0.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10    15    19   20   21
0          Completed  41.0  51.0   0.0  0.0  0.0
1          Executing  23.0  11.0   3.0  0.0  1.0
2           Released  32.0  12.0  21.0  1.0  0.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10    15    19   20   21
0  Completed  41.0  51.0   0.0  0.0  0.0
1  Executing  23.0  11.0   3.0  0.0  1.0
2   Released  32.0  12.0  21.0  1.0  0.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()