# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,May 27 2022 8:54AM,238241,15,VT80172901,"Virtus Pharmaceuticals, LLC",Released
1,May 27 2022 8:54AM,238241,15,VT80172902,"Virtus Pharmaceuticals, LLC",Released
2,May 27 2022 8:54AM,238241,15,VT80172903,"Virtus Pharmaceuticals, LLC",Released
3,May 27 2022 8:54AM,238241,15,VT80172904,"Virtus Pharmaceuticals, LLC",Released
4,May 27 2022 8:54AM,238241,15,VT80172905,"Virtus Pharmaceuticals, LLC",Released
5,May 27 2022 8:54AM,238241,15,VT80172906,"Virtus Pharmaceuticals, LLC",Released
6,May 27 2022 8:54AM,238241,15,VT80172907,"Virtus Pharmaceuticals, LLC",Released
7,May 27 2022 8:49AM,238240,10,SO94270,"Senseonics, Incorporated",Released
8,May 27 2022 8:48AM,238239,15,8069280,"Carwin Pharmaceutical Associates, LLC",Released
9,May 27 2022 8:48AM,238239,15,8069368,"Carwin Pharmaceutical Associates, LLC",Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
39  238237       Released         15
40  238238       Released          2
41  238239       Released          2
42  238240       Released          1
43  238241       Released          7

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
238237                NaN        NaN      15.0
238238                NaN        NaN       2.0
238239                NaN        NaN       2.0
238240                NaN        NaN       1.0
238241                NaN        NaN       7.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
238139               19.0        2.0       0.0
238153                0.0        1.0       0.0
238159                0.0        0.0       1.0
238163                0.0        0.0       1.0
238165                0.0        1.0       8.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
238139                 19          2         0
238153                  0          1         0
238159                  0          0         1
238163                  0          0         1
238165                  0          1         8

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               238139         19          2         0
1               238153          0          1         0
2               238159          0          0         1
3               238163          0          0         1
4               238165          0          1         8

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               238139        19         2
1               238153                   1
2               238159                            1
3               238163                            1
4               238165                   1        8

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

,Date,id,Warehouse,Customer
0,May 27 2022 8:54AM,238241,15,"Virtus Pharmaceuticals, LLC"
7,May 27 2022 8:49AM,238240,10,"Senseonics, Incorporated"
8,May 27 2022 8:48AM,238239,15,"Carwin Pharmaceutical Associates, LLC"
10,May 27 2022 8:47AM,238238,15,"Alliance Pharma, Inc."
12,May 27 2022 8:46AM,238237,10,Beach Products Inc
27,May 27 2022 8:46AM,238234,15,"Person & Covey, Inc."
32,May 27 2022 8:43AM,238236,10,Emerginnova
33,May 27 2022 8:32AM,238235,10,"E5 Pharma, LLC"
35,May 27 2022 8:19AM,238187,15,"Alliance Pharma, Inc."
61,May 27 2022 8:00AM,238233,19,VITABIOTICS USA INC.

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,May 27 2022 8:54AM,238241,15,"Virtus Pharmaceuticals, LLC",,,7
1,May 27 2022 8:49AM,238240,10,"Senseonics, Incorporated",,,1
2,May 27 2022 8:48AM,238239,15,"Carwin Pharmaceutical Associates, LLC",,,2
3,May 27 2022 8:47AM,238238,15,"Alliance Pharma, Inc.",,,2
4,May 27 2022 8:46AM,238237,10,Beach Products Inc,,,15
5,May 27 2022 8:46AM,238234,15,"Person & Covey, Inc.",,,5
6,May 27 2022 8:43AM,238236,10,Emerginnova,,,1
7,May 27 2022 8:32AM,238235,10,"E5 Pharma, LLC",,,2
8,May 27 2022 8:19AM,238187,15,"Alliance Pharma, Inc.",,,26
9,May 27 2022 8:00AM,238233,19,VITABIOTICS USA INC.,,,1

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,May 27 2022 8:54AM,238241,15,"Virtus Pharmaceuticals, LLC",7,,
1,May 27 2022 8:49AM,238240,10,"Senseonics, Incorporated",1,,
2,May 27 2022 8:48AM,238239,15,"Carwin Pharmaceutical Associates, LLC",2,,
3,May 27 2022 8:47AM,238238,15,"Alliance Pharma, Inc.",2,,
4,May 27 2022 8:46AM,238237,10,Beach Products Inc,15,,
5,May 27 2022 8:46AM,238234,15,"Person & Covey, Inc.",5,,
6,May 27 2022 8:43AM,238236,10,Emerginnova,1,,
7,May 27 2022 8:32AM,238235,10,"E5 Pharma, LLC",2,,
8,May 27 2022 8:19AM,238187,15,"Alliance Pharma, Inc.",26,,
9,May 27 2022 8:00AM,238233,19,VITABIOTICS USA INC.,1,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,May 27 2022 8:54AM,238241,15,"Virtus Pharmaceuticals, LLC",7,,
1,May 27 2022 8:49AM,238240,10,"Senseonics, Incorporated",1,,
2,May 27 2022 8:48AM,238239,15,"Carwin Pharmaceutical Associates, LLC",2,,
3,May 27 2022 8:47AM,238238,15,"Alliance Pharma, Inc.",2,,
4,May 27 2022 8:46AM,238237,10,Beach Products Inc,15,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,May 27 2022 8:54AM,238241,15,"Virtus Pharmaceuticals, LLC",7.0,NaN,NaN
1,May 27 2022 8:49AM,238240,10,"Senseonics, Incorporated",1.0,NaN,NaN
2,May 27 2022 8:48AM,238239,15,"Carwin Pharmaceutical Associates, LLC",2.0,NaN,NaN
3,May 27 2022 8:47AM,238238,15,"Alliance Pharma, Inc.",2.0,NaN,NaN
4,May 27 2022 8:46AM,238237,10,Beach Products Inc,15.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,May 27 2022 8:54AM,238241,15,"Virtus Pharmaceuticals, LLC",7.0,0.0,0.0
1,May 27 2022 8:49AM,238240,10,"Senseonics, Incorporated",1.0,0.0,0.0
2,May 27 2022 8:48AM,238239,15,"Carwin Pharmaceutical Associates, LLC",2.0,0.0,0.0
3,May 27 2022 8:47AM,238238,15,"Alliance Pharma, Inc.",2.0,0.0,0.0
4,May 27 2022 8:46AM,238237,10,Beach Products Inc,15.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         2620263      51.0        0.0        0.0
12          238210       1.0        0.0        0.0
15         1429278      42.0        2.0       19.0
16         1191003      13.0        0.0        0.0
18          238159       1.0        0.0        0.0
19         1667490      22.0       18.0        0.0
20         1190854      19.0       17.0        2.0
21          238163       1.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  2620263      51.0        0.0        0.0
1        12   238210       1.0        0.0        0.0
2        15  1429278      42.0        2.0       19.0
3        16  1191003      13.0        0.0        0.0
4        18   238159       1.0        0.0        0.0
5        19  1667490      22.0       18.0        0.0
6        20  1190854      19.0       17.0        2.0
7        21   238163       1.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      51.0        0.0        0.0
1        12       1.0        0.0        0.0
2        15      42.0        2.0       19.0
3        16      13.0        0.0        0.0
4        18       1.0        0.0        0.0
5        19      22.0       18.0        0.0
6        20      19.0       17.0        2.0
7        21       1.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   51.0
1        12  Released    1.0
2        15  Released   42.0
3        16  Released   13.0
4        18  Released    1.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10   12    15    16   18    19    20   21
Status
Completed   0.0  0.0  19.0   0.0  0.0   0.0   2.0  0.0
Executing   0.0  0.0   2.0   0.0  0.0  18.0  17.0  0.0
Released   51.0  1.0  42.0  13.0  1.0  22.0  19.0  1.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10   12    15    16   18    19    20   21
0          Completed   0.0  0.0  19.0   0.0  0.0   0.0   2.0  0.0
1          Executing   0.0  0.0   2.0   0.0  0.0  18.0  17.0  0.0
2           Released  51.0  1.0  42.0  13.0  1.0  22.0  19.0  1.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10   12    15    16   18    19    20   21
0  Completed   0.0  0.0  19.0   0.0  0.0   0.0   2.0  0.0
1  Executing   0.0  0.0   2.0   0.0  0.0  18.0  17.0  0.0
2   Released  51.0  1.0  42.0  13.0  1.0  22.0  19.0  1.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()