# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={ODBC Driver 17 for SQL Server};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Feb 13 2023 11:49AM,257254,10,MSP218476,Methapharm-G,Released
1,Feb 13 2023 11:43AM,257253,12,7588733,SugarBear,Released
2,Feb 13 2023 11:31AM,257250,19,ADV80011769,"AdvaGen Pharma, Ltd",Released
3,Feb 13 2023 11:31AM,257250,19,ADV80011770,"AdvaGen Pharma, Ltd",Released
4,Feb 13 2023 11:31AM,257250,19,ADV80011771,"AdvaGen Pharma, Ltd",Released
5,Feb 13 2023 11:31AM,257250,19,ADV80011772,"AdvaGen Pharma, Ltd",Released
6,Feb 13 2023 11:31AM,257250,19,ADV80011777,"AdvaGen Pharma, Ltd",Released
7,Feb 13 2023 11:31AM,257250,19,ADV80011703,"AdvaGen Pharma, Ltd",Released
8,Feb 13 2023 11:31AM,257250,19,ADV80011704,"AdvaGen Pharma, Ltd",Released
9,Feb 13 2023 11:31AM,257250,19,ADV80011705,"AdvaGen Pharma, Ltd",Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
41  257245       Released          2
42  257249       Released          4
43  257250       Released         26
44  257253       Released          1
45  257254       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
257245                NaN        NaN       2.0
257249                NaN        NaN       4.0
257250                NaN        NaN      26.0
257253                NaN        NaN       1.0
257254                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
257186                0.0        2.0       1.0
257194               35.0        5.0       1.0
257195                0.0       10.0      32.0
257198                0.0        1.0       0.0
257199                0.0        0.0       8.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
257186                  0          2         1
257194                 35          5         1
257195                  0         10        32
257198                  0          1         0
257199                  0          0         8

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               257186          0          2         1
1               257194         35          5         1
2               257195          0         10        32
3               257198          0          1         0
4               257199          0          0         8

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               257186                   2        1
1               257194        35         5        1
2               257195                  10       32
3               257198                   1
4               257199                            8

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                Customer
0   Feb 13 2023 11:49AM  257254        10            Methapharm-G
1   Feb 13 2023 11:43AM  257253        12               SugarBear
2   Feb 13 2023 11:31AM  257250        19     AdvaGen Pharma, Ltd
28  Feb 13 2023 11:29AM  257249        10          Citieffe, Inc.
32  Feb 13 2023 11:24AM  257245        12        Uniderm USA, Inc
34  Feb 13 2023 11:07AM  257242        10        Methapharm, Inc.
37  Feb 13 2023 11:03AM  257241        10        Eywa Pharma Inc.
38  Feb 13 2023 10:54AM  257240        19  GCH Granules USA, Inc.
41  Feb 13 2023 10:48AM  257238        10        Eywa Pharma Inc.
52  Feb 13 2023 10:41AM  257231        10       ISDIN Corporation

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Feb 13 2023 11:49AM,257254,10,Methapharm-G,,,1
1,Feb 13 2023 11:43AM,257253,12,SugarBear,,,1
2,Feb 13 2023 11:31AM,257250,19,"AdvaGen Pharma, Ltd",,,26
3,Feb 13 2023 11:29AM,257249,10,"Citieffe, Inc.",,,4
4,Feb 13 2023 11:24AM,257245,12,"Uniderm USA, Inc",,,2
5,Feb 13 2023 11:07AM,257242,10,"Methapharm, Inc.",,,3
6,Feb 13 2023 11:03AM,257241,10,Eywa Pharma Inc.,,,1
7,Feb 13 2023 10:54AM,257240,19,"GCH Granules USA, Inc.",,,3
8,Feb 13 2023 10:48AM,257238,10,Eywa Pharma Inc.,,,11
9,Feb 13 2023 10:41AM,257231,10,ISDIN Corporation,,,63

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Feb 13 2023 11:49AM,257254,10,Methapharm-G,1,,
1,Feb 13 2023 11:43AM,257253,12,SugarBear,1,,
2,Feb 13 2023 11:31AM,257250,19,"AdvaGen Pharma, Ltd",26,,
3,Feb 13 2023 11:29AM,257249,10,"Citieffe, Inc.",4,,
4,Feb 13 2023 11:24AM,257245,12,"Uniderm USA, Inc",2,,
5,Feb 13 2023 11:07AM,257242,10,"Methapharm, Inc.",3,,
6,Feb 13 2023 11:03AM,257241,10,Eywa Pharma Inc.,1,,
7,Feb 13 2023 10:54AM,257240,19,"GCH Granules USA, Inc.",3,,
8,Feb 13 2023 10:48AM,257238,10,Eywa Pharma Inc.,11,,
9,Feb 13 2023 10:41AM,257231,10,ISDIN Corporation,63,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Feb 13 2023 11:49AM,257254,10,Methapharm-G,1,,
1,Feb 13 2023 11:43AM,257253,12,SugarBear,1,,
2,Feb 13 2023 11:31AM,257250,19,"AdvaGen Pharma, Ltd",26,,
3,Feb 13 2023 11:29AM,257249,10,"Citieffe, Inc.",4,,
4,Feb 13 2023 11:24AM,257245,12,"Uniderm USA, Inc",2,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Feb 13 2023 11:49AM,257254,10,Methapharm-G,1.0,NaN,NaN
1,Feb 13 2023 11:43AM,257253,12,SugarBear,1.0,NaN,NaN
2,Feb 13 2023 11:31AM,257250,19,"AdvaGen Pharma, Ltd",26.0,NaN,NaN
3,Feb 13 2023 11:29AM,257249,10,"Citieffe, Inc.",4.0,NaN,NaN
4,Feb 13 2023 11:24AM,257245,12,"Uniderm USA, Inc",2.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Feb 13 2023 11:49AM,257254,10,Methapharm-G,1.0,0.0,0.0
1,Feb 13 2023 11:43AM,257253,12,SugarBear,1.0,0.0,0.0
2,Feb 13 2023 11:31AM,257250,19,"AdvaGen Pharma, Ltd",26.0,0.0,0.0
3,Feb 13 2023 11:29AM,257249,10,"Citieffe, Inc.",4.0,0.0,0.0
4,Feb 13 2023 11:24AM,257245,12,"Uniderm USA, Inc",2.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         6430547     437.0        2.0        0.0
12         1028921       6.0        0.0        0.0
15          771677      63.0       40.0        0.0
19         1286077      62.0       16.0       35.0
21          514441       2.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  6430547     437.0        2.0        0.0
1        12  1028921       6.0        0.0        0.0
2        15   771677      63.0       40.0        0.0
3        19  1286077      62.0       16.0       35.0
4        21   514441       2.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10     437.0        2.0        0.0
1        12       6.0        0.0        0.0
2        15      63.0       40.0        0.0
3        19      62.0       16.0       35.0
4        21       2.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released  437.0
1        12  Released    6.0
2        15  Released   63.0
3        19  Released   62.0
4        21  Released    2.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse     10   12    15    19   21
Status
Completed    0.0  0.0   0.0  35.0  0.0
Executing    2.0  0.0  40.0  16.0  0.0
Released   437.0  6.0  63.0  62.0  2.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status     10   12    15    19   21
0          Completed    0.0  0.0   0.0  35.0  0.0
1          Executing    2.0  0.0  40.0  16.0  0.0
2           Released  437.0  6.0  63.0  62.0  2.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status     10   12    15    19   21
0  Completed    0.0  0.0   0.0  35.0  0.0
1  Executing    2.0  0.0  40.0  16.0  0.0
2   Released  437.0  6.0  63.0  62.0  2.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()