# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Nov 1 2022 8:41AM,249759,16,SHL-8715952,"SHL Pharma, LLC",Released
1,Nov 1 2022 8:35AM,249758,10,DNMD-25840,Emerginnova,Released
2,Nov 1 2022 8:35AM,249758,10,Enova-10904,Emerginnova,Released
3,Nov 1 2022 8:35AM,249758,10,Enova-10905,Emerginnova,Released
4,Nov 1 2022 8:35AM,249758,10,DNMD-25848,Emerginnova,Released
5,Nov 1 2022 8:33AM,249757,16,8716547,Sartorius Bioprocess Solutions,Released
6,Nov 1 2022 7:44AM,249756,19,MSP215387,"Methapharm, Inc.",Released
7,Nov 1 2022 7:40AM,249755,19,ADV80007213,"AdvaGen Pharma, Ltd",Released
8,Oct 31 2022 7:33PM,249750,15,ALI014369762,"Alliance Pharma, Inc.",Released
9,Oct 31 2022 7:33PM,249750,15,ALI017110489,"Alliance Pharma, Inc.",Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
18  249755       Released          1
19  249756       Released          1
20  249757       Released          1
21  249758       Released          4
22  249759       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
249755                NaN        NaN       1.0
249756                NaN        NaN       1.0
249757                NaN        NaN       1.0
249758                NaN        NaN       4.0
249759                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
249680                0.0        1.0       0.0
249685               55.0        0.0      10.0
249693                0.0        0.0       1.0
249712                0.0        0.0       1.0
249713                0.0        0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
249680                  0          1         0
249685                 55          0        10
249693                  0          0         1
249712                  0          0         1
249713                  0          0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               249680          0          1         0
1               249685         55          0        10
2               249693          0          0         1
3               249712          0          0         1
4               249713          0          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               249680                   1
1               249685        55                 10
2               249693                            1
3               249712                            1
4               249713                            1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                        Customer
0   Nov  1 2022  8:41AM  249759        16                 SHL Pharma, LLC
1   Nov  1 2022  8:35AM  249758        10                     Emerginnova
5   Nov  1 2022  8:33AM  249757        16  Sartorius Bioprocess Solutions
6   Nov  1 2022  7:44AM  249756        19                Methapharm, Inc.
7   Nov  1 2022  7:40AM  249755        19             AdvaGen Pharma, Ltd
8   Oct 31 2022  7:33PM  249750        15           Alliance Pharma, Inc.
67  Oct 31 2022  6:51PM  249753        21               NBTY Global, Inc.
68  Oct 31 2022  6:38PM  249751        21               NBTY Global, Inc.
69  Oct 31 2022  4:42PM  249749        10               ISDIN Corporation
75  Oct 31 2022  4:35PM  249746        10               ISDIN Corporation

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Nov 1 2022 8:41AM,249759,16,"SHL Pharma, LLC",,,1
1,Nov 1 2022 8:35AM,249758,10,Emerginnova,,,4
2,Nov 1 2022 8:33AM,249757,16,Sartorius Bioprocess Solutions,,,1
3,Nov 1 2022 7:44AM,249756,19,"Methapharm, Inc.",,,1
4,Nov 1 2022 7:40AM,249755,19,"AdvaGen Pharma, Ltd",,,1
5,Oct 31 2022 7:33PM,249750,15,"Alliance Pharma, Inc.",,,59
6,Oct 31 2022 6:51PM,249753,21,"NBTY Global, Inc.",,,1
7,Oct 31 2022 6:38PM,249751,21,"NBTY Global, Inc.",,,1
8,Oct 31 2022 4:42PM,249749,10,ISDIN Corporation,,,6
9,Oct 31 2022 4:35PM,249746,10,ISDIN Corporation,,,10

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Nov 1 2022 8:41AM,249759,16,"SHL Pharma, LLC",1,,
1,Nov 1 2022 8:35AM,249758,10,Emerginnova,4,,
2,Nov 1 2022 8:33AM,249757,16,Sartorius Bioprocess Solutions,1,,
3,Nov 1 2022 7:44AM,249756,19,"Methapharm, Inc.",1,,
4,Nov 1 2022 7:40AM,249755,19,"AdvaGen Pharma, Ltd",1,,
5,Oct 31 2022 7:33PM,249750,15,"Alliance Pharma, Inc.",59,,
6,Oct 31 2022 6:51PM,249753,21,"NBTY Global, Inc.",1,,
7,Oct 31 2022 6:38PM,249751,21,"NBTY Global, Inc.",1,,
8,Oct 31 2022 4:42PM,249749,10,ISDIN Corporation,6,,
9,Oct 31 2022 4:35PM,249746,10,ISDIN Corporation,10,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Nov 1 2022 8:41AM,249759,16,"SHL Pharma, LLC",1,,
1,Nov 1 2022 8:35AM,249758,10,Emerginnova,4,,
2,Nov 1 2022 8:33AM,249757,16,Sartorius Bioprocess Solutions,1,,
3,Nov 1 2022 7:44AM,249756,19,"Methapharm, Inc.",1,,
4,Nov 1 2022 7:40AM,249755,19,"AdvaGen Pharma, Ltd",1,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Nov 1 2022 8:41AM,249759,16,"SHL Pharma, LLC",1.0,NaN,NaN
1,Nov 1 2022 8:35AM,249758,10,Emerginnova,4.0,NaN,NaN
2,Nov 1 2022 8:33AM,249757,16,Sartorius Bioprocess Solutions,1.0,NaN,NaN
3,Nov 1 2022 7:44AM,249756,19,"Methapharm, Inc.",1.0,NaN,NaN
4,Nov 1 2022 7:40AM,249755,19,"AdvaGen Pharma, Ltd",1.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Nov 1 2022 8:41AM,249759,16,"SHL Pharma, LLC",1.0,0.0,0.0
1,Nov 1 2022 8:35AM,249758,10,Emerginnova,4.0,0.0,0.0
2,Nov 1 2022 8:33AM,249757,16,Sartorius Bioprocess Solutions,1.0,0.0,0.0
3,Nov 1 2022 7:44AM,249756,19,"Methapharm, Inc.",1.0,0.0,0.0
4,Nov 1 2022 7:40AM,249755,19,"AdvaGen Pharma, Ltd",1.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         1248717      25.0        0.0        1.0
15          499435      69.0        0.0       55.0
16          998925       3.0        1.0        2.0
19          998979       4.0        0.0        0.0
20          249680       0.0        1.0        0.0
21          998929       4.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  1248717      25.0        0.0        1.0
1        15   499435      69.0        0.0       55.0
2        16   998925       3.0        1.0        2.0
3        19   998979       4.0        0.0        0.0
4        20   249680       0.0        1.0        0.0
5        21   998929       4.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      25.0        0.0        1.0
1        15      69.0        0.0       55.0
2        16       3.0        1.0        2.0
3        19       4.0        0.0        0.0
4        20       0.0        1.0        0.0
5        21       4.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   25.0
1        15  Released   69.0
2        16  Released    3.0
3        19  Released    4.0
4        20  Released    0.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10    15   16   19   20   21
Status
Completed   1.0  55.0  2.0  0.0  0.0  0.0
Executing   0.0   0.0  1.0  0.0  1.0  0.0
Released   25.0  69.0  3.0  4.0  0.0  4.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10    15   16   19   20   21
0          Completed   1.0  55.0  2.0  0.0  0.0  0.0
1          Executing   0.0   0.0  1.0  0.0  1.0  0.0
2           Released  25.0  69.0  3.0  4.0  0.0  4.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10    15   16   19   20   21
0  Completed   1.0  55.0  2.0  0.0  0.0  0.0
1  Executing   0.0   0.0  1.0  0.0  1.0  0.0
2   Released  25.0  69.0  3.0  4.0  0.0  4.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()