# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={ODBC Driver 17 for SQL Server};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Jan 9 2023 2:05PM,254584,10,Yusen-9010677,Yusen – 3D Matrix,Released
1,Jan 9 2023 1:57PM,254583,10,0086286438,ISDIN Corporation,Released
2,Jan 9 2023 1:57PM,254583,10,0086286439,ISDIN Corporation,Released
3,Jan 9 2023 1:57PM,254583,10,0086286440,ISDIN Corporation,Released
4,Jan 9 2023 1:57PM,254583,10,0086286448,ISDIN Corporation,Released
5,Jan 9 2023 1:57PM,254583,10,0086286449,ISDIN Corporation,Released
6,Jan 9 2023 1:57PM,254583,10,0086286450,ISDIN Corporation,Released
7,Jan 9 2023 1:57PM,254583,10,0086286451,ISDIN Corporation,Released
8,Jan 9 2023 1:57PM,254583,10,0086286454,ISDIN Corporation,Released
9,Jan 9 2023 1:57PM,254583,10,0086286455,ISDIN Corporation,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
26  254579       Released          1
27  254580       Released          4
28  254581       Released         12
29  254583       Released         12
30  254584       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
254579                NaN        NaN       1.0
254580                NaN        NaN       4.0
254581                NaN        NaN      12.0
254583                NaN        NaN      12.0
254584                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
254505                9.0        0.0       2.0
254511                0.0        8.0       0.0
254512                0.0        0.0      11.0
254516                2.0        1.0       6.0
254533                2.0        0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
254505                  9          0         2
254511                  0          8         0
254512                  0          0        11
254516                  2          1         6
254533                  2          0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               254505          9          0         2
1               254511          0          8         0
2               254512          0          0        11
3               254516          2          1         6
4               254533          2          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               254505         9                  2
1               254511                   8
2               254512                           11
3               254516         2         1        6
4               254533         2                  1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse               Customer
0   Jan  9 2023  2:05PM  254584        10      Yusen – 3D Matrix
1   Jan  9 2023  1:57PM  254583        10      ISDIN Corporation
13  Jan  9 2023  1:57PM  254581        10      ISDIN Corporation
25  Jan  9 2023  1:53PM  254580        10      ISDIN Corporation
29  Jan  9 2023  1:53PM  254579        10            Emerginnova
30  Jan  9 2023  1:49PM  254578        19  Eli Lilly and Company
31  Jan  9 2023  1:27PM  254577        10         Citieffe, Inc.
32  Jan  9 2023 12:55PM  254572        10       Methapharm, Inc.
38  Jan  9 2023 12:32PM  254571        10      Yusen – 3D Matrix
39  Jan  9 2023 12:20PM  254569        10      ISDIN Corporation

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Jan 9 2023 2:05PM,254584,10,Yusen – 3D Matrix,,,1
1,Jan 9 2023 1:57PM,254583,10,ISDIN Corporation,,,12
2,Jan 9 2023 1:57PM,254581,10,ISDIN Corporation,,,12
3,Jan 9 2023 1:53PM,254580,10,ISDIN Corporation,,,4
4,Jan 9 2023 1:53PM,254579,10,Emerginnova,,,1
5,Jan 9 2023 1:49PM,254578,19,Eli Lilly and Company,,,1
6,Jan 9 2023 1:27PM,254577,10,"Citieffe, Inc.",,1,
7,Jan 9 2023 12:55PM,254572,10,"Methapharm, Inc.",,,6
8,Jan 9 2023 12:32PM,254571,10,Yusen – 3D Matrix,,,1
9,Jan 9 2023 12:20PM,254569,10,ISDIN Corporation,,,21

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jan 9 2023 2:05PM,254584,10,Yusen – 3D Matrix,1,,
1,Jan 9 2023 1:57PM,254583,10,ISDIN Corporation,12,,
2,Jan 9 2023 1:57PM,254581,10,ISDIN Corporation,12,,
3,Jan 9 2023 1:53PM,254580,10,ISDIN Corporation,4,,
4,Jan 9 2023 1:53PM,254579,10,Emerginnova,1,,
5,Jan 9 2023 1:49PM,254578,19,Eli Lilly and Company,1,,
6,Jan 9 2023 1:27PM,254577,10,"Citieffe, Inc.",,1,
7,Jan 9 2023 12:55PM,254572,10,"Methapharm, Inc.",6,,
8,Jan 9 2023 12:32PM,254571,10,Yusen – 3D Matrix,1,,
9,Jan 9 2023 12:20PM,254569,10,ISDIN Corporation,21,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jan 9 2023 2:05PM,254584,10,Yusen – 3D Matrix,1,,
1,Jan 9 2023 1:57PM,254583,10,ISDIN Corporation,12,,
2,Jan 9 2023 1:57PM,254581,10,ISDIN Corporation,12,,
3,Jan 9 2023 1:53PM,254580,10,ISDIN Corporation,4,,
4,Jan 9 2023 1:53PM,254579,10,Emerginnova,1,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jan 9 2023 2:05PM,254584,10,Yusen – 3D Matrix,1.0,NaN,NaN
1,Jan 9 2023 1:57PM,254583,10,ISDIN Corporation,12.0,NaN,NaN
2,Jan 9 2023 1:57PM,254581,10,ISDIN Corporation,12.0,NaN,NaN
3,Jan 9 2023 1:53PM,254580,10,ISDIN Corporation,4.0,NaN,NaN
4,Jan 9 2023 1:53PM,254579,10,Emerginnova,1.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jan 9 2023 2:05PM,254584,10,Yusen – 3D Matrix,1.0,0.0,0.0
1,Jan 9 2023 1:57PM,254583,10,ISDIN Corporation,12.0,0.0,0.0
2,Jan 9 2023 1:57PM,254581,10,ISDIN Corporation,12.0,0.0,0.0
3,Jan 9 2023 1:53PM,254580,10,ISDIN Corporation,4.0,0.0,0.0
4,Jan 9 2023 1:53PM,254579,10,Emerginnova,1.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         4072950      72.0        3.0       13.0
15          509129      54.0       22.0        0.0
19         1272736      46.0        8.0        0.0
20          509120       2.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  4072950      72.0        3.0       13.0
1        15   509129      54.0       22.0        0.0
2        19  1272736      46.0        8.0        0.0
3        20   509120       2.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      72.0        3.0       13.0
1        15      54.0       22.0        0.0
2        19      46.0        8.0        0.0
3        20       2.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse     Status  Value
0        10   Released   72.0
1        15   Released   54.0
2        19   Released   46.0
3        20   Released    2.0
4        10  Executing    3.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10    15    19   20
Status
Completed  13.0   0.0   0.0  0.0
Executing   3.0  22.0   8.0  0.0
Released   72.0  54.0  46.0  2.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10    15    19   20
0          Completed  13.0   0.0   0.0  0.0
1          Executing   3.0  22.0   8.0  0.0
2           Released  72.0  54.0  46.0  2.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10    15    19   20
0  Completed  13.0   0.0   0.0  0.0
1  Executing   3.0  22.0   8.0  0.0
2   Released  72.0  54.0  46.0  2.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()