# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Oct 26 2022 2:46PM,249458,19,8695854,Paragon BioTeck,Executing
1,Oct 26 2022 2:40PM,249457,10,0086118566,ISDIN Corporation,Released
2,Oct 26 2022 2:40PM,249457,10,0086118568,ISDIN Corporation,Released
3,Oct 26 2022 2:40PM,249457,10,0086118570,ISDIN Corporation,Released
4,Oct 26 2022 2:40PM,249457,10,0086118571,ISDIN Corporation,Released
5,Oct 26 2022 2:40PM,249457,10,0086118572,ISDIN Corporation,Released
6,Oct 26 2022 2:40PM,249457,10,0086118569,ISDIN Corporation,Released
7,Oct 26 2022 2:40PM,249457,10,0086118567,ISDIN Corporation,Released
8,Oct 26 2022 2:40PM,249457,10,0086118589,ISDIN Corporation,Released
9,Oct 26 2022 2:40PM,249457,10,0086118590,ISDIN Corporation,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
10  249451       Released          1
11  249453       Released          8
12  249454       Released          3
13  249457       Released         16
14  249458      Executing          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
249451                NaN        NaN       1.0
249453                NaN        NaN       8.0
249454                NaN        NaN       3.0
249457                NaN        NaN      16.0
249458                NaN        1.0       NaN

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
249382                0.0        0.0       1.0
249400                0.0       18.0       5.0
249407                0.0        0.0       1.0
249408                0.0        0.0       1.0
249418                0.0        0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
249382                  0          0         1
249400                  0         18         5
249407                  0          0         1
249408                  0          0         1
249418                  0          0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               249382          0          0         1
1               249400          0         18         5
2               249407          0          0         1
3               249408          0          0         1
4               249418          0          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               249382                            1
1               249400                  18        5
2               249407                            1
3               249408                            1
4               249418                            1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse             Customer
0   Oct 26 2022  2:46PM  249458        19      Paragon BioTeck
1   Oct 26 2022  2:40PM  249457        10    ISDIN Corporation
17  Oct 26 2022  2:10PM  249454        10    ISDIN Corporation
20  Oct 26 2022  1:51PM  249453        10    ISDIN Corporation
28  Oct 26 2022  1:23PM  249451        21    NBTY Global, Inc.
29  Oct 26 2022  1:20PM  249450        19  AdvaGen Pharma, Ltd
66  Oct 26 2022  1:07PM  249447        19     SD Head USA, LLC
67  Oct 26 2022 10:38AM  249418        12     SD Head USA, LLC
68  Oct 26 2022 10:22AM  249408        22    NBTY Global, Inc.
69  Oct 26 2022 10:20AM  249407        21    NBTY Global, Inc.

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Oct 26 2022 2:46PM,249458,19,Paragon BioTeck,,1,
1,Oct 26 2022 2:40PM,249457,10,ISDIN Corporation,,,16
2,Oct 26 2022 2:10PM,249454,10,ISDIN Corporation,,,3
3,Oct 26 2022 1:51PM,249453,10,ISDIN Corporation,,,8
4,Oct 26 2022 1:23PM,249451,21,"NBTY Global, Inc.",,,1
5,Oct 26 2022 1:20PM,249450,19,"AdvaGen Pharma, Ltd",2,22,13
6,Oct 26 2022 1:07PM,249447,19,"SD Head USA, LLC",,,1
7,Oct 26 2022 10:38AM,249418,12,"SD Head USA, LLC",,,1
8,Oct 26 2022 10:22AM,249408,22,"NBTY Global, Inc.",,,1
9,Oct 26 2022 10:20AM,249407,21,"NBTY Global, Inc.",,,1

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Oct 26 2022 2:46PM,249458,19,Paragon BioTeck,,1,
1,Oct 26 2022 2:40PM,249457,10,ISDIN Corporation,16,,
2,Oct 26 2022 2:10PM,249454,10,ISDIN Corporation,3,,
3,Oct 26 2022 1:51PM,249453,10,ISDIN Corporation,8,,
4,Oct 26 2022 1:23PM,249451,21,"NBTY Global, Inc.",1,,
5,Oct 26 2022 1:20PM,249450,19,"AdvaGen Pharma, Ltd",13,22,2
6,Oct 26 2022 1:07PM,249447,19,"SD Head USA, LLC",1,,
7,Oct 26 2022 10:38AM,249418,12,"SD Head USA, LLC",1,,
8,Oct 26 2022 10:22AM,249408,22,"NBTY Global, Inc.",1,,
9,Oct 26 2022 10:20AM,249407,21,"NBTY Global, Inc.",1,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Oct 26 2022 2:46PM,249458,19,Paragon BioTeck,,1,
1,Oct 26 2022 2:40PM,249457,10,ISDIN Corporation,16,,
2,Oct 26 2022 2:10PM,249454,10,ISDIN Corporation,3,,
3,Oct 26 2022 1:51PM,249453,10,ISDIN Corporation,8,,
4,Oct 26 2022 1:23PM,249451,21,"NBTY Global, Inc.",1,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Oct 26 2022 2:46PM,249458,19,Paragon BioTeck,NaN,1.0,NaN
1,Oct 26 2022 2:40PM,249457,10,ISDIN Corporation,16.0,NaN,NaN
2,Oct 26 2022 2:10PM,249454,10,ISDIN Corporation,3.0,NaN,NaN
3,Oct 26 2022 1:51PM,249453,10,ISDIN Corporation,8.0,NaN,NaN
4,Oct 26 2022 1:23PM,249451,21,"NBTY Global, Inc.",1.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Oct 26 2022 2:46PM,249458,19,Paragon BioTeck,0.0,1.0,0.0
1,Oct 26 2022 2:40PM,249457,10,ISDIN Corporation,16.0,0.0,0.0
2,Oct 26 2022 2:10PM,249454,10,ISDIN Corporation,3.0,0.0,0.0
3,Oct 26 2022 1:51PM,249453,10,ISDIN Corporation,8.0,0.0,0.0
4,Oct 26 2022 1:23PM,249451,21,"NBTY Global, Inc.",1.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

               id  Released  Executing  Completed
Warehouse
10         997764      32.0       18.0        0.0
12         249418       1.0        0.0        0.0
19         997737      15.0       23.0        2.0
21         498858       2.0        0.0        0.0
22         249408       1.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse      id  Released  Executing  Completed
0        10  997764      32.0       18.0        0.0
1        12  249418       1.0        0.0        0.0
2        19  997737      15.0       23.0        2.0
3        21  498858       2.0        0.0        0.0
4        22  249408       1.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      32.0       18.0        0.0
1        12       1.0        0.0        0.0
2        19      15.0       23.0        2.0
3        21       2.0        0.0        0.0
4        22       1.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   32.0
1        12  Released    1.0
2        19  Released   15.0
3        21  Released    2.0
4        22  Released    1.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10   12    19   21   22
Status
Completed   0.0  0.0   2.0  0.0  0.0
Executing  18.0  0.0  23.0  0.0  0.0
Released   32.0  1.0  15.0  2.0  1.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10   12    19   21   22
0          Completed   0.0  0.0   2.0  0.0  0.0
1          Executing  18.0  0.0  23.0  0.0  0.0
2           Released  32.0  1.0  15.0  2.0  1.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10   12    19   21   22
0  Completed   0.0  0.0   2.0  0.0  0.0
1  Executing  18.0  0.0  23.0  0.0  0.0
2   Released  32.0  1.0  15.0  2.0  1.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()