# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Aug 1 2022 12:36PM,243159,19,ACG-2102490801,ACG North America LLC,Released
1,Aug 1 2022 12:35PM,243158,10,MSP212702,"Methapharm, Inc.",Released
2,Aug 1 2022 12:35PM,243158,10,MSP212704,"Methapharm, Inc.",Released
3,Aug 1 2022 12:35PM,243158,10,MSP212705,"Methapharm, Inc.",Released
4,Aug 1 2022 12:35PM,243158,10,MSP212706,"Methapharm, Inc.",Released
5,Aug 1 2022 12:35PM,243158,10,MSP212707,"Methapharm, Inc.",Released
6,Aug 1 2022 12:10PM,243157,19,8347656,"Innogenix, LLC",Released
7,Aug 1 2022 12:10PM,243157,19,8347657,"Innogenix, LLC",Released
8,Aug 1 2022 12:10PM,243157,19,8347660,"Innogenix, LLC",Released
9,Aug 1 2022 12:10PM,243157,19,8347661,"Innogenix, LLC",Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
40  243154       Released         19
41  243155       Released          4
42  243157       Released         24
43  243158       Released          5
44  243159       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
243154                NaN        1.0      19.0
243155                NaN        NaN       4.0
243157                NaN        NaN      24.0
243158                NaN        NaN       5.0
243159                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
243085                0.0        0.0       1.0
243091                0.0        0.0       1.0
243101                0.0        0.0       1.0
243108               13.0       18.0       1.0
243110                0.0        0.0       3.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
243085                  0          0         1
243091                  0          0         1
243101                  0          0         1
243108                 13         18         1
243110                  0          0         3

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               243085          0          0         1
1               243091          0          0         1
2               243101          0          0         1
3               243108         13         18         1
4               243110          0          0         3

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               243085                            1
1               243091                            1
2               243101                            1
3               243108        13        18        1
4               243110                            3

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                    Date      id Warehouse                            Customer
0    Aug  1 2022 12:36PM  243159        19               ACG North America LLC
1    Aug  1 2022 12:35PM  243158        10                    Methapharm, Inc.
6    Aug  1 2022 12:10PM  243157        19                      Innogenix, LLC
30   Aug  1 2022 11:45AM  243155        16      Sartorius Bioprocess Solutions
33   Aug  1 2022 11:45AM  243155        16  Sartorius Lab Products and Service
34   Aug  1 2022 11:40AM  243149        10                             Bio-PRF
41   Aug  1 2022 11:38AM  243148        10                    Eywa Pharma Inc.
64   Aug  1 2022 11:35AM  243154        15               Alliance Pharma, Inc.
84   Aug  1 2022 11:30AM  243153        10                   ISDIN Corporation
113  Aug  1 2022 11:29AM  243152        19                 AdvaGen Pharma, Ltd

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Aug 1 2022 12:36PM,243159,19,ACG North America LLC,,,1
1,Aug 1 2022 12:35PM,243158,10,"Methapharm, Inc.",,,5
2,Aug 1 2022 12:10PM,243157,19,"Innogenix, LLC",,,24
3,Aug 1 2022 11:45AM,243155,16,Sartorius Bioprocess Solutions,,,4
4,Aug 1 2022 11:45AM,243155,16,Sartorius Lab Products and Service,,,4
5,Aug 1 2022 11:40AM,243149,10,Bio-PRF,,,7
6,Aug 1 2022 11:38AM,243148,10,Eywa Pharma Inc.,,,23
7,Aug 1 2022 11:35AM,243154,15,"Alliance Pharma, Inc.",,1,19
8,Aug 1 2022 11:30AM,243153,10,ISDIN Corporation,,,29
9,Aug 1 2022 11:29AM,243152,19,"AdvaGen Pharma, Ltd",,,2

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 1 2022 12:36PM,243159,19,ACG North America LLC,1,,
1,Aug 1 2022 12:35PM,243158,10,"Methapharm, Inc.",5,,
2,Aug 1 2022 12:10PM,243157,19,"Innogenix, LLC",24,,
3,Aug 1 2022 11:45AM,243155,16,Sartorius Bioprocess Solutions,4,,
4,Aug 1 2022 11:45AM,243155,16,Sartorius Lab Products and Service,4,,
5,Aug 1 2022 11:40AM,243149,10,Bio-PRF,7,,
6,Aug 1 2022 11:38AM,243148,10,Eywa Pharma Inc.,23,,
7,Aug 1 2022 11:35AM,243154,15,"Alliance Pharma, Inc.",19,1,
8,Aug 1 2022 11:30AM,243153,10,ISDIN Corporation,29,,
9,Aug 1 2022 11:29AM,243152,19,"AdvaGen Pharma, Ltd",2,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 1 2022 12:36PM,243159,19,ACG North America LLC,1,,
1,Aug 1 2022 12:35PM,243158,10,"Methapharm, Inc.",5,,
2,Aug 1 2022 12:10PM,243157,19,"Innogenix, LLC",24,,
3,Aug 1 2022 11:45AM,243155,16,Sartorius Bioprocess Solutions,4,,
4,Aug 1 2022 11:45AM,243155,16,Sartorius Lab Products and Service,4,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 1 2022 12:36PM,243159,19,ACG North America LLC,1.0,NaN,NaN
1,Aug 1 2022 12:35PM,243158,10,"Methapharm, Inc.",5.0,NaN,NaN
2,Aug 1 2022 12:10PM,243157,19,"Innogenix, LLC",24.0,NaN,NaN
3,Aug 1 2022 11:45AM,243155,16,Sartorius Bioprocess Solutions,4.0,NaN,NaN
4,Aug 1 2022 11:45AM,243155,16,Sartorius Lab Products and Service,4.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Aug 1 2022 12:36PM,243159,19,ACG North America LLC,1.0,0.0,0.0
1,Aug 1 2022 12:35PM,243158,10,"Methapharm, Inc.",5.0,0.0,0.0
2,Aug 1 2022 12:10PM,243157,19,"Innogenix, LLC",24.0,0.0,0.0
3,Aug 1 2022 11:45AM,243155,16,Sartorius Bioprocess Solutions,4.0,0.0,0.0
4,Aug 1 2022 11:45AM,243155,16,Sartorius Lab Products and Service,4.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         4376398     354.0        6.0       30.0
15          729421      46.0        2.0        0.0
16          729433      10.0        0.0        0.0
19         1945119      31.0       19.0       13.0
20         1215569      55.0        1.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  4376398     354.0        6.0       30.0
1        15   729421      46.0        2.0        0.0
2        16   729433      10.0        0.0        0.0
3        19  1945119      31.0       19.0       13.0
4        20  1215569      55.0        1.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10     354.0        6.0       30.0
1        15      46.0        2.0        0.0
2        16      10.0        0.0        0.0
3        19      31.0       19.0       13.0
4        20      55.0        1.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released  354.0
1        15  Released   46.0
2        16  Released   10.0
3        19  Released   31.0
4        20  Released   55.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse     10    15    16    19    20
Status
Completed   30.0   0.0   0.0  13.0   0.0
Executing    6.0   2.0   0.0  19.0   1.0
Released   354.0  46.0  10.0  31.0  55.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status     10    15    16    19    20
0          Completed   30.0   0.0   0.0  13.0   0.0
1          Executing    6.0   2.0   0.0  19.0   1.0
2           Released  354.0  46.0  10.0  31.0  55.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status     10    15    16    19    20
0  Completed   30.0   0.0   0.0  13.0   0.0
1  Executing    6.0   2.0   0.0  19.0   1.0
2   Released  354.0  46.0  10.0  31.0  55.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()