# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Jul 13 2022 8:42AM,241727,10,0085867981,ISDIN Corporation,Released
1,Jul 13 2022 8:42AM,241727,10,0085868051,ISDIN Corporation,Released
2,Jul 13 2022 8:42AM,241727,10,0085868060,ISDIN Corporation,Released
3,Jul 13 2022 8:42AM,241727,10,0085868083,ISDIN Corporation,Released
4,Jul 13 2022 8:42AM,241727,10,0085868135,ISDIN Corporation,Released
5,Jul 13 2022 8:42AM,241727,10,0085868136,ISDIN Corporation,Released
6,Jul 13 2022 8:42AM,241727,10,0085868144,ISDIN Corporation,Released
7,Jul 13 2022 8:42AM,241727,10,0085868153,ISDIN Corporation,Released
8,Jul 13 2022 8:42AM,241727,10,0085868180,ISDIN Corporation,Released
9,Jul 13 2022 8:42AM,241727,10,0085868181,ISDIN Corporation,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
41  241723       Released         11
42  241724       Released         11
43  241726       Released          1
44  241727       Released         14
45  241728       Released          6

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
241723                NaN        NaN      11.0
241724                NaN        NaN      11.0
241726                NaN        NaN       1.0
241727                NaN        NaN      14.0
241728                NaN        NaN       6.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
241604                0.0        0.0      22.0
241623                0.0        1.0       0.0
241635                0.0        1.0      10.0
241644                0.0        0.0       1.0
241648                0.0        0.0       5.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
241604                  0          0        22
241623                  0          1         0
241635                  0          1        10
241644                  0          0         1
241648                  0          0         5

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               241604          0          0        22
1               241623          0          1         0
2               241635          0          1        10
3               241644          0          0         1
4               241648          0          0         5

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               241604                           22
1               241623                   1
2               241635                   1       10
3               241644                            1
4               241648                            5

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                            Customer
0   Jul 13 2022  8:42AM  241727        10                   ISDIN Corporation
14  Jul 13 2022  8:42AM  241728        10                    Methapharm, Inc.
20  Jul 13 2022  8:37AM  241724        10                    Methapharm, Inc.
31  Jul 13 2022  8:37AM  241726        16                     SHL Pharma, LLC
32  Jul 13 2022  8:30AM  241699        10       Nextsource Biotechnology, LLC
37  Jul 13 2022  8:30AM  241702        10                         Emerginnova
41  Jul 13 2022  8:30AM  241714        10                       Livs Products
42  Jul 13 2022  8:30AM  241708        10               TherapeuticsMD Retain
43  Jul 13 2022  8:25AM  241723        16      Sartorius Bioprocess Solutions
47  Jul 13 2022  8:25AM  241723        16  Sartorius Lab Products and Service

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Jul 13 2022 8:42AM,241727,10,ISDIN Corporation,,,14
1,Jul 13 2022 8:42AM,241728,10,"Methapharm, Inc.",,,6
2,Jul 13 2022 8:37AM,241724,10,"Methapharm, Inc.",,,11
3,Jul 13 2022 8:37AM,241726,16,"SHL Pharma, LLC",,,1
4,Jul 13 2022 8:30AM,241699,10,"Nextsource Biotechnology, LLC",,,5
5,Jul 13 2022 8:30AM,241702,10,Emerginnova,,,4
6,Jul 13 2022 8:30AM,241714,10,Livs Products,,,1
7,Jul 13 2022 8:30AM,241708,10,TherapeuticsMD Retain,,,1
8,Jul 13 2022 8:25AM,241723,16,Sartorius Bioprocess Solutions,,,11
9,Jul 13 2022 8:25AM,241723,16,Sartorius Lab Products and Service,,,11

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jul 13 2022 8:42AM,241727,10,ISDIN Corporation,14,,
1,Jul 13 2022 8:42AM,241728,10,"Methapharm, Inc.",6,,
2,Jul 13 2022 8:37AM,241724,10,"Methapharm, Inc.",11,,
3,Jul 13 2022 8:37AM,241726,16,"SHL Pharma, LLC",1,,
4,Jul 13 2022 8:30AM,241699,10,"Nextsource Biotechnology, LLC",5,,
5,Jul 13 2022 8:30AM,241702,10,Emerginnova,4,,
6,Jul 13 2022 8:30AM,241714,10,Livs Products,1,,
7,Jul 13 2022 8:30AM,241708,10,TherapeuticsMD Retain,1,,
8,Jul 13 2022 8:25AM,241723,16,Sartorius Bioprocess Solutions,11,,
9,Jul 13 2022 8:25AM,241723,16,Sartorius Lab Products and Service,11,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jul 13 2022 8:42AM,241727,10,ISDIN Corporation,14,,
1,Jul 13 2022 8:42AM,241728,10,"Methapharm, Inc.",6,,
2,Jul 13 2022 8:37AM,241724,10,"Methapharm, Inc.",11,,
3,Jul 13 2022 8:37AM,241726,16,"SHL Pharma, LLC",1,,
4,Jul 13 2022 8:30AM,241699,10,"Nextsource Biotechnology, LLC",5,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jul 13 2022 8:42AM,241727,10,ISDIN Corporation,14.0,NaN,NaN
1,Jul 13 2022 8:42AM,241728,10,"Methapharm, Inc.",6.0,NaN,NaN
2,Jul 13 2022 8:37AM,241724,10,"Methapharm, Inc.",11.0,NaN,NaN
3,Jul 13 2022 8:37AM,241726,16,"SHL Pharma, LLC",1.0,NaN,NaN
4,Jul 13 2022 8:30AM,241699,10,"Nextsource Biotechnology, LLC",5.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jul 13 2022 8:42AM,241727,10,ISDIN Corporation,14.0,0.0,0.0
1,Jul 13 2022 8:42AM,241728,10,"Methapharm, Inc.",6.0,0.0,0.0
2,Jul 13 2022 8:37AM,241724,10,"Methapharm, Inc.",11.0,0.0,0.0
3,Jul 13 2022 8:37AM,241726,16,"SHL Pharma, LLC",1.0,0.0,0.0
4,Jul 13 2022 8:30AM,241699,10,"Nextsource Biotechnology, LLC",5.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         5800625     179.0        4.0        7.0
15          483313      42.0        0.0        0.0
16          725172      23.0        0.0        0.0
18          241669       0.0        1.0        0.0
19          966800      33.0        1.0        0.0
20          966713      40.0        5.0       11.0
21          966759       4.0        0.0        0.0
22          241623       0.0        1.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  5800625     179.0        4.0        7.0
1        15   483313      42.0        0.0        0.0
2        16   725172      23.0        0.0        0.0
3        18   241669       0.0        1.0        0.0
4        19   966800      33.0        1.0        0.0
5        20   966713      40.0        5.0       11.0
6        21   966759       4.0        0.0        0.0
7        22   241623       0.0        1.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10     179.0        4.0        7.0
1        15      42.0        0.0        0.0
2        16      23.0        0.0        0.0
3        18       0.0        1.0        0.0
4        19      33.0        1.0        0.0
5        20      40.0        5.0       11.0
6        21       4.0        0.0        0.0
7        22       0.0        1.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released  179.0
1        15  Released   42.0
2        16  Released   23.0
3        18  Released    0.0
4        19  Released   33.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse     10    15    16   18    19    20   21   22
Status
Completed    7.0   0.0   0.0  0.0   0.0  11.0  0.0  0.0
Executing    4.0   0.0   0.0  1.0   1.0   5.0  0.0  1.0
Released   179.0  42.0  23.0  0.0  33.0  40.0  4.0  0.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status     10    15    16   18    19    20   21   22
0          Completed    7.0   0.0   0.0  0.0   0.0  11.0  0.0  0.0
1          Executing    4.0   0.0   0.0  1.0   1.0   5.0  0.0  1.0
2           Released  179.0  42.0  23.0  0.0  33.0  40.0  4.0  0.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status     10    15    16   18    19    20   21   22
0  Completed    7.0   0.0   0.0  0.0   0.0  11.0  0.0  0.0
1  Executing    4.0   0.0   0.0  1.0   1.0   5.0  0.0  1.0
2   Released  179.0  42.0  23.0  0.0  33.0  40.0  4.0  0.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()