# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Oct 18 2022 2:09PM,248887,10,0086086558,ISDIN Corporation,Released
1,Oct 18 2022 2:06PM,248885,12,HH8195,Hush Hush,Executing
2,Oct 18 2022 2:02PM,248883,10,0086086547,ISDIN Corporation,Released
3,Oct 18 2022 2:02PM,248883,10,0086086550,ISDIN Corporation,Released
4,Oct 18 2022 2:02PM,248883,10,0086086565,ISDIN Corporation,Released
5,Oct 18 2022 2:02PM,248883,10,0086086564,ISDIN Corporation,Released
6,Oct 18 2022 2:02PM,248883,10,0086086579,ISDIN Corporation,Released
7,Oct 18 2022 2:02PM,248883,10,0086086578,ISDIN Corporation,Released
8,Oct 18 2022 2:02PM,248883,10,0086086580,ISDIN Corporation,Released
9,Oct 18 2022 2:02PM,248883,10,0086086591,ISDIN Corporation,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
27  248880       Released          1
28  248883       Released         14
29  248884       Released          1
30  248885      Executing          1
31  248887       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
248880                NaN        NaN       1.0
248883                NaN        NaN      14.0
248884                NaN        NaN       1.0
248885                NaN        1.0       NaN
248887                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
248813                0.0        0.0       1.0
248836               13.0       27.0       5.0
248837                0.0        0.0      37.0
248845                0.0        0.0       3.0
248846                0.0        0.0      18.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
248813                  0          0         1
248836                 13         27         5
248837                  0          0        37
248845                  0          0         3
248846                  0          0        18

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               248813          0          0         1
1               248836         13         27         5
2               248837          0          0        37
3               248845          0          0         3
4               248846          0          0        18

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               248813                            1
1               248836        13        27        5
2               248837                           37
3               248845                            3
4               248846                           18

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse              Customer
0   Oct 18 2022  2:09PM  248887        10     ISDIN Corporation
1   Oct 18 2022  2:06PM  248885        12             Hush Hush
2   Oct 18 2022  2:02PM  248883        10     ISDIN Corporation
16  Oct 18 2022  2:00PM  248884        10        Citieffe, Inc.
17  Oct 18 2022  1:32PM  248880        10        Citieffe, Inc.
18  Oct 18 2022  1:20PM  248879        10  Ivaoes Animal Health
19  Oct 18 2022  1:10PM  248878        10      Methapharm, Inc.
20  Oct 18 2022  1:08PM  248877        10               Bio-PRF
24  Oct 18 2022 12:53PM  248876        22     NBTY Global, Inc.
25  Oct 18 2022 12:49PM  248875        10      Methapharm, Inc.

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Oct 18 2022 2:09PM,248887,10,ISDIN Corporation,,,1
1,Oct 18 2022 2:06PM,248885,12,Hush Hush,,1,
2,Oct 18 2022 2:02PM,248883,10,ISDIN Corporation,,,14
3,Oct 18 2022 2:00PM,248884,10,"Citieffe, Inc.",,,1
4,Oct 18 2022 1:32PM,248880,10,"Citieffe, Inc.",,,1
5,Oct 18 2022 1:20PM,248879,10,Ivaoes Animal Health,,,1
6,Oct 18 2022 1:10PM,248878,10,"Methapharm, Inc.",,,1
7,Oct 18 2022 1:08PM,248877,10,Bio-PRF,,,4
8,Oct 18 2022 12:53PM,248876,22,"NBTY Global, Inc.",,,1
9,Oct 18 2022 12:49PM,248875,10,"Methapharm, Inc.",,,1

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Oct 18 2022 2:09PM,248887,10,ISDIN Corporation,1,,
1,Oct 18 2022 2:06PM,248885,12,Hush Hush,,1,
2,Oct 18 2022 2:02PM,248883,10,ISDIN Corporation,14,,
3,Oct 18 2022 2:00PM,248884,10,"Citieffe, Inc.",1,,
4,Oct 18 2022 1:32PM,248880,10,"Citieffe, Inc.",1,,
5,Oct 18 2022 1:20PM,248879,10,Ivaoes Animal Health,1,,
6,Oct 18 2022 1:10PM,248878,10,"Methapharm, Inc.",1,,
7,Oct 18 2022 1:08PM,248877,10,Bio-PRF,4,,
8,Oct 18 2022 12:53PM,248876,22,"NBTY Global, Inc.",1,,
9,Oct 18 2022 12:49PM,248875,10,"Methapharm, Inc.",1,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Oct 18 2022 2:09PM,248887,10,ISDIN Corporation,1,,
1,Oct 18 2022 2:06PM,248885,12,Hush Hush,,1,
2,Oct 18 2022 2:02PM,248883,10,ISDIN Corporation,14,,
3,Oct 18 2022 2:00PM,248884,10,"Citieffe, Inc.",1,,
4,Oct 18 2022 1:32PM,248880,10,"Citieffe, Inc.",1,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Oct 18 2022 2:09PM,248887,10,ISDIN Corporation,1.0,NaN,NaN
1,Oct 18 2022 2:06PM,248885,12,Hush Hush,NaN,1.0,NaN
2,Oct 18 2022 2:02PM,248883,10,ISDIN Corporation,14.0,NaN,NaN
3,Oct 18 2022 2:00PM,248884,10,"Citieffe, Inc.",1.0,NaN,NaN
4,Oct 18 2022 1:32PM,248880,10,"Citieffe, Inc.",1.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Oct 18 2022 2:09PM,248887,10,ISDIN Corporation,1.0,0.0,0.0
1,Oct 18 2022 2:06PM,248885,12,Hush Hush,0.0,1.0,0.0
2,Oct 18 2022 2:02PM,248883,10,ISDIN Corporation,14.0,0.0,0.0
3,Oct 18 2022 2:00PM,248884,10,"Citieffe, Inc.",1.0,0.0,0.0
4,Oct 18 2022 1:32PM,248880,10,"Citieffe, Inc.",1.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         3484185      30.0       14.0        0.0
12          248885       0.0        1.0        0.0
15          995364      63.0       27.0       13.0
19         1493165      18.0       16.0        0.0
22          746604       3.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  3484185      30.0       14.0        0.0
1        12   248885       0.0        1.0        0.0
2        15   995364      63.0       27.0       13.0
3        19  1493165      18.0       16.0        0.0
4        22   746604       3.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      30.0       14.0        0.0
1        12       0.0        1.0        0.0
2        15      63.0       27.0       13.0
3        19      18.0       16.0        0.0
4        22       3.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   30.0
1        12  Released    0.0
2        15  Released   63.0
3        19  Released   18.0
4        22  Released    3.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10   12    15    19   22
Status
Completed   0.0  0.0  13.0   0.0  0.0
Executing  14.0  1.0  27.0  16.0  0.0
Released   30.0  0.0  63.0  18.0  3.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10   12    15    19   22
0          Completed   0.0  0.0  13.0   0.0  0.0
1          Executing  14.0  1.0  27.0  16.0  0.0
2           Released  30.0  0.0  63.0  18.0  3.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10   12    15    19   22
0  Completed   0.0  0.0  13.0   0.0  0.0
1  Executing  14.0  1.0  27.0  16.0  0.0
2   Released  30.0  0.0  63.0  18.0  3.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()