# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Jul 25 2022 10:43AM,242636,15,ALI018369767,"Alliance Pharma, Inc.",Released
1,Jul 25 2022 10:40AM,242635,22,621920,"NBTY Global, Inc.",Released
2,Jul 25 2022 10:39AM,242632,15,30009611,"Alliance Pharma, Inc.",Released
3,Jul 25 2022 10:39AM,242632,15,30009612,"Alliance Pharma, Inc.",Released
4,Jul 25 2022 10:39AM,242632,15,30009613,"Alliance Pharma, Inc.",Released
5,Jul 25 2022 10:39AM,242632,15,30009614,"Alliance Pharma, Inc.",Released
6,Jul 25 2022 10:39AM,242632,15,30009615,"Alliance Pharma, Inc.",Released
7,Jul 25 2022 10:39AM,242632,15,30009618,"Alliance Pharma, Inc.",Released
8,Jul 25 2022 10:39AM,242632,15,30009617,"Alliance Pharma, Inc.",Released
9,Jul 25 2022 10:39AM,242632,15,30009619,"Alliance Pharma, Inc.",Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
27  242632       Released         63
28  242633       Released          2
29  242634       Released          1
30  242635       Released          1
31  242636       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Executing  Released
id
242632                NaN      63.0
242633                NaN       2.0
242634                NaN       1.0
242635                NaN       1.0
242636                NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Executing  Released
id
242576                0.0       1.0
242579                0.0       1.0
242580                0.0       1.0
242583                0.0       1.0
242591                2.0       3.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

Column Completed does not exist yet

ShipmentStatus  Executing  Released
id
242576                  0         1
242579                  0         1
242580                  0         1
242583                  0         1
242591                  2         3

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Executing  Released
0               242576          0         1
1               242579          0         1
2               242580          0         1
3               242583          0         1
4               242591          2         3

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

Column Completed does not exist yet

ShipmentStatus      id Executing Released
0               242576                  1
1               242579                  1
2               242580                  1
3               242583                  1
4               242591         2        3

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                        Customer
0   Jul 25 2022 10:43AM  242636        15           Alliance Pharma, Inc.
1   Jul 25 2022 10:40AM  242635        22               NBTY Global, Inc.
2   Jul 25 2022 10:39AM  242632        15           Alliance Pharma, Inc.
65  Jul 25 2022 10:38AM  242634        16  Sartorius Bioprocess Solutions
66  Jul 25 2022 10:37AM  242633        19           ACG North America LLC
68  Jul 25 2022 10:25AM  242631        21               NBTY Global, Inc.
69  Jul 25 2022 10:23AM  242630        21               NBTY Global, Inc.
70  Jul 25 2022 10:21AM  242627        10               ISDIN Corporation
80  Jul 25 2022 10:06AM  242616        10                Eywa Pharma Inc.
93  Jul 25 2022 10:03AM  242625        10                Eywa Pharma Inc.

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Executing,Released
0,Jul 25 2022 10:43AM,242636,15,"Alliance Pharma, Inc.",,1
1,Jul 25 2022 10:40AM,242635,22,"NBTY Global, Inc.",,1
2,Jul 25 2022 10:39AM,242632,15,"Alliance Pharma, Inc.",,63
3,Jul 25 2022 10:38AM,242634,16,Sartorius Bioprocess Solutions,,1
4,Jul 25 2022 10:37AM,242633,19,ACG North America LLC,,2
5,Jul 25 2022 10:25AM,242631,21,"NBTY Global, Inc.",1,
6,Jul 25 2022 10:23AM,242630,21,"NBTY Global, Inc.",,1
7,Jul 25 2022 10:21AM,242627,10,ISDIN Corporation,,10
8,Jul 25 2022 10:06AM,242616,10,Eywa Pharma Inc.,,13
9,Jul 25 2022 10:03AM,242625,10,Eywa Pharma Inc.,,1

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing
0,Jul 25 2022 10:43AM,242636,15,"Alliance Pharma, Inc.",1,
1,Jul 25 2022 10:40AM,242635,22,"NBTY Global, Inc.",1,
2,Jul 25 2022 10:39AM,242632,15,"Alliance Pharma, Inc.",63,
3,Jul 25 2022 10:38AM,242634,16,Sartorius Bioprocess Solutions,1,
4,Jul 25 2022 10:37AM,242633,19,ACG North America LLC,2,
5,Jul 25 2022 10:25AM,242631,21,"NBTY Global, Inc.",,1
6,Jul 25 2022 10:23AM,242630,21,"NBTY Global, Inc.",1,
7,Jul 25 2022 10:21AM,242627,10,ISDIN Corporation,10,
8,Jul 25 2022 10:06AM,242616,10,Eywa Pharma Inc.,13,
9,Jul 25 2022 10:03AM,242625,10,Eywa Pharma Inc.,1,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing
0,Jul 25 2022 10:43AM,242636,15,"Alliance Pharma, Inc.",1,
1,Jul 25 2022 10:40AM,242635,22,"NBTY Global, Inc.",1,
2,Jul 25 2022 10:39AM,242632,15,"Alliance Pharma, Inc.",63,
3,Jul 25 2022 10:38AM,242634,16,Sartorius Bioprocess Solutions,1,
4,Jul 25 2022 10:37AM,242633,19,ACG North America LLC,2,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

Column Completed does not exist yet

,Date,id,Warehouse,Customer,Released,Executing
0,Jul 25 2022 10:43AM,242636,15,"Alliance Pharma, Inc.",1.0,NaN
1,Jul 25 2022 10:40AM,242635,22,"NBTY Global, Inc.",1.0,NaN
2,Jul 25 2022 10:39AM,242632,15,"Alliance Pharma, Inc.",63.0,NaN
3,Jul 25 2022 10:38AM,242634,16,Sartorius Bioprocess Solutions,1.0,NaN
4,Jul 25 2022 10:37AM,242633,19,ACG North America LLC,2.0,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing
0,Jul 25 2022 10:43AM,242636,15,"Alliance Pharma, Inc.",1.0,0.0
1,Jul 25 2022 10:40AM,242635,22,"NBTY Global, Inc.",1.0,0.0
2,Jul 25 2022 10:39AM,242632,15,"Alliance Pharma, Inc.",63.0,0.0
3,Jul 25 2022 10:38AM,242634,16,Sartorius Bioprocess Solutions,1.0,0.0
4,Jul 25 2022 10:37AM,242633,19,ACG North America LLC,2.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing
Warehouse
10         4366905     243.0       72.0
15          485268      64.0        0.0
16          485255       1.0        1.0
19          727842       6.0        2.0
21          485261       1.0        1.0
22          485255       1.0        1.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing
0        10  4366905     243.0       72.0
1        15   485268      64.0        0.0
2        16   485255       1.0        1.0
3        19   727842       6.0        2.0
4        21   485261       1.0        1.0
5        22   485255       1.0        1.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing
0        10     243.0       72.0
1        15      64.0        0.0
2        16       1.0        1.0
3        19       6.0        2.0
4        21       1.0        1.0
5        22       1.0        1.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released  243.0
1        15  Released   64.0
2        16  Released    1.0
3        19  Released    6.0
4        21  Released    1.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse     10    15   16   19   21   22
Status
Executing   72.0   0.0  1.0  2.0  1.0  1.0
Released   243.0  64.0  1.0  6.0  1.0  1.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status     10    15   16   19   21   22
0          Executing   72.0   0.0  1.0  2.0  1.0  1.0
1           Released  243.0  64.0  1.0  6.0  1.0  1.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status     10    15   16   19   21   22
0  Executing   72.0   0.0  1.0  2.0  1.0  1.0
1   Released  243.0  64.0  1.0  6.0  1.0  1.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()