# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Jul 8 2022 12:18PM,241418,12,U0960,"Uniderm USA, Inc",Released
1,Jul 8 2022 12:17PM,241417,10,WT5231 Out,"Senseonics, Incorporated",Released
2,Jul 8 2022 12:06PM,241414,10,21154906,"ClearSpec, LLC",Released
3,Jul 8 2022 12:06PM,241413,19,ACG-2102490544,ACG North America LLC,Released
4,Jul 8 2022 12:06PM,241413,19,ACG-2102490545,ACG North America LLC,Released
5,Jul 8 2022 12:03PM,241412,10,MSP211976,"Methapharm, Inc.",Released
6,Jul 8 2022 12:03PM,241412,10,MSP211978,"Methapharm, Inc.",Released
7,Jul 8 2022 12:03PM,241412,10,MSP211979,"Methapharm, Inc.",Released
8,Jul 8 2022 12:03PM,241412,10,MSP211980,"Methapharm, Inc.",Released
9,Jul 8 2022 12:03PM,241412,10,MSP211981,"Methapharm, Inc.",Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
46  241412       Released         18
47  241413       Released          2
48  241414       Released          1
49  241417       Released          1
50  241418       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
241412                NaN        NaN      18.0
241413                NaN        NaN       2.0
241414                NaN        NaN       1.0
241417                NaN        NaN       1.0
241418                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
241326                0.0        0.0       1.0
241343                0.0        1.0       0.0
241345                0.0        1.0       0.0
241347                0.0        0.0       1.0
241348                0.0        0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
241326                  0          0         1
241343                  0          1         0
241345                  0          1         0
241347                  0          0         1
241348                  0          0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               241326          0          0         1
1               241343          0          1         0
2               241345          0          1         0
3               241347          0          0         1
4               241348          0          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               241326                            1
1               241343                   1
2               241345                   1
3               241347                            1
4               241348                            1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                  Customer
0   Jul  8 2022 12:18PM  241418        12          Uniderm USA, Inc
1   Jul  8 2022 12:17PM  241417        10  Senseonics, Incorporated
2   Jul  8 2022 12:06PM  241414        10            ClearSpec, LLC
3   Jul  8 2022 12:06PM  241413        19     ACG North America LLC
5   Jul  8 2022 12:03PM  241412        10          Methapharm, Inc.
23  Jul  8 2022 12:00PM  241411        12          Uniderm USA, Inc
24  Jul  8 2022 11:55AM  241410        19     ACG North America LLC
25  Jul  8 2022 11:48AM  241409        10         ISDIN Corporation
49  Jul  8 2022 11:44AM  241408        10             Livs Products
50  Jul  8 2022 11:37AM  241405        10             Livs Products

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Jul 8 2022 12:18PM,241418,12,"Uniderm USA, Inc",,,1
1,Jul 8 2022 12:17PM,241417,10,"Senseonics, Incorporated",,,1
2,Jul 8 2022 12:06PM,241414,10,"ClearSpec, LLC",,,1
3,Jul 8 2022 12:06PM,241413,19,ACG North America LLC,,,2
4,Jul 8 2022 12:03PM,241412,10,"Methapharm, Inc.",,,18
5,Jul 8 2022 12:00PM,241411,12,"Uniderm USA, Inc",,,1
6,Jul 8 2022 11:55AM,241410,19,ACG North America LLC,,,1
7,Jul 8 2022 11:48AM,241409,10,ISDIN Corporation,,,24
8,Jul 8 2022 11:44AM,241408,10,Livs Products,,,1
9,Jul 8 2022 11:37AM,241405,10,Livs Products,,,1

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jul 8 2022 12:18PM,241418,12,"Uniderm USA, Inc",1,,
1,Jul 8 2022 12:17PM,241417,10,"Senseonics, Incorporated",1,,
2,Jul 8 2022 12:06PM,241414,10,"ClearSpec, LLC",1,,
3,Jul 8 2022 12:06PM,241413,19,ACG North America LLC,2,,
4,Jul 8 2022 12:03PM,241412,10,"Methapharm, Inc.",18,,
5,Jul 8 2022 12:00PM,241411,12,"Uniderm USA, Inc",1,,
6,Jul 8 2022 11:55AM,241410,19,ACG North America LLC,1,,
7,Jul 8 2022 11:48AM,241409,10,ISDIN Corporation,24,,
8,Jul 8 2022 11:44AM,241408,10,Livs Products,1,,
9,Jul 8 2022 11:37AM,241405,10,Livs Products,1,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jul 8 2022 12:18PM,241418,12,"Uniderm USA, Inc",1,,
1,Jul 8 2022 12:17PM,241417,10,"Senseonics, Incorporated",1,,
2,Jul 8 2022 12:06PM,241414,10,"ClearSpec, LLC",1,,
3,Jul 8 2022 12:06PM,241413,19,ACG North America LLC,2,,
4,Jul 8 2022 12:03PM,241412,10,"Methapharm, Inc.",18,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jul 8 2022 12:18PM,241418,12,"Uniderm USA, Inc",1.0,NaN,NaN
1,Jul 8 2022 12:17PM,241417,10,"Senseonics, Incorporated",1.0,NaN,NaN
2,Jul 8 2022 12:06PM,241414,10,"ClearSpec, LLC",1.0,NaN,NaN
3,Jul 8 2022 12:06PM,241413,19,ACG North America LLC,2.0,NaN,NaN
4,Jul 8 2022 12:03PM,241412,10,"Methapharm, Inc.",18.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jul 8 2022 12:18PM,241418,12,"Uniderm USA, Inc",1.0,0.0,0.0
1,Jul 8 2022 12:17PM,241417,10,"Senseonics, Incorporated",1.0,0.0,0.0
2,Jul 8 2022 12:06PM,241414,10,"ClearSpec, LLC",1.0,0.0,0.0
3,Jul 8 2022 12:06PM,241413,19,ACG North America LLC,2.0,0.0,0.0
4,Jul 8 2022 12:03PM,241412,10,"Methapharm, Inc.",18.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         6517490     200.0       28.0        0.0
102         241326       1.0        0.0        0.0
12          724209      12.0        0.0        0.0
15          482757     139.0       40.0        0.0
16          241373       0.0        1.0        0.0
18          241351       0.0        1.0        0.0
19          724189       3.0        9.0       16.0
20          724163      22.0        7.0        0.0
21          965383       2.0        2.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  6517490     200.0       28.0        0.0
1       102   241326       1.0        0.0        0.0
2        12   724209      12.0        0.0        0.0
3        15   482757     139.0       40.0        0.0
4        16   241373       0.0        1.0        0.0
5        18   241351       0.0        1.0        0.0
6        19   724189       3.0        9.0       16.0
7        20   724163      22.0        7.0        0.0
8        21   965383       2.0        2.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10     200.0       28.0        0.0
1       102       1.0        0.0        0.0
2        12      12.0        0.0        0.0
3        15     139.0       40.0        0.0
4        16       0.0        1.0        0.0
5        18       0.0        1.0        0.0
6        19       3.0        9.0       16.0
7        20      22.0        7.0        0.0
8        21       2.0        2.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released  200.0
1       102  Released    1.0
2        12  Released   12.0
3        15  Released  139.0
4        16  Released    0.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse     10  102    12     15   16   18    19    20   21
Status
Completed    0.0  0.0   0.0    0.0  0.0  0.0  16.0   0.0  0.0
Executing   28.0  0.0   0.0   40.0  1.0  1.0   9.0   7.0  2.0
Released   200.0  1.0  12.0  139.0  0.0  0.0   3.0  22.0  2.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status     10  102    12     15   16   18    19    20   21
0          Completed    0.0  0.0   0.0    0.0  0.0  0.0  16.0   0.0  0.0
1          Executing   28.0  0.0   0.0   40.0  1.0  1.0   9.0   7.0  2.0
2           Released  200.0  1.0  12.0  139.0  0.0  0.0   3.0  22.0  2.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status     10  102    12     15   16   18    19    20   21
0  Completed    0.0  0.0   0.0    0.0  0.0  0.0  16.0   0.0  0.0
1  Executing   28.0  0.0   0.0   40.0  1.0  1.0   9.0   7.0  2.0
2   Released  200.0  1.0  12.0  139.0  0.0  0.0   3.0  22.0  2.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()