# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Sep 20 2022 8:30AM,246758,10,8547053,"Snap Medical Industries, LLC",Executing
1,Sep 20 2022 8:30AM,246758,10,8547054,"Snap Medical Industries, LLC",Executing
2,Sep 20 2022 8:30AM,246758,10,8547055,"Snap Medical Industries, LLC",Executing
3,Sep 20 2022 8:30AM,246758,10,8547056,"Snap Medical Industries, LLC",Released
4,Sep 20 2022 8:30AM,246758,10,8547057,"Snap Medical Industries, LLC",Executing
5,Sep 20 2022 8:30AM,246758,10,8547058,"Snap Medical Industries, LLC",Executing
6,Sep 20 2022 8:30AM,246762,10,6987616,Bio-PRF,Released
7,Sep 19 2022 4:26PM,246767,16,SSNA_Trans18_Week1,Sartorius Stedim North America,Released
8,Sep 19 2022 4:22PM,246766,16,SSNA_Trans17_Week1,Sartorius Stedim North America,Released
9,Sep 19 2022 4:18PM,246765,12,U1028,"Uniderm USA, Inc",Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
22  246762       Released          1
23  246763       Released          1
24  246765       Released          6
25  246766       Released          1
26  246767       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
246762                NaN        NaN       1.0
246763                NaN        NaN       1.0
246765                NaN        NaN       6.0
246766                NaN        NaN       1.0
246767                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
246701                0.0        1.0       1.0
246708                5.0        3.0       1.0
246712                0.0       34.0      30.0
246716                0.0        0.0       1.0
246724                0.0        0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
246701                  0          1         1
246708                  5          3         1
246712                  0         34        30
246716                  0          0         1
246724                  0          0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               246701          0          1         1
1               246708          5          3         1
2               246712          0         34        30
3               246716          0          0         1
4               246724          0          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               246701                   1        1
1               246708         5         3        1
2               246712                  34       30
3               246716                            1
4               246724                            1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                          Customer
0   Sep 20 2022  8:30AM  246758        10      Snap Medical Industries, LLC
6   Sep 20 2022  8:30AM  246762        10                           Bio-PRF
7   Sep 19 2022  4:26PM  246767        16  Sartorius Stedim North America
8   Sep 19 2022  4:22PM  246766        16  Sartorius Stedim North America
9   Sep 19 2022  4:18PM  246765        12                  Uniderm USA, Inc
15  Sep 19 2022  4:02PM  246763        16  Sartorius Stedim North America
16  Sep 19 2022  3:59PM  246716        21                 NBTY Global, Inc.
17  Sep 19 2022  3:50PM  246761        20          ACI Healthcare USA, Inc.
28  Sep 19 2022  3:44PM  246760        16  Sartorius Stedim North America
29  Sep 19 2022  3:29PM  246751        20                    Exact-Rx, Inc.

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Sep 20 2022 8:30AM,246758,10,"Snap Medical Industries, LLC",,5,1
1,Sep 20 2022 8:30AM,246762,10,Bio-PRF,,,1
2,Sep 19 2022 4:26PM,246767,16,Sartorius Stedim North America,,,1
3,Sep 19 2022 4:22PM,246766,16,Sartorius Stedim North America,,,1
4,Sep 19 2022 4:18PM,246765,12,"Uniderm USA, Inc",,,6
5,Sep 19 2022 4:02PM,246763,16,Sartorius Stedim North America,,,1
6,Sep 19 2022 3:59PM,246716,21,"NBTY Global, Inc.",,,1
7,Sep 19 2022 3:50PM,246761,20,"ACI Healthcare USA, Inc.",,,11
8,Sep 19 2022 3:44PM,246760,16,Sartorius Stedim North America,,,1
9,Sep 19 2022 3:29PM,246751,20,"Exact-Rx, Inc.",,,2

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Sep 20 2022 8:30AM,246758,10,"Snap Medical Industries, LLC",1,5,
1,Sep 20 2022 8:30AM,246762,10,Bio-PRF,1,,
2,Sep 19 2022 4:26PM,246767,16,Sartorius Stedim North America,1,,
3,Sep 19 2022 4:22PM,246766,16,Sartorius Stedim North America,1,,
4,Sep 19 2022 4:18PM,246765,12,"Uniderm USA, Inc",6,,
5,Sep 19 2022 4:02PM,246763,16,Sartorius Stedim North America,1,,
6,Sep 19 2022 3:59PM,246716,21,"NBTY Global, Inc.",1,,
7,Sep 19 2022 3:50PM,246761,20,"ACI Healthcare USA, Inc.",11,,
8,Sep 19 2022 3:44PM,246760,16,Sartorius Stedim North America,1,,
9,Sep 19 2022 3:29PM,246751,20,"Exact-Rx, Inc.",2,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Sep 20 2022 8:30AM,246758,10,"Snap Medical Industries, LLC",1,5,
1,Sep 20 2022 8:30AM,246762,10,Bio-PRF,1,,
2,Sep 19 2022 4:26PM,246767,16,Sartorius Stedim North America,1,,
3,Sep 19 2022 4:22PM,246766,16,Sartorius Stedim North America,1,,
4,Sep 19 2022 4:18PM,246765,12,"Uniderm USA, Inc",6,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Sep 20 2022 8:30AM,246758,10,"Snap Medical Industries, LLC",1.0,5.0,NaN
1,Sep 20 2022 8:30AM,246762,10,Bio-PRF,1.0,NaN,NaN
2,Sep 19 2022 4:26PM,246767,16,Sartorius Stedim North America,1.0,NaN,NaN
3,Sep 19 2022 4:22PM,246766,16,Sartorius Stedim North America,1.0,NaN,NaN
4,Sep 19 2022 4:18PM,246765,12,"Uniderm USA, Inc",6.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Sep 20 2022 8:30AM,246758,10,"Snap Medical Industries, LLC",1.0,5.0,0.0
1,Sep 20 2022 8:30AM,246762,10,Bio-PRF,1.0,0.0,0.0
2,Sep 19 2022 4:26PM,246767,16,Sartorius Stedim North America,1.0,0.0,0.0
3,Sep 19 2022 4:22PM,246766,16,Sartorius Stedim North America,1.0,0.0,0.0
4,Sep 19 2022 4:18PM,246765,12,"Uniderm USA, Inc",6.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10          986929       4.0        9.0        5.0
12          246765       6.0        0.0        0.0
15          246712      30.0       34.0        0.0
16         2467544       7.0        3.0        0.0
19          246744       1.0        0.0        0.0
20          987002      22.0        0.0        0.0
21          246716       1.0        0.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10   986929       4.0        9.0        5.0
1        12   246765       6.0        0.0        0.0
2        15   246712      30.0       34.0        0.0
3        16  2467544       7.0        3.0        0.0
4        19   246744       1.0        0.0        0.0
5        20   987002      22.0        0.0        0.0
6        21   246716       1.0        0.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10       4.0        9.0        5.0
1        12       6.0        0.0        0.0
2        15      30.0       34.0        0.0
3        16       7.0        3.0        0.0
4        19       1.0        0.0        0.0
5        20      22.0        0.0        0.0
6        21       1.0        0.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released    4.0
1        12  Released    6.0
2        15  Released   30.0
3        16  Released    7.0
4        19  Released    1.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse   10   12    15   16   19    20   21
Status
Completed  5.0  0.0   0.0  0.0  0.0   0.0  0.0
Executing  9.0  0.0  34.0  3.0  0.0   0.0  0.0
Released   4.0  6.0  30.0  7.0  1.0  22.0  1.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status   10   12    15   16   19    20   21
0          Completed  5.0  0.0   0.0  0.0  0.0   0.0  0.0
1          Executing  9.0  0.0  34.0  3.0  0.0   0.0  0.0
2           Released  4.0  6.0  30.0  7.0  1.0  22.0  1.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status   10   12    15   16   19    20   21
0  Completed  5.0  0.0   0.0  0.0  0.0   0.0  0.0
1  Executing  9.0  0.0  34.0  3.0  0.0   0.0  0.0
2   Released  4.0  6.0  30.0  7.0  1.0  22.0  1.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()