# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Sep 27 2022 9:42AM,247358,20,ALU0008016,Alumier Labs Inc.,Released
1,Sep 27 2022 9:42AM,247359,19,8579419,"Omnivium Pharmaceuticals, LLC",Released
2,Sep 27 2022 9:40AM,247357,12,HH09262022,Hush Hush,Released
3,Sep 27 2022 9:36AM,247355,15,8575944,"Brookfield Pharmaceuticals, LLC",Released
4,Sep 27 2022 9:36AM,247355,15,8575945,"Brookfield Pharmaceuticals, LLC",Released
5,Sep 27 2022 9:36AM,247355,15,8575946,"Brookfield Pharmaceuticals, LLC",Released
6,Sep 27 2022 9:36AM,247355,15,8575947,"Brookfield Pharmaceuticals, LLC",Released
7,Sep 27 2022 9:36AM,247355,15,8575948,"Brookfield Pharmaceuticals, LLC",Released
8,Sep 27 2022 9:36AM,247355,15,8575949,"Brookfield Pharmaceuticals, LLC",Released
9,Sep 27 2022 9:36AM,247355,15,8575950,"Brookfield Pharmaceuticals, LLC",Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
27  247354       Released         17
28  247355       Released         39
29  247357       Released          1
30  247358       Released          1
31  247359       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
247354                NaN        NaN      17.0
247355                NaN        NaN      39.0
247357                NaN        NaN       1.0
247358                NaN        NaN       1.0
247359                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
247258                0.0        0.0       1.0
247260                1.0        0.0       5.0
247262               18.0       15.0      18.0
247293                0.0        0.0       1.0
247294                0.0        0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
247258                  0          0         1
247260                  1          0         5
247262                 18         15        18
247293                  0          0         1
247294                  0          0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               247258          0          0         1
1               247260          1          0         5
2               247262         18         15        18
3               247293          0          0         1
4               247294          0          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               247258                            1
1               247260         1                  5
2               247262        18        15       18
3               247293                            1
4               247294                            1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                    Date      id Warehouse                         Customer
0    Sep 27 2022  9:42AM  247358        20                Alumier Labs Inc.
1    Sep 27 2022  9:42AM  247359        19    Omnivium Pharmaceuticals, LLC
2    Sep 27 2022  9:40AM  247357        12                        Hush Hush
3    Sep 27 2022  9:36AM  247355        15  Brookfield Pharmaceuticals, LLC
42   Sep 27 2022  9:35AM  247348        10                ISDIN Corporation
97   Sep 27 2022  9:32AM  247354        12                        Hush Hush
114  Sep 27 2022  9:24AM  247352        15            Alliance Pharma, Inc.
181  Sep 27 2022  9:23AM  247353        20                   Exact-Rx, Inc.
187  Sep 27 2022  8:51AM  247345        10         Senseonics, Incorporated
188  Sep 27 2022  8:47AM  247344        10                ISDIN Corporation

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Sep 27 2022 9:42AM,247358,20,Alumier Labs Inc.,,,1
1,Sep 27 2022 9:42AM,247359,19,"Omnivium Pharmaceuticals, LLC",,,1
2,Sep 27 2022 9:40AM,247357,12,Hush Hush,,,1
3,Sep 27 2022 9:36AM,247355,15,"Brookfield Pharmaceuticals, LLC",,,39
4,Sep 27 2022 9:35AM,247348,10,ISDIN Corporation,,,55
5,Sep 27 2022 9:32AM,247354,12,Hush Hush,,,17
6,Sep 27 2022 9:24AM,247352,15,"Alliance Pharma, Inc.",,,67
7,Sep 27 2022 9:23AM,247353,20,"Exact-Rx, Inc.",,,6
8,Sep 27 2022 8:51AM,247345,10,"Senseonics, Incorporated",,,1
9,Sep 27 2022 8:47AM,247344,10,ISDIN Corporation,,,14

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Sep 27 2022 9:42AM,247358,20,Alumier Labs Inc.,1,,
1,Sep 27 2022 9:42AM,247359,19,"Omnivium Pharmaceuticals, LLC",1,,
2,Sep 27 2022 9:40AM,247357,12,Hush Hush,1,,
3,Sep 27 2022 9:36AM,247355,15,"Brookfield Pharmaceuticals, LLC",39,,
4,Sep 27 2022 9:35AM,247348,10,ISDIN Corporation,55,,
5,Sep 27 2022 9:32AM,247354,12,Hush Hush,17,,
6,Sep 27 2022 9:24AM,247352,15,"Alliance Pharma, Inc.",67,,
7,Sep 27 2022 9:23AM,247353,20,"Exact-Rx, Inc.",6,,
8,Sep 27 2022 8:51AM,247345,10,"Senseonics, Incorporated",1,,
9,Sep 27 2022 8:47AM,247344,10,ISDIN Corporation,14,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Sep 27 2022 9:42AM,247358,20,Alumier Labs Inc.,1,,
1,Sep 27 2022 9:42AM,247359,19,"Omnivium Pharmaceuticals, LLC",1,,
2,Sep 27 2022 9:40AM,247357,12,Hush Hush,1,,
3,Sep 27 2022 9:36AM,247355,15,"Brookfield Pharmaceuticals, LLC",39,,
4,Sep 27 2022 9:35AM,247348,10,ISDIN Corporation,55,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Sep 27 2022 9:42AM,247358,20,Alumier Labs Inc.,1.0,NaN,NaN
1,Sep 27 2022 9:42AM,247359,19,"Omnivium Pharmaceuticals, LLC",1.0,NaN,NaN
2,Sep 27 2022 9:40AM,247357,12,Hush Hush,1.0,NaN,NaN
3,Sep 27 2022 9:36AM,247355,15,"Brookfield Pharmaceuticals, LLC",39.0,NaN,NaN
4,Sep 27 2022 9:35AM,247348,10,ISDIN Corporation,55.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Sep 27 2022 9:42AM,247358,20,Alumier Labs Inc.,1.0,0.0,0.0
1,Sep 27 2022 9:42AM,247359,19,"Omnivium Pharmaceuticals, LLC",1.0,0.0,0.0
2,Sep 27 2022 9:40AM,247357,12,Hush Hush,1.0,0.0,0.0
3,Sep 27 2022 9:36AM,247355,15,"Brookfield Pharmaceuticals, LLC",39.0,0.0,0.0
4,Sep 27 2022 9:35AM,247348,10,ISDIN Corporation,55.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         2473232      90.0       19.0        2.0
12          494711      18.0        0.0        0.0
15          494707     106.0        0.0        0.0
19         1236553      42.0        7.0       17.0
20         1483944      27.0       16.0       18.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  2473232      90.0       19.0        2.0
1        12   494711      18.0        0.0        0.0
2        15   494707     106.0        0.0        0.0
3        19  1236553      42.0        7.0       17.0
4        20  1483944      27.0       16.0       18.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      90.0       19.0        2.0
1        12      18.0        0.0        0.0
2        15     106.0        0.0        0.0
3        19      42.0        7.0       17.0
4        20      27.0       16.0       18.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   90.0
1        12  Released   18.0
2        15  Released  106.0
3        19  Released   42.0
4        20  Released   27.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10    12     15    19    20
Status
Completed   2.0   0.0    0.0  17.0  18.0
Executing  19.0   0.0    0.0   7.0  16.0
Released   90.0  18.0  106.0  42.0  27.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10    12     15    19    20
0          Completed   2.0   0.0    0.0  17.0  18.0
1          Executing  19.0   0.0    0.0   7.0  16.0
2           Released  90.0  18.0  106.0  42.0  27.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10    12     15    19    20
0  Completed   2.0   0.0    0.0  17.0  18.0
1  Executing  19.0   0.0    0.0   7.0  16.0
2   Released  90.0  18.0  106.0  42.0  27.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()