# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "UID=WOODFIELD\\jmeza@wdsrx.com;"
                        "PWD=Clavezaza2022;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Sep 26 2022 1:51PM,247294,10,CTF0011429,"Citieffe, Inc.",Released
1,Sep 26 2022 1:41PM,247293,20,8576147,"Adare Pharmaceuticals, Inc.",Released
2,Sep 26 2022 1:39PM,247292,10,SONSB0001953,"Nextsource Biotechnology, LLC",Released
3,Sep 26 2022 1:39PM,247292,10,SONSB0001954,"Nextsource Biotechnology, LLC",Released
4,Sep 26 2022 1:21PM,247288,16,8565074,Sartorius Lab Products and Service,Released
5,Sep 26 2022 1:19PM,247282,10,CLI00389.1,"CLINUVEL, Inc.",Released
6,Sep 26 2022 1:12PM,247283,10,EYE42991,Eye Pharma Inc,Released
7,Sep 26 2022 1:12PM,247283,10,EYE42992,Eye Pharma Inc,Released
8,Sep 26 2022 1:11PM,247287,19,ADV80005911,"AdvaGen Pharma, Ltd",Executing
9,Sep 26 2022 1:10PM,247286,16,8560865,Sartorius Bioprocess Solutions,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
30  247287      Executing          1
31  247288       Released          1
32  247292       Released          2
33  247293       Released          1
34  247294       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
247287                NaN        1.0       NaN
247288                NaN        NaN       1.0
247292                NaN        NaN       2.0
247293                NaN        NaN       1.0
247294                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
247197                0.0        1.0       0.0
247219                0.0        9.0       6.0
247220                0.0        0.0       3.0
247223                0.0        0.0       8.0
247238                0.0        0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
247197                  0          1         0
247219                  0          9         6
247220                  0          0         3
247223                  0          0         8
247238                  0          0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               247197          0          1         0
1               247219          0          9         6
2               247220          0          0         3
3               247223          0          0         8
4               247238          0          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               247197                   1
1               247219                   9        6
2               247220                            3
3               247223                            8
4               247238                            1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                            Customer
0   Sep 26 2022  1:51PM  247294        10                      Citieffe, Inc.
1   Sep 26 2022  1:41PM  247293        20         Adare Pharmaceuticals, Inc.
2   Sep 26 2022  1:39PM  247292        10       Nextsource Biotechnology, LLC
4   Sep 26 2022  1:21PM  247288        16  Sartorius Lab Products and Service
5   Sep 26 2022  1:19PM  247282        10                      CLINUVEL, Inc.
6   Sep 26 2022  1:12PM  247283        10                      Eye Pharma Inc
8   Sep 26 2022  1:11PM  247287        19                 AdvaGen Pharma, Ltd
9   Sep 26 2022  1:10PM  247286        16      Sartorius Bioprocess Solutions
12  Sep 26 2022  1:07PM  247285        10                         Emerginnova
15  Sep 26 2022  1:00PM  247284        10            Senseonics, Incorporated

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Sep 26 2022 1:51PM,247294,10,"Citieffe, Inc.",,,1
1,Sep 26 2022 1:41PM,247293,20,"Adare Pharmaceuticals, Inc.",,,1
2,Sep 26 2022 1:39PM,247292,10,"Nextsource Biotechnology, LLC",,,2
3,Sep 26 2022 1:21PM,247288,16,Sartorius Lab Products and Service,,,1
4,Sep 26 2022 1:19PM,247282,10,"CLINUVEL, Inc.",,,1
5,Sep 26 2022 1:12PM,247283,10,Eye Pharma Inc,,,2
6,Sep 26 2022 1:11PM,247287,19,"AdvaGen Pharma, Ltd",,1,
7,Sep 26 2022 1:10PM,247286,16,Sartorius Bioprocess Solutions,,,3
8,Sep 26 2022 1:07PM,247285,10,Emerginnova,,,3
9,Sep 26 2022 1:00PM,247284,10,"Senseonics, Incorporated",,,2

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Sep 26 2022 1:51PM,247294,10,"Citieffe, Inc.",1,,
1,Sep 26 2022 1:41PM,247293,20,"Adare Pharmaceuticals, Inc.",1,,
2,Sep 26 2022 1:39PM,247292,10,"Nextsource Biotechnology, LLC",2,,
3,Sep 26 2022 1:21PM,247288,16,Sartorius Lab Products and Service,1,,
4,Sep 26 2022 1:19PM,247282,10,"CLINUVEL, Inc.",1,,
5,Sep 26 2022 1:12PM,247283,10,Eye Pharma Inc,2,,
6,Sep 26 2022 1:11PM,247287,19,"AdvaGen Pharma, Ltd",,1,
7,Sep 26 2022 1:10PM,247286,16,Sartorius Bioprocess Solutions,3,,
8,Sep 26 2022 1:07PM,247285,10,Emerginnova,3,,
9,Sep 26 2022 1:00PM,247284,10,"Senseonics, Incorporated",2,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Sep 26 2022 1:51PM,247294,10,"Citieffe, Inc.",1,,
1,Sep 26 2022 1:41PM,247293,20,"Adare Pharmaceuticals, Inc.",1,,
2,Sep 26 2022 1:39PM,247292,10,"Nextsource Biotechnology, LLC",2,,
3,Sep 26 2022 1:21PM,247288,16,Sartorius Lab Products and Service,1,,
4,Sep 26 2022 1:19PM,247282,10,"CLINUVEL, Inc.",1,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Sep 26 2022 1:51PM,247294,10,"Citieffe, Inc.",1.0,NaN,NaN
1,Sep 26 2022 1:41PM,247293,20,"Adare Pharmaceuticals, Inc.",1.0,NaN,NaN
2,Sep 26 2022 1:39PM,247292,10,"Nextsource Biotechnology, LLC",2.0,NaN,NaN
3,Sep 26 2022 1:21PM,247288,16,Sartorius Lab Products and Service,1.0,NaN,NaN
4,Sep 26 2022 1:19PM,247282,10,"CLINUVEL, Inc.",1.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Sep 26 2022 1:51PM,247294,10,"Citieffe, Inc.",1.0,0.0,0.0
1,Sep 26 2022 1:41PM,247293,20,"Adare Pharmaceuticals, Inc.",1.0,0.0,0.0
2,Sep 26 2022 1:39PM,247292,10,"Nextsource Biotechnology, LLC",2.0,0.0,0.0
3,Sep 26 2022 1:21PM,247288,16,Sartorius Lab Products and Service,1.0,0.0,0.0
4,Sep 26 2022 1:19PM,247282,10,"CLINUVEL, Inc.",1.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         5192566      49.0       11.0        2.0
16          741812       5.0        0.0        0.0
19          741826       2.0        1.0        0.0
20          494555      46.0        6.0        0.0
21          494443       0.0        2.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  5192566      49.0       11.0        2.0
1        16   741812       5.0        0.0        0.0
2        19   741826       2.0        1.0        0.0
3        20   494555      46.0        6.0        0.0
4        21   494443       0.0        2.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10      49.0       11.0        2.0
1        16       5.0        0.0        0.0
2        19       2.0        1.0        0.0
3        20      46.0        6.0        0.0
4        21       0.0        2.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   49.0
1        16  Released    5.0
2        19  Released    2.0
3        20  Released   46.0
4        21  Released    0.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10   16   19    20   21
Status
Completed   2.0  0.0  0.0   0.0  0.0
Executing  11.0  0.0  1.0   6.0  2.0
Released   49.0  5.0  2.0  46.0  0.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10   16   19    20   21
0          Completed   2.0  0.0  0.0   0.0  0.0
1          Executing  11.0  0.0  1.0   6.0  2.0
2           Released  49.0  5.0  2.0  46.0  0.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10   16   19    20   21
0  Completed   2.0  0.0  0.0   0.0  0.0
1  Executing  11.0  0.0  1.0   6.0  2.0
2   Released  49.0  5.0  2.0  46.0  0.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()