# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Jun 2 2022 1:33PM,238673,20,SSNA-8096356,Sartorius Stedim North America,Released
1,Jun 2 2022 1:33PM,238672,10,8096359,Bio-PRF,Released
2,Jun 2 2022 1:29PM,238671,16,8096355,Sartorius Stedim Filters Inc.,Released
3,Jun 2 2022 1:22PM,238670,10,0085736886,ISDIN Corporation,Released
4,Jun 2 2022 1:22PM,238670,10,0085736947,ISDIN Corporation,Released
5,Jun 2 2022 1:22PM,238670,10,0085736980,ISDIN Corporation,Released
6,Jun 2 2022 1:22PM,238670,10,0085737006,ISDIN Corporation,Released
7,Jun 2 2022 1:22PM,238670,10,0085737015,ISDIN Corporation,Released
8,Jun 2 2022 1:22PM,238670,10,0085737026,ISDIN Corporation,Released
9,Jun 2 2022 1:22PM,238670,10,0085737014,ISDIN Corporation,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
49  238669       Released         11
50  238670       Released         12
51  238671       Released          1
52  238672       Released          1
53  238673       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Completed  Executing  Released
id
238669                NaN        NaN      11.0
238670                NaN        NaN      12.0
238671                NaN        NaN       1.0
238672                NaN        NaN       1.0
238673                NaN        NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
238556                0.0        0.0       2.0
238557                0.0        0.0       5.0
238578                4.0        1.0       9.0
238581                0.0        1.0       0.0
238597                0.0       21.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

ShipmentStatus  Completed  Executing  Released
id
238556                  0          0         2
238557                  0          0         5
238578                  4          1         9
238581                  0          1         0
238597                  0         21         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Completed  Executing  Released
0               238556          0          0         2
1               238557          0          0         5
2               238578          4          1         9
3               238581          0          1         0
4               238597          0         21         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

ShipmentStatus      id Completed Executing Released
0               238556                            2
1               238557                            5
2               238578         4         1        9
3               238581                   1
4               238597                  21        1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Completed    object
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                          Customer
0   Jun  2 2022  1:33PM  238673        20  Sartorius Stedim North America
1   Jun  2 2022  1:33PM  238672        10                           Bio-PRF
2   Jun  2 2022  1:29PM  238671        16     Sartorius Stedim Filters Inc.
3   Jun  2 2022  1:22PM  238670        10                 ISDIN Corporation
15  Jun  2 2022  1:13PM  238669        20          ACI Healthcare USA, Inc.
26  Jun  2 2022  1:09PM  238668        10                Beach Products Inc
40  Jun  2 2022  1:09PM  238667        20          ACI Healthcare USA, Inc.
49  Jun  2 2022  1:06PM  238666        10                  Methapharm, Inc.
57  Jun  2 2022  1:06PM  238665        10                  Methapharm, Inc.
62  Jun  2 2022  1:06PM  238664        10                  Methapharm, Inc.

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Completed,Executing,Released
0,Jun 2 2022 1:33PM,238673,20,Sartorius Stedim North America,,,1
1,Jun 2 2022 1:33PM,238672,10,Bio-PRF,,,1
2,Jun 2 2022 1:29PM,238671,16,Sartorius Stedim Filters Inc.,,,1
3,Jun 2 2022 1:22PM,238670,10,ISDIN Corporation,,,12
4,Jun 2 2022 1:13PM,238669,20,"ACI Healthcare USA, Inc.",,,11
5,Jun 2 2022 1:09PM,238668,10,Beach Products Inc,,,14
6,Jun 2 2022 1:09PM,238667,20,"ACI Healthcare USA, Inc.",,,9
7,Jun 2 2022 1:06PM,238666,10,"Methapharm, Inc.",,,8
8,Jun 2 2022 1:06PM,238665,10,"Methapharm, Inc.",,,5
9,Jun 2 2022 1:06PM,238664,10,"Methapharm, Inc.",,,25

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jun 2 2022 1:33PM,238673,20,Sartorius Stedim North America,1,,
1,Jun 2 2022 1:33PM,238672,10,Bio-PRF,1,,
2,Jun 2 2022 1:29PM,238671,16,Sartorius Stedim Filters Inc.,1,,
3,Jun 2 2022 1:22PM,238670,10,ISDIN Corporation,12,,
4,Jun 2 2022 1:13PM,238669,20,"ACI Healthcare USA, Inc.",11,,
5,Jun 2 2022 1:09PM,238668,10,Beach Products Inc,14,,
6,Jun 2 2022 1:09PM,238667,20,"ACI Healthcare USA, Inc.",9,,
7,Jun 2 2022 1:06PM,238666,10,"Methapharm, Inc.",8,,
8,Jun 2 2022 1:06PM,238665,10,"Methapharm, Inc.",5,,
9,Jun 2 2022 1:06PM,238664,10,"Methapharm, Inc.",25,,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jun 2 2022 1:33PM,238673,20,Sartorius Stedim North America,1,,
1,Jun 2 2022 1:33PM,238672,10,Bio-PRF,1,,
2,Jun 2 2022 1:29PM,238671,16,Sartorius Stedim Filters Inc.,1,,
3,Jun 2 2022 1:22PM,238670,10,ISDIN Corporation,12,,
4,Jun 2 2022 1:13PM,238669,20,"ACI Healthcare USA, Inc.",11,,

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jun 2 2022 1:33PM,238673,20,Sartorius Stedim North America,1.0,NaN,NaN
1,Jun 2 2022 1:33PM,238672,10,Bio-PRF,1.0,NaN,NaN
2,Jun 2 2022 1:29PM,238671,16,Sartorius Stedim Filters Inc.,1.0,NaN,NaN
3,Jun 2 2022 1:22PM,238670,10,ISDIN Corporation,12.0,NaN,NaN
4,Jun 2 2022 1:13PM,238669,20,"ACI Healthcare USA, Inc.",11.0,NaN,NaN

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing,Completed
0,Jun 2 2022 1:33PM,238673,20,Sartorius Stedim North America,1.0,0.0,0.0
1,Jun 2 2022 1:33PM,238672,10,Bio-PRF,1.0,0.0,0.0
2,Jun 2 2022 1:29PM,238671,16,Sartorius Stedim Filters Inc.,1.0,0.0,0.0
3,Jun 2 2022 1:22PM,238670,10,ISDIN Corporation,12.0,0.0,0.0
4,Jun 2 2022 1:13PM,238669,20,"ACI Healthcare USA, Inc.",11.0,0.0,0.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing  Completed
Warehouse
10         3579776     101.0       24.0        4.0
12         1431674      16.0        3.0        1.0
15         1431714      13.0       36.0       20.0
16          954608       3.0        1.0        0.0
19          715952      10.0        3.0        0.0
20         1670487      34.0        1.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing  Completed
0        10  3579776     101.0       24.0        4.0
1        12  1431674      16.0        3.0        1.0
2        15  1431714      13.0       36.0       20.0
3        16   954608       3.0        1.0        0.0
4        19   715952      10.0        3.0        0.0
5        20  1670487      34.0        1.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing  Completed
0        10     101.0       24.0        4.0
1        12      16.0        3.0        1.0
2        15      13.0       36.0       20.0
3        16       3.0        1.0        0.0
4        19      10.0        3.0        0.0
5        20      34.0        1.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released  101.0
1        12  Released   16.0
2        15  Released   13.0
3        16  Released    3.0
4        19  Released   10.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse     10    12    15   16    19    20
Status
Completed    4.0   1.0  20.0  0.0   0.0   0.0
Executing   24.0   3.0  36.0  1.0   3.0   1.0
Released   101.0  16.0  13.0  3.0  10.0  34.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status     10    12    15   16    19    20
0          Completed    4.0   1.0  20.0  0.0   0.0   0.0
1          Executing   24.0   3.0  36.0  1.0   3.0   1.0
2           Released  101.0  16.0  13.0  3.0  10.0  34.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status     10    12    15   16    19    20
0  Completed    4.0   1.0  20.0  0.0   0.0   0.0
1  Executing   24.0   3.0  36.0  1.0   3.0   1.0
2   Released  101.0  16.0  13.0  3.0  10.0  34.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()