# WAVES

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "Trusted_Connection=yes;")

### Query

In [3]:
df = pd.read_sql_query("SELECT CONVERT(varchar,w.releaseDate,100) Date, w.id, wa.name Warehouse, s.lookupCode Shipments, p.name Customer, ss.name ShipmentStatus\
    FROM datex_footprint.Waves w\
    JOIN datex_footprint.WaveStatuses ws\
        ON ws.id = w.statusId\
    JOIN datex_footprint.Warehouses wa\
        ON wa.id = w.warehouseId\
    JOIN datex_footprint.shipments s\
        ON s.waveId = w.id\
    JOIN datex_footprint.ShipmentOrderLookup sol\
        ON sol.shipmentId = s.id\
    JOIN datex_footprint.Orders o\
        ON o.id = sol.orderId\
    JOIN datex_footprint.Projects p\
        ON p.id = o.projectId\
    JOIN datex_footprint.ShipmentStatuses ss\
        ON ss.id = s.statusId\
    WHERE releaseDate > dateadd(day,-1,getdate())\
        AND w.statusId = 3\
    ORDER BY releaseDate DESC", cnxn)

# Create Waves Table Data

In [4]:
df.head(10)

,Date,id,Warehouse,Shipments,Customer,ShipmentStatus
0,Aug 4 2022 9:26AM,243436,10,SOTAH0000744,"Nextsource Biotechnology, LLC",Released
1,Aug 4 2022 9:25AM,243435,10,PRF-33779-BO,Bio-PRF,Released
2,Aug 4 2022 9:25AM,243435,10,PRF-34486,Bio-PRF,Released
3,Aug 4 2022 9:25AM,243435,10,PRF-34504,Bio-PRF,Released
4,Aug 4 2022 9:25AM,243435,10,PRF-34526,Bio-PRF,Released
5,Aug 4 2022 9:25AM,243435,10,PRF-34553,Bio-PRF,Released
6,Aug 4 2022 9:25AM,243435,10,PRF-34557,Bio-PRF,Released
7,Aug 4 2022 9:25AM,243435,10,PRF-34580,Bio-PRF,Released
8,Aug 4 2022 9:25AM,243435,10,PRF-34585,Bio-PRF,Released
9,Aug 4 2022 9:25AM,243435,10,PRF-34590,Bio-PRF,Released

In [5]:
# Count Shipments per Wave and Status
count_shipments_statusdf = df.groupby(['id', 'ShipmentStatus']).count()[['Shipments']]
count_shipments_statusdf.reset_index(inplace=True)
count_shipments_statusdf.tail()

        id ShipmentStatus  Shipments
18  243429      Executing          1
19  243433       Released         16
20  243434       Released          1
21  243435       Released         15
22  243436       Released          1

In [6]:
# Convert Statuses to Columns
shipment_pivot = count_shipments_statusdf.pivot(index='id', columns='ShipmentStatus', values='Shipments')
shipment_pivot.tail()

ShipmentStatus  Executing  Released
id
243429                1.0       NaN
243433                NaN      16.0
243434                NaN       1.0
243435                NaN      15.0
243436                NaN       1.0

In [7]:
# Convert NaN to 0
shipment_pivot = shipment_pivot.fillna(0)
shipment_pivot.head()

ShipmentStatus  Executing  Released
id
243355                2.0       1.0
243396                0.0       5.0
243403                8.0       5.0
243414                0.0       1.0
243415                0.0       1.0

In [8]:
# Convert Float to Int
try:
    shipment_pivot['Completed'] = shipment_pivot['Completed'].astype(int)
except:
    print('Column Completed does not exist yet')

try:
    shipment_pivot['Executing'] = shipment_pivot['Executing'].astype(int)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'] = shipment_pivot['Released'].astype(int)
except:
    print('Column Released does not exist yet')

shipment_pivot.head()

Column Completed does not exist yet

ShipmentStatus  Executing  Released
id
243355                  2         1
243396                  0         5
243403                  8         5
243414                  0         1
243415                  0         1

In [9]:
# Convert id index to a column
shipment_pivot.reset_index(inplace=True)
shipment_pivot.head()

ShipmentStatus      id  Executing  Released
0               243355          2         1
1               243396          0         5
2               243403          8         5
3               243414          0         1
4               243415          0         1

In [10]:
# Convert zeros to blanks. This also change the data type to String
try:
    shipment_pivot['Completed'].replace([0, ''], '', inplace=True)
except:
    print('Column Completed does not exist yet')
    
try:
    shipment_pivot['Executing'].replace([0, ''], '', inplace=True)
except:
    print('Column Executing does not exist yet')

try:
    shipment_pivot['Released'].replace([0, ''], '', inplace=True)
except:
    print('Column Released does not exist yet')
    
shipment_pivot.head()

Column Completed does not exist yet

ShipmentStatus      id Executing Released
0               243355         2        1
1               243396                  5
2               243403         8        5
3               243414                  1
4               243415                  1

In [11]:
shipment_pivot.dtypes

ShipmentStatus
id            int64
Executing    object
Released     object
dtype: object

In [12]:
# Change columns order
df = df[['Date', 'id', 'Warehouse', 'Customer']]

In [13]:
# Drops duplicates
df = df.drop_duplicates()

In [14]:
df.head(10)

                   Date      id Warehouse                        Customer
0   Aug  4 2022  9:26AM  243436        10   Nextsource Biotechnology, LLC
1   Aug  4 2022  9:25AM  243435        10                         Bio-PRF
16  Aug  4 2022  9:24AM  243434        12                       Hush Hush
17  Aug  4 2022  9:24AM  243433        12                       Hush Hush
33  Aug  4 2022  9:08AM  243429        20        ACI Healthcare USA, Inc.
34  Aug  4 2022  9:04AM  243420        20        ACI Healthcare USA, Inc.
35  Aug  4 2022  8:57AM  243428        16  Sartorius Bioprocess Solutions
37  Aug  4 2022  8:33AM  243425        10        Senseonics, Incorporated
39  Aug  4 2022  8:32AM  243424        10                Methapharm, Inc.
44  Aug  4 2022  8:32AM  243423        10                Methapharm, Inc.

In [15]:
# Merge df with pivot table
df2 = df.merge(shipment_pivot, left_on='id', right_on='id')
df2.head(10)

,Date,id,Warehouse,Customer,Executing,Released
0,Aug 4 2022 9:26AM,243436,10,"Nextsource Biotechnology, LLC",,1
1,Aug 4 2022 9:25AM,243435,10,Bio-PRF,,15
2,Aug 4 2022 9:24AM,243434,12,Hush Hush,,1
3,Aug 4 2022 9:24AM,243433,12,Hush Hush,,16
4,Aug 4 2022 9:08AM,243429,20,"ACI Healthcare USA, Inc.",1,
5,Aug 4 2022 9:04AM,243420,20,"ACI Healthcare USA, Inc.",,1
6,Aug 4 2022 8:57AM,243428,16,Sartorius Bioprocess Solutions,,2
7,Aug 4 2022 8:33AM,243425,10,"Senseonics, Incorporated",,2
8,Aug 4 2022 8:32AM,243424,10,"Methapharm, Inc.",,5
9,Aug 4 2022 8:32AM,243423,10,"Methapharm, Inc.",,1

In [16]:
wave_df = pd.DataFrame()
statuses = list(df2.columns)

# Reorder columns
if ('Released' in statuses) and ('Executing' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing', 'Completed']]
elif ('Released' in statuses) and ('Executing' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Executing']]
elif ('Released' in statuses) and ('Completed' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released', 'Completed']]
elif ('Released' in statuses):
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer', 'Released']]
else:
    wave_df = df2[['Date', 'id', 'Warehouse', 'Customer']]

In [17]:
wave_df.head(10)

,Date,id,Warehouse,Customer,Released,Executing
0,Aug 4 2022 9:26AM,243436,10,"Nextsource Biotechnology, LLC",1,
1,Aug 4 2022 9:25AM,243435,10,Bio-PRF,15,
2,Aug 4 2022 9:24AM,243434,12,Hush Hush,1,
3,Aug 4 2022 9:24AM,243433,12,Hush Hush,16,
4,Aug 4 2022 9:08AM,243429,20,"ACI Healthcare USA, Inc.",,1
5,Aug 4 2022 9:04AM,243420,20,"ACI Healthcare USA, Inc.",1,
6,Aug 4 2022 8:57AM,243428,16,Sartorius Bioprocess Solutions,2,
7,Aug 4 2022 8:33AM,243425,10,"Senseonics, Incorporated",2,
8,Aug 4 2022 8:32AM,243424,10,"Methapharm, Inc.",5,
9,Aug 4 2022 8:32AM,243423,10,"Methapharm, Inc.",1,

In [18]:
# Save Waves DF into json file
wave_df.to_json('data/waves.json')

# Warehouse Pie Chart Data

In [19]:
# Save df2 in df3
warehouse_df = wave_df
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing
0,Aug 4 2022 9:26AM,243436,10,"Nextsource Biotechnology, LLC",1,
1,Aug 4 2022 9:25AM,243435,10,Bio-PRF,15,
2,Aug 4 2022 9:24AM,243434,12,Hush Hush,1,
3,Aug 4 2022 9:24AM,243433,12,Hush Hush,16,
4,Aug 4 2022 9:08AM,243429,20,"ACI Healthcare USA, Inc.",,1

In [20]:
# Conver String to Float
try:
    warehouse_df['Released'] = pd.to_numeric(warehouse_df['Released'],errors='coerce')
except:
    print('Column Released does not exist yet')

try:
    warehouse_df['Executing'] = pd.to_numeric(warehouse_df['Executing'],errors='coerce')
except:
    print('Column Executing does not exist yet')

try:
    warehouse_df['Completed'] = pd.to_numeric(warehouse_df['Completed'],errors='coerce')
except:
    print('Column Completed does not exist yet')

warehouse_df.head()

Column Completed does not exist yet

,Date,id,Warehouse,Customer,Released,Executing
0,Aug 4 2022 9:26AM,243436,10,"Nextsource Biotechnology, LLC",1.0,NaN
1,Aug 4 2022 9:25AM,243435,10,Bio-PRF,15.0,NaN
2,Aug 4 2022 9:24AM,243434,12,Hush Hush,1.0,NaN
3,Aug 4 2022 9:24AM,243433,12,Hush Hush,16.0,NaN
4,Aug 4 2022 9:08AM,243429,20,"ACI Healthcare USA, Inc.",NaN,1.0

In [21]:
# Conver NaN to Zero
warehouse_df = warehouse_df.fillna(0)
warehouse_df.head()

,Date,id,Warehouse,Customer,Released,Executing
0,Aug 4 2022 9:26AM,243436,10,"Nextsource Biotechnology, LLC",1.0,0.0
1,Aug 4 2022 9:25AM,243435,10,Bio-PRF,15.0,0.0
2,Aug 4 2022 9:24AM,243434,12,Hush Hush,1.0,0.0
3,Aug 4 2022 9:24AM,243433,12,Hush Hush,16.0,0.0
4,Aug 4 2022 9:08AM,243429,20,"ACI Healthcare USA, Inc.",0.0,1.0

In [22]:
# Group by Warehouse
warehouse_df = warehouse_df.groupby(['Warehouse']).sum()
warehouse_df

                id  Released  Executing
Warehouse
10         1947376      43.0        0.0
12          486867      17.0        0.0
16          243428       2.0        0.0
19         1217025      43.0       19.0
20          730252       6.0        9.0
21          243414       1.0        0.0

In [23]:
# Reset Index
warehouse_df.reset_index(inplace=True)
warehouse_df

  Warehouse       id  Released  Executing
0        10  1947376      43.0        0.0
1        12   486867      17.0        0.0
2        16   243428       2.0        0.0
3        19  1217025      43.0       19.0
4        20   730252       6.0        9.0
5        21   243414       1.0        0.0

In [24]:
warehouses = list(warehouse_df.columns)
warehouse_df2 = pd.DataFrame()

if ('Released' in warehouses) and ('Executing' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing', 'Completed']]
elif ('Released' in warehouses) and ('Executing' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Executing']]
elif ('Released' in warehouses) and ('Completed' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released', 'Completed']]
elif ('Released' in warehouses):
    warehouse_df2 = warehouse_df[['Warehouse', 'Released']]
else:
    warehouse_df2 = warehouse_df[['Warehouse']]

warehouse_df2

  Warehouse  Released  Executing
0        10      43.0        0.0
1        12      17.0        0.0
2        16       2.0        0.0
3        19      43.0       19.0
4        20       6.0        9.0
5        21       1.0        0.0

In [25]:
warehouse_df2 = pd.melt(warehouse_df2, id_vars=["Warehouse"], 
                  var_name="Status", value_name="Value")
warehouse_df2.head()

  Warehouse    Status  Value
0        10  Released   43.0
1        12  Released   17.0
2        16  Released    2.0
3        19  Released   43.0
4        20  Released    6.0

In [26]:
warehouse_df3 = warehouse_df2.pivot(index ='Status', columns='Warehouse', values='Value')
warehouse_df3

Warehouse    10    12   16    19   20   21
Status
Executing   0.0   0.0  0.0  19.0  9.0  0.0
Released   43.0  17.0  2.0  43.0  6.0  1.0

In [27]:
warehouse_df4 = warehouse_df3.reset_index()
warehouse_df4

Warehouse     Status    10    12   16    19   20   21
0          Executing   0.0   0.0  0.0  19.0  9.0  0.0
1           Released  43.0  17.0  2.0  43.0  6.0  1.0

In [28]:
warehouse_df4 = warehouse_df4.rename_axis(None, axis=1)
warehouse_df4

      Status    10    12   16    19   20   21
0  Executing   0.0   0.0  0.0  19.0  9.0  0.0
1   Released  43.0  17.0  2.0  43.0  6.0  1.0

In [29]:
# Save Warehouse into JSON file
warehouse_df4.to_json('data/warehouse.json')

In [30]:
# Close connection
cnxn.close()